openapi: 3.2.0
info:
  title: MarineTraffic AIS Data Balances API
  description: Complete MarineTraffic AIS Data API covering vessel positions, events, vessels data, voyage information, ports information, routing, reverse geocoding, and power-user fleet/balance services. Backed by 13,000+ AIS receivers operated by Kpler / MarineTraffic.
  version: 1.0.0
  license:
    name: Property of Kpler
    url: https://www.kpler.com/product/maritime/data-services
  x-logo:
    url: https://www.marinetraffic.com/img/logos/Logo.png
    altText: MarineTraffic logo
    href: https://www.marinetraffic.com/en/ais/home/centerx:-12.0/centery:25.0/zoom:4
  contact:
    name: MarineTraffic
    url: https://www.marinetraffic.com/
servers:
- url: https://services.marinetraffic.com/api
tags:
- name: Balances
paths:
  /exportcredits/{api_key}:
    get:
      tags:
      - Balances
      summary: Credits Balance
      description: 'Get a snapshot of your current credits balance.


        Notes


        The frequency of allowed API calls is specific to your API key and is detailed in your contract as a number of successful calls per time period. For example “2 calls per minute”.

        Regardless of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and unsuccessful) requests per minute to ensure system stability.'
      operationId: exportcredits
      parameters:
      - $ref: '#/components/parameters/api_key'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_pu04_default'
            application/xml:
              schema:
                $ref: '#/components/schemas/200_pu04_default'
              examples:
                Default:
                  summary: Default
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<ROW>\n    <CREDITS USER_ID=\"13541873\" CREDIT_BALANCE=\"1542\" LAST_CHARGED=\"2017-01-17T12:23:24\"/>\n</ROW>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n        <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
components:
  schemas:
    200_pu04_default:
      title: Simple
      type: array
      items:
        type: object
        properties:
          USER_ID:
            type: string
            description: A uniquely assigned ID by MarineTraffic for the subject MarineTraffic registered user
          CREDIT_BALANCE:
            type: string
            description: The current Credits balance of the user
          LAST_CHARGED:
            type: string
            description: The last date and time (in UTC) that the user purchased Credits
      example:
      - USER_ID: '13541873'
        CREDIT_BALANCE: '1542'
        LAST_CHARGED: '2017-01-17T12:23:24.000Z'
    429_too_many_requests:
      title: Too many requests
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Error code
              detail:
                type: string
                description: Error message
      example:
        errors:
        - code: 1r
          detail: TOO MANY REQUESTS
  parameters:
    api_key:
      name: api_key
      in: path
      description: 'API key: 40-character hexadecimal number'
      required: true
      schema:
        type: string
x-tagGroups:
- name: Solutions
  tags:
  - Containers API
  - MT Inbox
- name: Vessel Positions
  tags:
  - AIS API
  - Vessel Historical Track
  - Vessel Positions (Legacy API)
- name: Events
  tags:
  - Single Vessel Events
  - Port Events
- name: Vessels Data
  tags:
  - Vessel Information
  - Search Vessel
- name: Voyage Info
  tags:
  - Voyage Information
  - Ports Information
  - Routing Information
- name: Geographical Info
  tags:
  - Reverse Geocoding
- name: Power User
  tags:
  - Fleets
  - Balances
  - Passage Plans
