openapi: 3.0.2
info:
  title: MarineTraffic Events API
  version: 1.0.0
  description: Port calls, berth calls, and event timelines for single vessels and entire ports — surfacing every arrival,
    departure, and berth touch detected by the global AIS network.
  contact:
    name: MarineTraffic
    url: https://www.marinetraffic.com/
servers:
- url: https://services.marinetraffic.com/api
tags:
- name: Single Vessel Events
- name: Port Events
paths:
  /portcalls/{api_key}:
    get:
      tags:
      - Single Vessel Events
      summary: Single Vessel Port Calls
      description: "Retrieve arrival and departure information of a vessel for a specific period of time. </br></br> <b>Notes</b>\
        \ <ul>\n    <li>Data is available for dates **after** 2015-01-16</li>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**MOVE_TYPE** values: 1=Departure, 0=Arrival</li>\n    <li>The <b>frequency\
        \ of allowed API calls</b> is specific to your API key and is detailed in your contract as a number of successful\
        \ calls per time period. For example “2 calls per minute”. </br>Regardless of this agreed limit, each API key is technically\
        \ restricted to a maximum of 100 total (including successful and unsuccessful) requests per minute to ensure system\
        \ stability.</li>\n</ul>"
      operationId: portcalls
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_EV01'
      - $ref: '#/components/parameters/shipid_EV01'
      - $ref: '#/components/parameters/mmsi_EV01'
      - $ref: '#/components/parameters/imo_EV01'
      - $ref: '#/components/parameters/timespan_EV01'
      - $ref: '#/components/parameters/movetype_EV01'
      - $ref: '#/components/parameters/exclude_intransit_EV01'
      - $ref: '#/components/parameters/fromdate_EV01'
      - $ref: '#/components/parameters/todate_EV01'
      - $ref: '#/components/parameters/dwt_min_EV01'
      - $ref: '#/components/parameters/dwt_max_EV01'
      - $ref: '#/components/parameters/gt_min_EV01'
      - $ref: '#/components/parameters/gt_max_EV01'
      - $ref: '#/components/parameters/market_EV01'
      - $ref: '#/components/parameters/msgtype_EV01'
      - $ref: '#/components/parameters/protocol_new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev01_default'
                - $ref: '#/components/schemas/200_ev01_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev01_default'
                - $ref: '#/components/schemas/200_ev01_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<PORTCALLS>\n    <PORTCALL SHIP_ID=\"\
                    3726902\" IMO=\"9320556\" MMSI=\"310624000\" SHIPNAME=\"QUEEN VICTORIA\" TIMESTAMP_LT=\"2020-10-19T20:56:00\"\
                    \ TIMESTAMP_UTC=\"2020-10-19T19:56:00\" MOVE_TYPE=\"1\" TYPE_NAME=\"Passenger Ship\" PORT_ID=\"22541\"\
                    \ PORT_NAME=\"PORTLAND UK ANCH\" PORT_COUNTRY_CODE=\"\" PORT_UNLOCODE=\"\" MARKET=\"\"/>\n    <PORTCALL\
                    \ SHIP_ID=\"3726902\" IMO=\"9320556\" MMSI=\"310624000\" SHIPNAME=\"QUEEN VICTORIA\" TIMESTAMP_LT=\"2020-10-19T04:11:00\"\
                    \ TIMESTAMP_UTC=\"2020-10-19T03:11:00\" MOVE_TYPE=\"0\" TYPE_NAME=\"Passenger Ship\" PORT_ID=\"22541\"\
                    \ PORT_NAME=\"PORTLAND UK ANCH\" PORT_COUNTRY_CODE=\"\" PORT_UNLOCODE=\"\" MARKET=\"\"/>\n</PORTCALLS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<PORTCALLS>\n    <PORTCALL SHIP_ID=\"\
                    3726902\" IMO=\"9320556\" MMSI=\"310624000\" SHIPNAME=\"QUEEN VICTORIA\" MOVE_TYPE=\"1\" TYPE_NAME=\"\
                    Passenger Ship\" DRAUGHT=\"80\" INTRANSIT=\"0\" DISTANCE_TRAVELLED=\"121\" VOYAGE_SPEED_AVG=\"\" VOYAGE_SPEED_MAX=\"\
                    \" VOYAGE_IDLE_TIME_MINS=\"\" ELAPSED_NOANCH=\"4444\" PORT_ID=\"22541\" PORT_NAME=\"PORTLAND UK ANCH\"\
                    \ PORT_COUNTRY_CODE=\"\" PORT_LAT=\"\" PORT_LON=\"\" PORT_UNLOCODE=\"\" TIMESTAMP_LT=\"2020-10-19T20:56:00\"\
                    \ TIMESTAMP_UTC=\"2020-10-19T19:56:00\"  MARKET=\"\"/>\n    <PORTCALL SHIP_ID=\"3726902\" IMO=\"9320556\"\
                    \ MMSI=\"310624000\" SHIPNAME=\"QUEEN VICTORIA\" MOVE_TYPE=\"0\" TYPE_NAME=\"Passenger Ship\" DRAUGHT=\"\
                    80\" INTRANSIT=\"0\" DISTANCE_TRAVELLED=\"121\" VOYAGE_SPEED_AVG=\"105\" VOYAGE_SPEED_MAX=\"197\" VOYAGE_IDLE_TIME_MINS=\"\
                    2754\" ELAPSED_NOANCH=\"3439\" PORT_ID=\"22541\" PORT_NAME=\"PORTLAND UK ANCH\" PORT_COUNTRY_CODE=\"\"\
                    \ PORT_LAT=\"\" PORT_LON=\"\" PORT_UNLOCODE=\"\" TIMESTAMP_LT=\"2020-10-19T04:11:00\" TIMESTAMP_UTC=\"\
                    2020-10-19T03:11:00\"  MARKET=\"\"/>\n</PORTCALLS>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev01_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev01_missing_ship_identifier'
                - $ref: '#/components/schemas/400_ev01_polling_range_out_of_limit'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev01_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev01_missing_ship_identifier'
                - $ref: '#/components/schemas/400_ev01_polling_range_out_of_limit'
              examples:
                Date range out of bounds:
                  summary: Date range out of bounds
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1g\" DESCRIPTION=\"DATE RANGE OUT OF BOUNDS\"/>\n    </STATUS>\n</RESPONSE>"
                Missing ship identifier:
                  summary: Missing ship identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID OR PORTID OR UNLOCODE MISSING\"/>\n  \
                    \  </STATUS>\n</RESPONSE>"
                Polling range out of limit:
                  summary: Polling range out of limit
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1f\" DESCRIPTION=\"POLLING RANGE MAXIMUM IS 190 DAYS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /vesselevents/{api_key}:
    get:
      tags:
      - Single Vessel Events
      summary: Single Vessel Events
      description: "Get event based intelligence for a vessel. </br></br> <b>Notes</b> <ul>\n    <li>Here is a <a href=\"\
        https://support.marinetraffic.com/en/articles/9552887-what-is-the-significance-of-the-marinetraffic-events\">COMPLETE\
        \ LIST OF EVENT TYPES</a> available for this endpoint. You can use these as values for the **event_type** query parameter.\
        \ </li>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and\
        \ is detailed in your contract as a number of successful calls per time period. For example “2 calls per minute”.\
        \ </br>Regardless of this agreed limit, each API key is technically restricted to a maximum of 100 total (including\
        \ successful and unsuccessful) requests per minute to ensure system stability.</li>"
      operationId: vesselevents
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_EV02'
      - $ref: '#/components/parameters/shipid_EV02'
      - $ref: '#/components/parameters/mmsi_EV02'
      - $ref: '#/components/parameters/imo_EV02'
      - $ref: '#/components/parameters/timespan_EV02'
      - $ref: '#/components/parameters/fromdate_EV02'
      - $ref: '#/components/parameters/todate_EV02'
      - $ref: '#/components/parameters/event_type_EV02'
      - $ref: '#/components/parameters/limit_events_EV02'
      - $ref: '#/components/parameters/protocol_new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_ev02_default'
            application/xml:
              schema:
                $ref: '#/components/schemas/200_ev02_default'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<EVENTS>\n    <EVENT SHIPNAME=\"QUEEN\
                    \ VICTORIA\" MMSI=\"310624000\" IMO=\"\" SHIP_ID=\"\" EVENT_ID=\"1\" EVENT_NAME=\"FIRST_DAILY_POS\" EVENT_CONTENT=\"\
                    At N 50° 12' 06.53'' - W 002° 41' 31.37''\" TIMESTAMP=\"2020-10-20T00:13:00\"/>\n    <EVENT SHIPNAME=\"\
                    QUEEN VICTORIA\" MMSI=\"310624000\" IMO=\"\" SHIP_ID=\"\" EVENT_ID=\"6\" EVENT_NAME=\"UNDERWAY\" EVENT_CONTENT=\"\
                    At N 50° 35' 15.59'' - W 002° 21' 27.11''\" TIMESTAMP=\"2020-10-19T19:56:00\"/>\n    <EVENT SHIPNAME=\"\
                    QUEEN VICTORIA\" MMSI=\"310624000\" IMO=\"\" SHIP_ID=\"\" EVENT_ID=\"16\" EVENT_NAME=\"STATUS_CHANGED\"\
                    \ EVENT_CONTENT=\"From [At Anchor] To [Underway using Engine]\" TIMESTAMP=\"2020-10-19T19:51:00\"/>\n\
                    \    <EVENT SHIPNAME=\"QUEEN VICTORIA\" MMSI=\"310624000\" IMO=\"\" SHIP_ID=\"\" EVENT_ID=\"13\" EVENT_NAME=\"\
                    DESTINATION_CHANGED\" EVENT_CONTENT=\"From [GB WEYMOUTH BAY] To [GBSOU]\" TIMESTAMP=\"2020-10-19T18:57:00\"\
                    />\n    <EVENT SHIPNAME=\"QUEEN VICTORIA\" MMSI=\"310624000\" IMO=\"\" SHIP_ID=\"\" EVENT_ID=\"15\" EVENT_NAME=\"\
                    ETA_CHANGED\" EVENT_CONTENT=\"From [2020-10-17 05:00] To [2020-10-20 21:00]\" TIMESTAMP=\"2020-10-19T18:57:00\"\
                    />\n</EVENTS>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev02_invalid_date_range'
                - $ref: '#/components/schemas/400_ev02_missing_ship_identifier'
                - $ref: '#/components/schemas/400_ev02_polling_range_out_of_limit'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev02_invalid_date_range'
                - $ref: '#/components/schemas/400_ev02_missing_ship_identifier'
                - $ref: '#/components/schemas/400_ev02_polling_range_out_of_limit'
              examples:
                Invalid date range:
                  summary: Invalid date range
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1g\" DESCRIPTION=\"DATE RANGE OUT OF BOUNDS\"/>\n    </STATUS>\n</RESPONSE>"
                Missing ship identifier:
                  summary: Missing ship identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID OR PORTID OR UNLOCODE MISSING\"/>\n  \
                    \  </STATUS>\n</RESPONSE>"
                Polling range out of limit:
                  summary: Polling range out of limit
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1f\" DESCRIPTION=\"POLLING RANGE MAXIMUM IS 190 DAYS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /berth-calls/{api_key}:
    get:
      tags:
      - Single Vessel Events
      summary: Single Vessel Berth Calls
      description: "Get berth arrival and departure information for a specific vessel. </br></br> <b>Notes</b> <ul>\n    <li>Data\
        \ is available for dates **after** 2017-07-03</li>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>More information about input parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >MARKET</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >SHIPCLASS</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: berth-calls
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_EV03'
      - $ref: '#/components/parameters/shipid_EV03'
      - $ref: '#/components/parameters/mmsi_EV03'
      - $ref: '#/components/parameters/imo_EV03'
      - $ref: '#/components/parameters/timespan_EV03'
      - $ref: '#/components/parameters/fromdate_EV03'
      - $ref: '#/components/parameters/todate_EV03'
      - $ref: '#/components/parameters/market_EV03'
      - $ref: '#/components/parameters/shipclass_EV03'
      - $ref: '#/components/parameters/dwt_min_EV03'
      - $ref: '#/components/parameters/dwt_max_EV03'
      - $ref: '#/components/parameters/gt_min_EV03'
      - $ref: '#/components/parameters/gt_max_EV03'
      - $ref: '#/components/parameters/movetype_EV03'
      - $ref: '#/components/parameters/protocol_new'
      - $ref: '#/components/parameters/msgtype_EV03'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev03_default'
                - $ref: '#/components/schemas/200_ev03_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev03_default'
                - $ref: '#/components/schemas/200_ev03_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<BERTHCALLS>\n    <BERTHCALL SHIP_ID=\"\
                    371681\" MMSI=\"310627000\" IMO=\"9241061\" DOCK_TIMESTAMP_LT=\"2020-10-14 07:18:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-14 06:18:00\" DOCK_TIMESTAMP_OFFSET=\"1.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-14 17:46:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-14 16:46:00\" UNDOCK_TIMESTAMP_OFFSET=\"1.000000\" SHIPNAME=\"QUEEN MARY 2\" TYPE_NAME=\"Passenger\
                    \ Ship\" DWT=\"19189\" GRT=\"149215\" FLAG=\"BM\" YEAR_BUILT=\"2003\" BERTH_ID=\"923\" BERTH_NAME=\"Berth\
                    \ 101\" TERMINAL_ID=\"1288\" TERMINAL_NAME=\"City Cruise Terminal\" PORT_ID=\"106\" PORT_NAME=\"SOUTHAMPTON\"\
                    \ PORT_UNLOCODE=\"GBSOU\" PORT_COUNTRY_CODE=\"GB\" DESTINATION_ID=\"\" DESTINATION=\"\" MARKET=\"\"/>\n\
                    </BERTHCALLS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<BERTHCALLS>\n    <BERTHCALL SHIP_ID=\"\
                    371681\" MMSI=\"310627000\" IMO=\"9241061\" DOCK_TIMESTAMP_LT=\"2020-10-14 07:18:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-14 06:18:00\" DOCK_TIMESTAMP_OFFSET=\"1.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-14 17:46:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-14 16:46:00\" UNDOCK_TIMESTAMP_OFFSET=\"1.000000\" SHIPNAME=\"QUEEN MARY 2\" TYPE_NAME=\"Passenger\
                    \ Ship\" DWT=\"19189\" GRT=\"149215\" FLAG=\"BM\" YEAR_BUILT=\"2003\" BERTH_ID=\"923\" BERTH_NAME=\"Berth\
                    \ 101\" TERMINAL_ID=\"1288\" TERMINAL_NAME=\"City Cruise Terminal\" PORT_ID=\"106\" PORT_NAME=\"SOUTHAMPTON\"\
                    \ PORT_UNLOCODE=\"GBSOU\" PORT_COUNTRY_CODE=\"GB\" DESTINATION_ID=\"\" DESTINATION=\"\" ARR_TIMESTAMP_LT=\"\
                    2020-10-14 06:26:00\" ARR_TIMESTAMP_UTC=\"2020-10-14 05:26:00\" ARR_DRAUGHT=\"101\" ARR_LOAD_STATUS=\"\
                    0\" DISTANCE_TRAVELLED=\"439\" VOYAGE_SPEED_AVG=\"106\" VOYAGE_SPEED_MAX=\"155\" VOYAGE_IDLE_TIME_MINS=\"\
                    37120\" PREVIOUS_NOANCH_ID=\"106\" PREVIOUS_NOANCH_TIMESTAMP=\"2020-09-16 17:22:00\" MARKET=\"\" PREVIOUS_NOANCH_NAME=\"\
                    SOUTHAMPTON\" ELAPSED_NOANCH=\"39604\" DEP_TIMESTAMP_LT=\"2020-10-14 18:00:00\" DEP_TIMESTAMP_UTC=\"2020-10-14\
                    \ 17:00:00\" DEP_DRAUGHT=\"101\" DEP_LOAD_STATUS=\"0\" PORT_OPERATION=\"0\" TIME_AT_BERTH=\"628\" TIME_AT_PORT=\"\
                    694\"/>\n</BERTHCALLS>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev03_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev03_missing_ship_identifier'
                - $ref: '#/components/schemas/400_ev03_polling_range_out_of_limit'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev03_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev03_missing_ship_identifier'
                - $ref: '#/components/schemas/400_ev03_polling_range_out_of_limit'
              examples:
                Date range out of bounds:
                  summary: Date range out of bounds
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1g\" DESCRIPTION=\"DATE RANGE OUT OF BOUNDS\"/>\n    </STATUS>\n</RESPONSE>"
                Missing ship identifier:
                  summary: Missing ship identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a8\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID OR PORTID OR UNLOCODE OR BERTHID OR TERMINALID\
                    \ MISSING\"/>\n    </STATUS>\n</RESPONSE>"
                Polling range out of limit:
                  summary: Polling range out of limit
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1m\" DESCRIPTION=\"POLLING RANGE EXCEEDED BY 15 DAYS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/portcalls/{api_key} ':
    get:
      tags:
      - Port Events
      summary: Port Calls
      description: "Retrieve arrival and departure information at a specific port for a specific period of time. </br></br>\
        \ <b>Notes</b> <ul>\n    <li>Data is available for dates **after** 2015-01-16</li>\n    <li>Information about <a href=\"\
        https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\">AIS-transmitted\
        \ data</a></li>\n    <li>**MOVE_TYPE** values: 1=Departure, 0=Arrival</li>\n    <li>The <b>frequency of allowed API\
        \ calls</b> is specific to your API key and is detailed in your contract as a number of successful calls per time\
        \ period. For example “2 calls per minute”. </br>Regardless of this agreed limit, each API key is technically restricted\
        \ to a maximum of 100 total (including successful and unsuccessful) requests per minute to ensure system stability.</li>\n\
        </ul>"
      operationId: portcalls_
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_EV01'
      - $ref: '#/components/parameters/portid_EV01'
      - $ref: '#/components/parameters/timespan_EV01'
      - $ref: '#/components/parameters/movetype_EV01'
      - $ref: '#/components/parameters/exclude_intransit_EV01'
      - $ref: '#/components/parameters/fromdate_EV01'
      - $ref: '#/components/parameters/todate_EV01'
      - $ref: '#/components/parameters/dwt_min_EV01'
      - $ref: '#/components/parameters/dwt_max_EV01'
      - $ref: '#/components/parameters/gt_min_EV01'
      - $ref: '#/components/parameters/gt_max_EV01'
      - $ref: '#/components/parameters/market_EV01'
      - $ref: '#/components/parameters/msgtype_EV01'
      - $ref: '#/components/parameters/protocol_new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev01_default'
                - $ref: '#/components/schemas/200_ev01_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev01_default'
                - $ref: '#/components/schemas/200_ev01_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<PORTCALLS>\n    <PORTCALL SHIP_ID=\"\
                    3351323\" IMO=\"0\" MMSI=\"244770588\" SHIPNAME=\"PIETERNELLA\" TIMESTAMP_LT=\"2020-10-20T12:15:00\" TIMESTAMP_UTC=\"\
                    2020-10-20T10:15:00\" MOVE_TYPE=\"0\" TYPE_NAME=\"Inland, Unknown\" PORT_ID=\"1766\" PORT_NAME=\"AMSTERDAM\"\
                    \ PORT_COUNTRY_CODE=\"\" PORT_UNLOCODE=\"\" MARKET=\"\"/>\n    <PORTCALL SHIP_ID=\"241767\" IMO=\"0\"\
                    \ MMSI=\"244690666\" SHIPNAME=\"BRABANT\" TIMESTAMP_LT=\"2020-10-20T12:14:00\" TIMESTAMP_UTC=\"2020-10-20T10:14:00\"\
                    \ MOVE_TYPE=\"1\" TYPE_NAME=\"Inland, Motor Freighter\" PORT_ID=\"1766\" PORT_NAME=\"AMSTERDAM\" PORT_COUNTRY_CODE=\"\
                    \" PORT_UNLOCODE=\"\" MARKET=\"\"/>\n    <PORTCALL SHIP_ID=\"239646\" IMO=\"9553658\" MMSI=\"244670642\"\
                    \ SHIPNAME=\"WESSEL\" TIMESTAMP_LT=\"2020-10-20T12:13:00\" TIMESTAMP_UTC=\"2020-10-20T10:13:00\" MOVE_TYPE=\"\
                    0\" TYPE_NAME=\"Inland, Motor Freighter\" PORT_ID=\"1766\" PORT_NAME=\"AMSTERDAM\" PORT_COUNTRY_CODE=\"\
                    \" PORT_UNLOCODE=\"\" MARKET=\"\"/>\n    <PORTCALL SHIP_ID=\"5866042\" IMO=\"0\" MMSI=\"244184725\" SHIPNAME=\"\
                    AMSTEL\" TIMESTAMP_LT=\"2020-10-20T12:11:00\" TIMESTAMP_UTC=\"2020-10-20T10:11:00\" MOVE_TYPE=\"0\" TYPE_NAME=\"\
                    Inland, Motor Tanker, liquid cargo, type C\" PORT_ID=\"1766\" PORT_NAME=\"AMSTERDAM\" PORT_COUNTRY_CODE=\"\
                    \" PORT_UNLOCODE=\"\" MARKET=\"\"/>\n</PORTCALLS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<PORTCALLS>\n    <PORTCALL SHIP_ID=\"\
                    213996\" IMO=\"9038232\" MMSI=\"240897000\" SHIPNAME=\"AEGEAN ACE\" MOVE_TYPE=\"1\" TYPE_NAME=\"Bunkering\
                    \ Tanker\" DRAUGHT=\"59\" INTRANSIT=\"0\" DISTANCE_TRAVELLED=\"0\" VOYAGE_SPEED_AVG=\"\" VOYAGE_SPEED_MAX=\"\
                    \" VOYAGE_IDLE_TIME_MINS=\"\" ELAPSED_NOANCH=\"672\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_COUNTRY_CODE=\"\
                    \" PORT_LAT=\"\" PORT_LON=\"\" PORT_UNLOCODE=\"GRPIR\" TIMESTAMP_LT=\"2020-10-20T13:24:00\" TIMESTAMP_UTC=\"\
                    2020-10-20T10:24:00\" MARKET=\"\"/>\n    <PORTCALL SHIP_ID=\"233849\" IMO=\"0\" MMSI=\"244630019\" SHIPNAME=\"\
                    EEMSTROOM\" MOVE_TYPE=\"0\" TYPE_NAME=\"Inland, Motor Tanker, liquid cargo, type N\" DRAUGHT=\"18\" INTRANSIT=\"\
                    0\" DISTANCE_TRAVELLED=\"76\" VOYAGE_SPEED_AVG=\"86\" VOYAGE_SPEED_MAX=\"102\" VOYAGE_IDLE_TIME_MINS=\"\
                    525\" ELAPSED_NOANCH=\"1057\" PORT_ID=\"1766\" PORT_NAME=\"AMSTERDAM\" PORT_COUNTRY_CODE=\"\" PORT_LAT=\"\
                    \" PORT_LON=\"\" PORT_UNLOCODE=\"NLAMS\" TIMESTAMP_LT=\"2020-10-20T12:23:00\" TIMESTAMP_UTC=\"2020-10-20T10:23:00\"\
                    \ MARKET=\"\"/>\n    <PORTCALL SHIP_ID=\"5567750\" IMO=\"0\" MMSI=\"237710500\" SHIPNAME=\"PILOT BOAT\
                    \ PY56\" MOVE_TYPE=\"1\" TYPE_NAME=\"Pilot Vessel\" DRAUGHT=\"0\" INTRANSIT=\"0\" DISTANCE_TRAVELLED=\"\
                    0\" VOYAGE_SPEED_AVG=\"\" VOYAGE_SPEED_MAX=\"\" VOYAGE_IDLE_TIME_MINS=\"\" ELAPSED_NOANCH=\"72\" PORT_ID=\"\
                    1\" PORT_NAME=\"PIRAEUS\" PORT_COUNTRY_CODE=\"\" PORT_LAT=\"\" PORT_LON=\"\" PORT_UNLOCODE=\"GRPIR\" TIMESTAMP_LT=\"\
                    2020-10-20T13:22:00\" TIMESTAMP_UTC=\"2020-10-20T10:22:00\" MARKET=\"\"/>\n</PORTCALLS>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev01_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev01_missing_port_identifier'
                - $ref: '#/components/schemas/400_ev01_polling_range_out_of_limit'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev01_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev01_missing_port_identifier'
                - $ref: '#/components/schemas/400_ev01_polling_range_out_of_limit'
              examples:
                Date range out of bounds:
                  summary: Date range out of bounds
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1g\" DESCRIPTION=\"DATE RANGE OUT OF BOUNDS\"/>\n    </STATUS>\n</RESPONSE>"
                Missing port identifier:
                  summary: Missing port identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID OR PORTID OR UNLOCODE MISSING\"/>\n  \
                    \  </STATUS>\n</RESPONSE>"
                Polling range out of limit:
                  summary: Polling range out of limit
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1f\" DESCRIPTION=\"POLLING RANGE MAXIMUM IS 190 DAYS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/berth-calls/{api_key} ':
    get:
      tags:
      - Port Events
      summary: Berth Calls
      description: "Retrieve arrival and departure information at a specific port, berth or terminal, for a specific period\
        \ of time. </br></br> <b>Notes</b> <ul>\n    <li>Data is available for dates **after** 2017-07-03</li>\n    <li>Information\
        \ about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>More information about input parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >MARKET</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >SHIPCLASS</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: berth-calls_
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_EV03'
      - $ref: '#/components/parameters/portid_EV03'
      - $ref: '#/components/parameters/port_unlocode_EV03'
      - $ref: '#/components/parameters/berthid_EV03'
      - $ref: '#/components/parameters/terminalid_EV03'
      - $ref: '#/components/parameters/timespan_EV03'
      - $ref: '#/components/parameters/fromdate_EV03'
      - $ref: '#/components/parameters/todate_EV03'
      - $ref: '#/components/parameters/market_EV03'
      - $ref: '#/components/parameters/shipclass_EV03'
      - $ref: '#/components/parameters/dwt_min_EV03'
      - $ref: '#/components/parameters/dwt_max_EV03'
      - $ref: '#/components/parameters/gt_min_EV03'
      - $ref: '#/components/parameters/gt_max_EV03'
      - $ref: '#/components/parameters/movetype_EV03'
      - $ref: '#/components/parameters/protocol_new'
      - $ref: '#/components/parameters/msgtype_EV03'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev03_default'
                - $ref: '#/components/schemas/200_ev03_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ev03_default'
                - $ref: '#/components/schemas/200_ev03_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<BERTHCALLS>\n    <BERTHCALL SHIP_ID=\"\
                    5567750\" MMSI=\"237710500\" IMO=\"0\" DOCK_TIMESTAMP_LT=\"2020-10-20 06:22:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 03:22:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-20 06:45:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 03:45:00\" UNDOCK_TIMESTAMP_OFFSET=\"3.000000\" SHIPNAME=\"PILOT BOAT PY56\" TYPE_NAME=\"Pilot\
                    \ Vessel\" DWT=\"\" GRT=\"\" FLAG=\"GR\" YEAR_BUILT=\"\" BERTH_ID=\"6\" BERTH_NAME=\"Container Terminal\"\
                    \ TERMINAL_ID=\"978\" TERMINAL_NAME=\"Container Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"\
                    GRPIR\" PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"1\" DESTINATION=\"PIRAEUS\"/>\n    <BERTHCALL SHIP_ID=\"\
                    213328\" MMSI=\"240612000\" IMO=\"8008254\" DOCK_TIMESTAMP_LT=\"2020-10-20 06:24:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 03:24:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-20 06:49:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 03:49:00\" UNDOCK_TIMESTAMP_OFFSET=\"3.000000\" SHIPNAME=\"IFESTOS 3\" TYPE_NAME=\"Tug\" DWT=\"\
                    \" GRT=\"191\" FLAG=\"GR\" YEAR_BUILT=\"1980\" BERTH_ID=\"6\" BERTH_NAME=\"Container Terminal\" TERMINAL_ID=\"\
                    978\" TERMINAL_NAME=\"Container Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"GRPIR\"\
                    \ PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"\" DESTINATION=\"\"/>\n    <BERTHCALL SHIP_ID=\"5567750\"\
                    \ MMSI=\"237710500\" IMO=\"0\" DOCK_TIMESTAMP_LT=\"2020-10-20 07:20:00\" DOCK_TIMESTAMP_UTC=\"2020-10-20\
                    \ 04:20:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-20 07:46:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 04:46:00\" UNDOCK_TIMESTAMP_OFFSET=\"3.000000\" SHIPNAME=\"PILOT BOAT PY56\" TYPE_NAME=\"Pilot\
                    \ Vessel\" DWT=\"\" GRT=\"\" FLAG=\"GR\" YEAR_BUILT=\"\" BERTH_ID=\"6\" BERTH_NAME=\"Container Terminal\"\
                    \ TERMINAL_ID=\"978\" TERMINAL_NAME=\"Container Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"\
                    GRPIR\" PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"1\" DESTINATION=\"PIRAEUS\"/>\n    <BERTHCALL SHIP_ID=\"\
                    283065\" MMSI=\"240144300\" IMO=\"9203344\" DOCK_TIMESTAMP_LT=\"2020-10-20 07:27:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 04:27:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-20 10:25:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 07:25:00\" UNDOCK_TIMESTAMP_OFFSET=\"3.000000\" SHIPNAME=\"VIGOROSO G\" TYPE_NAME=\"Tug\" DWT=\"\
                    100\" GRT=\"260\" FLAG=\"GR\" YEAR_BUILT=\"1999\" BERTH_ID=\"6\" BERTH_NAME=\"Container Terminal\" TERMINAL_ID=\"\
                    978\" TERMINAL_NAME=\"Container Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"GRPIR\"\
                    \ PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"3\" DESTINATION=\"PERAMA\"/>\n    <BERTHCALL SHIP_ID=\"418215\"\
                    \ MMSI=\"356205000\" IMO=\"9351581\" DOCK_TIMESTAMP_LT=\"2020-10-20 07:35:00\" DOCK_TIMESTAMP_UTC=\"2020-10-20\
                    \ 04:35:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-20 13:36:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 10:36:00\" UNDOCK_TIMESTAMP_OFFSET=\"3.000000\" SHIPNAME=\"MSC KIM\" TYPE_NAME=\"Container\
                    \ Ship\" DWT=\"53436\" GRT=\"41225\" FLAG=\"PA\" YEAR_BUILT=\"2008\" BERTH_ID=\"6\" BERTH_NAME=\"Container\
                    \ Terminal\" TERMINAL_ID=\"978\" TERMINAL_NAME=\"Container Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\"\
                    \ PORT_UNLOCODE=\"GRPIR\" PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"\" DESTINATION=\"\"/>\n</BERTHCALLS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<BERTHCALLS>\n    <BERTHCALL SHIP_ID=\"\
                    5568705\" MMSI=\"237710400\" IMO=\"0\" DOCK_TIMESTAMP_LT=\"2020-10-20 15:40:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 12:40:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"2020-10-20 15:43:00\" UNDOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 12:43:00\" UNDOCK_TIMESTAMP_OFFSET=\"3.000000\" SHIPNAME=\"PILOT BOAT PY55\" TYPE_NAME=\"Pilot\
                    \ Vessel\" DWT=\"\" GRT=\"\" FLAG=\"GR\" YEAR_BUILT=\"\" BERTH_ID=\"6\" BERTH_NAME=\"Container Terminal\"\
                    \ TERMINAL_ID=\"978\" TERMINAL_NAME=\"Container Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"\
                    GRPIR\" PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"\" DESTINATION=\"\" ARR_TIMESTAMP_LT=\"2020-10-20 15:25:00\"\
                    \ ARR_TIMESTAMP_UTC=\"2020-10-20 12:25:00\" ARR_DRAUGHT=\"0\" ARR_LOAD_STATUS=\"0\" DISTANCE_TRAVELLED=\"\
                    2\" VOYAGE_SPEED_AVG=\"166\" VOYAGE_SPEED_MAX=\"166\" VOYAGE_IDLE_TIME_MINS=\"0\" PREVIOUS_NOANCH_ID=\"\
                    1\" PREVIOUS_NOANCH_TIMESTAMP=\"2020-10-20 12:22:00\" PREVIOUS_NOANCH_NAME=\"PIRAEUS\" ELAPSED_NOANCH=\"\
                    3\" DEP_TIMESTAMP_LT=\"\" DEP_TIMESTAMP_UTC=\"\" DEP_DRAUGHT=\"\" DEP_LOAD_STATUS=\"\" PORT_OPERATION=\"\
                    \" TIME_AT_BERTH=\"3\" TIME_AT_PORT=\"\" MARKET=\"SUPPORTING VESSELS\" SHIPCLASS=\"\"/>\n    <BERTHCALL\
                    \ SHIP_ID=\"5568705\" MMSI=\"237710400\" IMO=\"0\" DOCK_TIMESTAMP_LT=\"2020-10-20 15:49:00\" DOCK_TIMESTAMP_UTC=\"\
                    2020-10-20 12:49:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"\" UNDOCK_TIMESTAMP_UTC=\"\
                    \" UNDOCK_TIMESTAMP_OFFSET=\"\" SHIPNAME=\"PILOT BOAT PY55\" TYPE_NAME=\"Pilot Vessel\" DWT=\"\" GRT=\"\
                    \" FLAG=\"GR\" YEAR_BUILT=\"\" BERTH_ID=\"9\" BERTH_NAME=\"Cruise Terminal\" TERMINAL_ID=\"979\" TERMINAL_NAME=\"\
                    Passenger Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"GRPIR\" PORT_COUNTRY_CODE=\"\
                    GR\" DESTINATION_ID=\"\" DESTINATION=\"\" ARR_TIMESTAMP_LT=\"2020-10-20 15:25:00\" ARR_TIMESTAMP_UTC=\"\
                    2020-10-20 12:25:00\" ARR_DRAUGHT=\"0\" ARR_LOAD_STATUS=\"0\" DISTANCE_TRAVELLED=\"2\" VOYAGE_SPEED_AVG=\"\
                    166\" VOYAGE_SPEED_MAX=\"166\" VOYAGE_IDLE_TIME_MINS=\"0\" PREVIOUS_NOANCH_ID=\"1\" PREVIOUS_NOANCH_TIMESTAMP=\"\
                    2020-10-20 12:22:00\" PREVIOUS_NOANCH_NAME=\"PIRAEUS\" ELAPSED_NOANCH=\"3\" DEP_TIMESTAMP_LT=\"\" DEP_TIMESTAMP_UTC=\"\
                    \" DEP_DRAUGHT=\"\" DEP_LOAD_STATUS=\"\" PORT_OPERATION=\"\" TIME_AT_BERTH=\"\" TIME_AT_PORT=\"\" MARKET=\"\
                    SUPPORTING VESSELS\" SHIPCLASS=\"\"/>\n    <BERTHCALL SHIP_ID=\"207725\" MMSI=\"237247600\" IMO=\"8859184\"\
                    \ DOCK_TIMESTAMP_LT=\"2020-10-20 15:45:00\" DOCK_TIMESTAMP_UTC=\"2020-10-20 12:45:00\" DOCK_TIMESTAMP_OFFSET=\"\
                    3.000000\" UNDOCK_TIMESTAMP_LT=\"\" UNDOCK_TIMESTAMP_UTC=\"\" UNDOCK_TIMESTAMP_OFFSET=\"\" SHIPNAME=\"\
                    FLYING DOLPHIN ATHINA\" TYPE_NAME=\"Hydrofoil\" DWT=\"\" GRT=\"161\" FLAG=\"GR\" YEAR_BUILT=\"1991\" BERTH_ID=\"\
                    10\" BERTH_NAME=\"Akti Miaouli\" TERMINAL_ID=\"979\" TERMINAL_NAME=\"Passenger Terminal\" PORT_ID=\"1\"\
                    \ PORT_NAME=\"PIRAEUS\" PORT_UNLOCODE=\"GRPIR\" PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"\" DESTINATION=\"\
                    \" ARR_TIMESTAMP_LT=\"2020-10-20 15:38:00\" ARR_TIMESTAMP_UTC=\"2020-10-20 12:38:00\" ARR_DRAUGHT=\"18\"\
                    \ ARR_LOAD_STATUS=\"0\" DISTANCE_TRAVELLED=\"17\" VOYAGE_SPEED_AVG=\"299\" VOYAGE_SPEED_MAX=\"310\" VOYAGE_IDLE_TIME_MINS=\"\
                    0\" PREVIOUS_NOANCH_ID=\"6\" PREVIOUS_NOANCH_TIMESTAMP=\"2020-10-20 12:06:00\" PREVIOUS_NOANCH_NAME=\"\
                    AEGINA\" ELAPSED_NOANCH=\"32\" DEP_TIMESTAMP_LT=\"\" DEP_TIMESTAMP_UTC=\"\" DEP_DRAUGHT=\"\" DEP_LOAD_STATUS=\"\
                    \" PORT_OPERATION=\"\" TIME_AT_BERTH=\"\" TIME_AT_PORT=\"\" MARKET=\"PASSENGER SHIPS\" SHIPCLASS=\"\"\
                    />\n    <BERTHCALL SHIP_ID=\"207132\" MMSI=\"237021400\" IMO=\"8969343\" DOCK_TIMESTAMP_LT=\"2020-10-20\
                    \ 15:46:00\" DOCK_TIMESTAMP_UTC=\"2020-10-20 12:46:00\" DOCK_TIMESTAMP_OFFSET=\"3.000000\" UNDOCK_TIMESTAMP_LT=\"\
                    \" UNDOCK_TIMESTAMP_UTC=\"\" UNDOCK_TIMESTAMP_OFFSET=\"\" SHIPNAME=\"AGIOS NEKTARIOS AIGINAS\" TYPE_NAME=\"\
                    Ro-Ro/Passenger Ship\" DWT=\"227\" GRT=\"1871\" FLAG=\"GR\" YEAR_BUILT=\"1999\" BERTH_ID=\"10\" BERTH_NAME=\"\
                    Akti Miaouli\" TERMINAL_ID=\"979\" TERMINAL_NAME=\"Passenger Terminal\" PORT_ID=\"1\" PORT_NAME=\"PIRAEUS\"\
                    \ PORT_UNLOCODE=\"GRPIR\" PORT_COUNTRY_CODE=\"GR\" DESTINATION_ID=\"\" DESTINATION=\"\" ARR_TIMESTAMP_LT=\"\
                    2020-10-20 15:35:00\" ARR_TIMESTAMP_UTC=\"2020-10-20 12:35:00\" ARR_DRAUGHT=\"27\" ARR_LOAD_STATUS=\"\
                    0\" DISTANCE_TRAVELLED=\"16\" VOYAGE_SPEED_AVG=\"128\" VOYAGE_SPEED_MAX=\"131\" VOYAGE_IDLE_TIME_MINS=\"\
                    0\" PREVIOUS_NOANCH_ID=\"6\" PREVIOUS_NOANCH_TIMESTAMP=\"2020-10-20 11:24:00\" PREVIOUS_NOANCH_NAME=\"\
                    AEGINA\" ELAPSED_NOANCH=\"71\" DEP_TIMESTAMP_LT=\"\" DEP_TIMESTAMP_UTC=\"\" DEP_DRAUGHT=\"\" DEP_LOAD_STATUS=\"\
                    \" PORT_OPERATION=\"\" TIME_AT_BERTH=\"\" TIME_AT_PORT=\"\" MARKET=\"PASSENGER SHIPS\" SHIPCLASS=\"\"\
                    />\n</BERTHCALLS>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev03_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev03_missing_port_identifier'
                - $ref: '#/components/schemas/400_ev03_polling_range_out_of_limit'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ev03_date_range_out_of_bounds'
                - $ref: '#/components/schemas/400_ev03_missing_port_identifier'
                - $ref: '#/components/schemas/400_ev03_polling_range_out_of_limit'
              examples:
                Date range out of bounds:
                  summary: Date range out of bounds
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1g\" DESCRIPTION=\"DATE RANGE OUT OF BOUNDS\"/>\n    </STATUS>\n</RESPONSE>"
                Missing port identifier:
                  summary: Missing port identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a8\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID OR PORTID OR UNLOCODE OR BERTHID OR TERMINALID\
                    \ MISSING\"/>\n    </STATUS>\n</RESPONSE>"
                Polling range out of limit:
                  summary: Polling range out of limit
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1m\" DESCRIPTION=\"POLLING RANGE EXCEEDED BY 15 DAYS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
components:
  parameters:
    api_key:
      name: api_key
      in: path
      description: 'API key: 40-character hexadecimal number'
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      description: The pagination cursor provided in the metadata section of the previous response
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The limit of vessels per page (min=1000, max=5000)
      required: false
      schema:
        type: integer
        default: 2000
    protocol_mandatory:
      name: protocol
      in: query
      description: "Response type. Use one of the following: <ul>\n  <li>jsono</li>\n  <li>csv</li>"
      required: false
      schema:
        type: string
        default: jsono
    protocol_new:
      name: protocol
      in: query
      description: "Response type. Use one of the following: <ul>\n  <li>xml</li>\n  <li>csv</li>\n  <li>jsono</li>"
      required: false
      schema:
        type: string
        default: xml
    v_PS01:
      name: v
      in: query
      description: Version of the service to be executed. Use version 3 to get the latest
      schema:
        type: integer
        default: 1
    shipid_PS01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_PS01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_PS01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    days_PS01:
      name: days
      in: query
      description: The number of days, starting from the time of request and going backwards, for which the response should
        look for position data </br></br> Maximum value is 190 (days)
      required: true
      schema:
        type: integer
    fromdate_PS01:
      name: fromdate
      in: query
      description: Use with todate <b>instead</b> of days to get data for a date period
      required: false
      schema:
        type: string
        format: date-time
    todate_PS01:
      name: todate
      in: query
      description: Use with fromdate <b>instead</b> of days to get data for a date period
      required: false
      schema:
        type: string
        format: date-time
    period_PS01:
      name: period
      in: query
      description: "Limit position per vessel. Omit to get all the available positions </br></br> Values are: <ul>\n  <li>hourly:\
        \ get one position per hour</li>\n  <li>daily: get one position per day</li>\n</ul>"
      required: false
      schema:
        type: string
    msgtype_PS01:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes also weather data"
      required: false
      schema:
        type: string
        default: simple
    protocol:
      name: protocol
      in: query
      description: "Response type. Use one of the following: <ul>\n  <li>xml</li>\n  <li>csv</li>\n  <li>json</li>\n  <li>jsono</li>"
      required: false
      schema:
        type: string
        default: xml
    MINLAT_PS01:
      name: MINLAT
      in: query
      description: Use with MAXLAT, MINLON, MAXLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    MAXLAT_PS01:
      name: MAXLAT
      in: query
      description: Use with MINLAT, MINLON, MAXLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    MINLON_PS01:
      name: MINLON
      in: query
      description: Use with MINLAT, MAXLAT, MAXLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    MAXLON_PS01:
      name: MAXLON
      in: query
      description: Use with MINLAT, MAXLAT, MINLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    shipid_PS01_2:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: false
      schema:
        type: integer
    v_PS02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS02:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions.  </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS02:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS02:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS03:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    vessel_type:
      name: vesseltypeid
      in: query
      description: Filter vessels based on vessel types, comma separated ids supported </br></br><a href="https://support.marinetraffic.com/en/articles/9552888-what-is-the-significance-of-the-marinetraffic-ship-types"
        target='_blank'>more</a>
      required: false
      schema:
        type: integer
    timespan_PS03:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS03:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS03:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS04:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS04:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS04:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS04:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS05:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS05:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS05:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS05:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li> full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS06:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    v_MTA030AD_1:
      name: v
      in: query
      description: Use latest version **9**
      required: true
      schema:
        type: integer
    v_MTA030AD_2:
      name: v
      in: query
      description: Use latest version **2**
      required: true
      schema:
        type: integer
    v_MTA030AD_3:
      name: v
      in: query
      description: Use latest version **6**
      required: true
      schema:
        type: integer
    timespan_PS06:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS06:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    MAXLAT_PS06:
      name: MAXLAT
      in: query
      description: Use with MINLAT, MINLON, MAXLON to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    MINLON_PS06:
      name: MINLON
      in: query
      description: Use with MINLAT, MAXLAT, MAXLON to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    MAXLON_PS06:
      name: MAXLON
      in: query
      description: Use with MINLAT, MINLON, MAXLAT to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    MINLAT_PS06:
      name: MINLAT
      in: query
      description: Use with MAXLAT, MINLON, MAXLON to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    msgtype_PS06:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS07:
      name: v
      in: query
      description: Version of the service to be executed. Use version 5 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_PS07:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    imo_PS07:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    mmsi_PS07:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_PS07:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 2
    msgtype_PS07:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes scheduled static and voyage related vessel data report (AIS\
        \ Message 5). In this case your request frequency might be limited (depending on your service terms) </br></br> If\
        \ omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS08:
      name: v
      in: query
      description: Version of the service to be executed. Use version 1 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS08:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 5
    shiptype_generic_PS08:
      name: shiptype_generic
      in: query
      description: Filter vessels based on generic vessel types, comma separated values supported </br></br> Vessel type ID
        should be used and not vessel type name (2=Fishing / 4=High Speed Craft / 6=Passenger / 7=Cargo / 8=Tanker) </br></br>
        Should not be combined with shiptype_detailed filter
      required: false
      schema:
        type: integer
    shiptype_detailed_PS08:
      name: shiptype_detailed
      in: query
      description: Filter vessels based on detailed vessel types, comma separated values supported </br></br> Vessel type
        ID should be used and not vessel type name - <a href="https://support.marinetraffic.com/en/articles/9552888-what-is-the-significance-of-the-marinetraffic-ship-types"                                 target='_blank'>more</a>
        </br></br> Should not be combined with shiptype_generic filter
      required: false
      schema:
        type: integer
    msgtype_PS08:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    timespan_MTA030AD:
      name: timespan
      in: query
      description: Overrides the default timespan
      required: false
      schema:
        type: integer
        default: 5
    v_EV01:
      name: v
      in: query
      description: Version of the service to be executed. Use version 6 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_EV01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_EV01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_EV01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_EV01:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned port calls. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 2
    movetype_EV01:
      name: movetype
      in: query
      description: Use 0 to only receive arrivals or 1 to only receive departures. If not used, the response will include
        both
      required: false
      schema:
        type: integer
    exclude_intransit_EV01:
      name: exclude_intransit
      in: query
      description: Use 1 to exclude vessels in transit
      required: false
      schema:
        type: integer
    fromdate_EV01:
      name: fromdate
      in: query
      description: 'Portcalls between fromdate and todate. Maximum period requested 190 days </br></br> Date format: YYYY-MM-DD
        HH:MM'
      required: false
      schema:
        type: string
        format: date-time
    todate_EV01:
      name: todate
      in: query
      description: 'Portcalls between fromdate and todate. Maximum period requested 190 days </br></br> Date format: YYYY-MM-DD
        HH:MM'
      required: false
      schema:
        type: string
        format: date-time
    dwt_min_EV01:
      name: dwt_min
      in: query
      description: 'Data filter: minimum DWT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    dwt_max_EV01:
      name: dwt_max
      in: query
      description: 'Data filter: maximum DWT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    gt_min_EV01:
      name: gt_min
      in: query
      description: 'Data filter: minimum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    gt_max_EV01:
      name: gt_max
      in: query
      description: 'Data filter: maximum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    market_EV01:
      name: market
      in: query
      description: Define market(s) for which you would like to receive port calls (single or comma separated values) - <a
        href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
      required: false
      schema:
        type: string
    msgtype_EV01:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related data since the previous port call"
      required: false
      schema:
        type: string
        default: simple
    v_EV02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_EV02:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_EV02:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_EV02:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_EV02:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned port calls. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 60
    fromdate_EV02:
      name: fromdate
      in: query
      description: 'Vessel Events between fromdate and todate </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    todate_EV02:
      name: todate
      in: query
      description: 'Vessel Events between fromdate and todate </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    event_type_EV02:
      name: event_type
      in: query
      description: You may use one or more event ids in comma separated format for the events you wish to receive
      required: false
      schema:
        type: integer
    limit_events_EV02:
      name: limit_events
      in: query
      description: Limit the number of results
      required: false
      schema:
        type: integer
    v_EV03:
      name: v
      in: query
      description: Version of the service to be executed. Use version 3 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_EV03:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_EV03:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_EV03:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_EV03:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned port calls. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 2
    fromdate_EV03:
      name: fromdate
      in: query
      description: 'Return Berth Calls where DOCK_TIMESTAMP_UTC is equal to or greater than provided fromdate. Maximum period
        requested 15 days </br></br> Date format: YYYY-MM-DD HH:MM:SS.'
      required: false
      schema:
        type: string
        format: date-time
    todate_EV03:
      name: todate
      in: query
      description: 'Return Berth Calls where DOCK_TIMESTAMP_UTC is equal to or less than provided todate. Maximum period requested
        15 days </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    market_EV03:
      name: market
      in: query
      description: "Define market for which you would like to receive berth calls - <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >more</a> <ul>\n  <li>if undefined and ship-class is also undefined, then return all</li>\n  <li>if undefined and\
        \ ship-class is defined, return based on ship-class</li>\n  <li>if defined and ship-class is undefined, return all\
        \ ship-classes of the specific market</li>\n</ul>"
      required: false
      schema:
        type: string
    shipclass_EV03:
      name: shipclass
      in: query
      description: Define ship class of interest - <a href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
      required: false
      schema:
        type: integer
    dwt_min_EV03:
      name: dwt_min
      in: query
      description: 'Data filter: minimum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8)'
      required: false
      schema:
        type: integer
    dwt_max_EV03:
      name: dwt_max
      in: query
      description: 'Data filter: maximum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8)'
      required: false
      schema:
        type: integer
    gt_min_EV03:
      name: gt_min
      in: query
      description: 'Data filter: minimum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    gt_max_EV03:
      name: gt_max
      in: query
      description: 'Data filter: maximum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    movetype_EV03:
      name: movetype
      in: query
      description: Use 0 to include both, 1 to only receive dockings or 2 for only undockings within the defined period. If
        not used, only dockings are returned </br></br> <b>Available only from version 2 of the service</b>
      required: false
      schema:
        type: integer
    msgtype_EV03:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related data since the previous port call"
      required: false
      schema:
        type: string
        default: simple
    portid_EV01:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to monitor (found on the URL of the respective Port page) or
        port UN/LOCODE
      required: true
      schema:
        type: integer
    portid_EV03:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to monitor (found on the URL of the respective Port page) </br></br>
        You can <b>instead</b> use port_unlocode, berthid or terminalid
      required: true
      schema:
        type: integer
    port_unlocode_EV03:
      name: port_unlocode
      in: query
      description: Port UN LOCODE (without gaps or spaces)
      required: false
      schema:
        type: integer
    berthid_EV03:
      name: berthid
      in: query
      description: 'The MarineTraffic ID of the berth you wish to monitor (list to be provided upon request) '
      required: false
      schema:
        type: integer
    terminalid_EV03:
      name: terminalid
      in: query
      description: The MarineTraffic ID of the terminal you wish to monitor (list to be provided upon request)
      required: false
      schema:
        type: integer
    vessel_id_VD01:
      name: vessel_id
      in: query
      description: The Maritime Mobile Service Identity (MMSI) or the IMO number of the vessel </br></br> You can <b>instead</b>
        use shipid
      required: true
      schema:
        type: integer
    shipid_VD01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    v_VD02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 5 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    msgtype_VD02:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  </ul>"
      required: false
      schema:
        type: string
        default: simple
    mmsi_VD02:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track (single or comma separated
        values) </br></br> You can <b>instead</b> use imo or shipid
      required: true
      schema:
        type: integer
    imo_VD02:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track (single or comma separated
        values)
      required: false
      schema:
        type: integer
    shipid_VD02:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel (single or comma separated values)
      required: false
      schema:
        type: integer
    timespan_VD02:
      name: timespan
      in: query
      description: The timespan parameter defines the period of time, during which we want to receive the change in a vessel's
        details </br></br> The maximum value can be either 5 when the interval parameter is set to days or 2880 when the interval
        is set to minutes
      required: false
      schema:
        type: integer
    interval_VD02:
      name: interval
      in: query
      description: The interval parameter can be either minutes or days
      required: false
      schema:
        type: string
        default: minutes
    page_VD02:
      name: page
      in: query
      description: Page number of the results to be returned
      required: false
      schema:
        type: integer
        default: 1
    shipid_VD03:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use  mmsi
        or imo
      required: true
      schema:
        type: integer
    mmsi_VD03:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> <b>NOTE:</b> Using
        MMSI may potentially return multiple records as multiple vessels might have transponded the same MMSI
      required: false
      schema:
        type: integer
    imo_VD03:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track </br></br> <b>NOTE:</b>
        Using IMO may potentially return multiple records as multiple vessels might have transponded the same IMO
      required: false
      schema:
        type: integer
    shiptype_VD03:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    type_name_id_VD03:
      name: type_name_id
      in: query
      description: 'Data filter: AIS Shiptype </br></br> Find more information <a href="https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number">here</a>'
      required: false
      schema:
        type: integer
    shipname_VD03:
      name: shipname
      in: query
      description: The vessel name. The results will contain all vessels whose name is like the given words
      required: true
      schema:
        type: string
    v_VI01:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    mmsi_VI01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    msgtype_VI01:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related information (eg. distance travelled and to-go,\
        \ load condition) and the estimated route to the vessel's destination"
      required: false
      schema:
        type: string
        default: simple
    fleet_id_VI01:
      name: fleet_id
      in: query
      description: The fleet id you wish to receive voyage forecast for
      required: true
      schema:
        type: integer
    mmsi_VI04:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI04:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI04:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    fromportid_VI04:
      name: fromportid
      in: query
      description: The MarineTraffic ID of the port you wish to receive a prediction (found on the URL of the respective Port
        page)
      required: false
      schema:
        type: integer
    fleet_id_VI04:
      name: fleet_id
      in: query
      description: The MarineTraffic ID of the fleet you wish to track
      required: true
      schema:
        type: integer
    v_VI07:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    portid_VI07:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to receive ETA info </br></br> You can <b>instead</b> use unlocode
      required: true
      schema:
        type: integer
    unlocode_VI07:
      name: unlocode
      in: query
      description: The UN LOCODE (without gaps or spaces) of the port you wish to receive ETA info
      required: false
      schema:
        type: string
    mmsi_VI07:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI07:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI07:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    speed_calc_VI07:
      name: speed_calc
      in: query
      description: "The Speed of the Vessel that MarineTraffic will use to produce the ETA value <ul>\n  <li>if not defined\
        \ the last average speed of the Vessel will be used</li>\n  <li>if no average speed exists then a default value of\
        \ 12(kn) will be used</li>\n</ul>"
      required: false
      schema:
        type: integer
    msgtype_VI07:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related data"
      required: false
      schema:
        type: string
        default: simple
    v_VI02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 4 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    portid_VI02:
      name: portid
      in: query
      description: The MarineTraffic ID of the port (found on the URL of the respective Port page)
      required: true
      schema:
        type: integer
    timespan_VI02:
      name: timespan
      in: query
      description: Number of days in the future to look for expected arrivals, starting from the time the API call is requested
        </br></br> Maximum value is 40 days </br></br> If neither this nor the fromdate/todate parameters are used, the response
        only includes vessels currently in port (or the country’s ports) and the last vessel's signal is received during the
        last 2 days
      required: false
      schema:
        type: integer
    days_last_signal_VI02:
      name: days_last_signal
      in: query
      description: Include vessels currently in port that have transmitted a position within the last x days (based on their
        last signal timestamp). </br></br> This parameter only works when no other timeframe is defined.
      required: false
      schema:
        type: integer
    fromdate_VI02:
      name: fromdate
      in: query
      description: 'Timestamp in the future to start looking for expected arrivals. If used, then you should also define the
        todate parameter </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    todate_VI02:
      name: todate
      in: query
      description: 'Timestamp in the future to start looking for expected arrivals. If used, then you should also define the
        fromdate parameter </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    fromportid_VI02:
      name: fromportid
      in: query
      description: The MarineTraffic ID of the previous port (found on the URL of the respective Port page) or previous port
        UNLOCODE
      required: false
      schema:
        type: integer
    shiptype_VI02:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    dwt_min_VI02:
      name: dwt_min
      in: query
      description: 'Data filter: minimum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8). If used, then you should also define the dwt_max parameter'
      required: false
      schema:
        type: integer
    dwt_max_VI02:
      name: dwt_max
      in: query
      description: 'Data filter: maximum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8). If used, then you should also define the dwt_min parameter'
      required: false
      schema:
        type: integer
    gt_min_VI02:
      name: gt_min
      in: query
      description: 'Data filter: minimum GT </br></br> Applicable to IMO-having vessels. If used, then you should also define
        the gt_max parameter'
      required: false
      schema:
        type: integer
    gt_max_VI02:
      name: gt_max
      in: query
      description: 'Data filter: maximum GT </br></br> Applicable to IMO-having vessels. If used, then you should also define
        the gt_min parameter'
      required: false
      schema:
        type: integer
    msgtype_VI02:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, apart from the ETA information, the response includes main vessel particulars. If\
        \ omitted, the returned records include only position and ETA reports"
      required: false
      schema:
        type: string
        default: simple
    country_VI02:
      name: country
      in: query
      description: The Country code of interest. Response includes all ports within the Country
      required: true
      schema:
        type: integer
    portid_VI05:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to receive probable visits (found on the URL of the respective
        Port page)
      required: true
      schema:
        type: integer
    market_VI05:
      name: market
      in: query
      description: "Define market for which you would like to receive probable visits - <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >more</a> <ul>\n  <li>if undefined and ship-class is also undefined, then return all </li>\n  <li>if undefined and\
        \ ship-class is defined, return based on ship-class</li>\n  <li>If defined and ship-class is undefined, return all\
        \ ship-classes of the specific market</li>\n</ul>"
      required: false
      schema:
        type: integer
    shipclass_VI05:
      name: shipclass
      in: query
      description: Define ship class of interest - <a href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
      required: false
      schema:
        type: integer
    probability_VI05:
      name: probability
      in: query
      description: Define probability over which you would like to receive probable visits (accepted > 0.3)
      required: false
      schema:
        type: integer
    portid_VI06:
      name: portid
      in: query
      description: The MarineTraffic ID of the port for which you wish to retrieve congestion metrics (found on the URL of
        the respective Port page). </br></br> If you wish to retrieve congestion metrics for all ports, instead of <b>portid</b>
        use <b>agg_port=1</b>
      required: true
      schema:
        type: integer
    year_VI06:
      name: year
      in: query
      description: Year of interest (data available back to 1 year). Information further back can be requested ad-hoc
      required: true
      schema:
        type: integer
    week_VI06:
      name: week
      in: query
      description: Week of Year that is of interest (e.g. for week 18/2018 input 18). For range of weeks use comma e.g. for
        weeks 30 to 35 (30,35)
      required: true
      schema:
        type: integer
    market_VI06:
      name: market
      in: query
      description: "Define market for which you would like to receive port congestion - <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >more</a> <ul>\n  <li>if undefined and ship-class is also undefined, then figures for ALL markets/ship-class</li>\n\
        \  <li>if undefined and ship-class is defined, returns based on ship-class for ALL applicable to size class markets</li>\n\
        \  <li>if defined and ship-class is undefined, returns figures for the specific market (no size class breakdown)</li>\n\
        </ul> </br></br> If you wish to retrieve congestion metrics for all markets, instead of <b>market</b> use <b>agg_market</b>\
        \ query parameter (=0 or =1)"
      required: true
      schema:
        type: integer
    shipclass_VI06:
      name: shipclass
      in: query
      description: Define ship class of interest - <a href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
        </br></br> If you wish to retrieve congestion metrics for all ship classes, instead of <b>shipclass</b> use <b>agg_shipclass</b>
        query parameter (=0 or =1)
      required: true
      schema:
        type: integer
    agg_port_VI06:
      name: agg_port
      in: query
      description: "**If used, portid should not be in request** <ul>\n  <li>when agg_port = 1 is used, aggregation result\
        \ of all ports are returned</li>\n  <li>when agg_port = 1 is used, agg_market cannot be 1</li>\n</ul>"
      required: false
      schema:
        type: integer
    agg_market_VI06:
      name: agg_market
      in: query
      description: "**If used, market should not be in request** <ul>\n  <li>if agg_market = 1, aggregation result of all\
        \ markets will be returned</li>\n  <li>if 0, a breakdown of markets will be returned</li>\n</ul>"
      required: false
      schema:
        type: integer
    agg_shipclass_VI06:
      name: agg_shipclass
      in: query
      description: "**If used, shipclass should not be in request** <ul>\n  <li>if agg_shipclass = 1, aggregation result of\
        \ all classes will be returned</li>\n  <li>if 0, a breakdown of classes will be returned</li>\n</ul>"
      required: false
      schema:
        type: integer
    time_anch_VI06:
      name: time_anch
      in: query
      description: 'The median number of days spent at anchorage by the selected market/shipclass.

        Values indicate in between set to be returned </br></br> Comma separated float

        numbers (one decimal)

        </br></br><b>Available only if extended version of the API is used</b>'
      required: false
      schema:
        type: string
    time_port_VI06:
      name: time_port
      in: query
      description: The median number of days spent at port by the selected market/shipclass. Values indicate in between set
        to be returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if extended version
        of the API is used</b>
      required: false
      schema:
        type: string
    vessels_VI06:
      name: vessels
      in: query
      description: Number of vessels that were used in the median calculations. Value of parameter indicates greater than
        relation </br></br><b>Available only if extended version of the API is used</b>
      required: false
      schema:
        type: integer
    calls_VI06:
      name: calls
      in: query
      description: Number of individual calls that were used in the median calculations (e.g. if the same vessel has called
        twice within the same week, it will count twice in calls and once in vessels. Value of parameter indicates greater
        than relation </br></br><b>Available only if extended version of the API is used</b>
      required: false
      schema:
        type: integer
    time_anch_stdev_VI06:
      name: time_anch_stdev
      in: query
      description: The standard deviation of days spent at anchorage the previous week. Values indicate in between set to
        be returned (time_anch_stdev:0.5,1.5) </br></br> Comma separated float numbers (one decimal) </br></br><b>Available
        only if full version of the API is used</b>
      required: false
      schema:
        type: string
    time_anch_diff_VI06:
      name: time_anch_diff
      in: query
      description: The week-to-week difference of number of days spent at anchorage. Values indicate in between set to be
        returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version of the
        API is used</b>
      required: false
      schema:
        type: string
    time_anch_diff_perc_VI06:
      name: time_anch_diff_perc
      in: query
      description: The week-to-week difference of number of days spent at anchorage as a percentage. Values indicate in between
        set to be returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version
        of the API is used</b>
      required: false
      schema:
        type: string
    time_port_stdev_VI06:
      name: time_port_stdev
      in: query
      description: The standard deviation of days spent at port the previous week. Values indicate in between set to be returned
        (time_port_stdev:0.5,1.5) </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full
        version of the API is used</b>
      required: false
      schema:
        type: string
    time_port_diff_VI06:
      name: time_port_diff
      in: query
      description: The week-to-week difference of number of days spent at port. Values indicate in between set to be returned
        </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version of the API is used</b>
      required: false
      schema:
        type: string
    time_port_diff_perc_VI06:
      name: time_port_diff_perc
      in: query
      description: The week-to-week difference of number of days spent at port as a percentage. Values indicate in between
        set to be returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version
        of the API is used</b>
      required: false
      schema:
        type: string
    mmsi_VI03:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI03:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI03:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    port_target_id_VI03:
      name: port_target_id
      in: query
      description: The MarineTraffic ID of the port you wish to put as target port (found on the URL of the respective Port
        page) or port UN/LOCODE
      required: true
      schema:
        type: integer
    includealternatives_VI03:
      name: includealternatives
      in: query
      description: Use 1 to search for all available routes regarding the specific journey or 0 to not include alternative
        routes
      required: false
      schema:
        type: integer
    includeinland_VI03:
      name: includeinland
      in: query
      description: Use 1 in order to receive routes which include inland waterways or 0 to not include alternative routes
      required: false
      schema:
        type: integer
    msgtype_VI03:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes also route/waypoints as Linestring Geometry in WKT - Well-Known\
        \ Text"
      required: false
      schema:
        type: string
        default: simple
    port_start_id_VI03:
      name: port_start_id
      in: query
      description: The MarineTraffic ID of the port you wish to put as starting point (found on the URL of the respective
        Port page) or port UN/LOCODE
      required: true
      schema:
        type: integer
    LAT_VI03:
      name: LAT
      in: query
[...]
