openapi: 3.0.2
info:
  title: MarineTraffic Ports Information API
  version: 1.0.0
  description: Expected port arrivals, predictive arrivals, and port congestion intelligence powered by live AIS, port-call
    history, and predictive routing.
  contact:
    name: MarineTraffic
    url: https://www.marinetraffic.com/
servers:
- url: https://services.marinetraffic.com/api
tags:
- name: Ports Information
paths:
  /expectedarrivals/{api_key}:
    get:
      tags:
      - Ports Information
      summary: Expected Port Arrivals
      description: "Get expected arrivals to a specific port. </br></br> <b>Notes</b> <ul>\n    <li>**SPEED** returned in\
        \ (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>Use either **TIMESPAN** or **FROMDATE/TODATE** in order to look\
        \ for expected arrivals in a specific date range</li>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and\
        \ is detailed in your contract as a number of successful calls per time period. For example “2 calls per minute”.\
        \ </br>Regardless of this agreed limit, each API key is technically restricted to a maximum of 100 total (including\
        \ successful and unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: expectedarrivals
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_VI02'
      - $ref: '#/components/parameters/portid_VI02'
      - $ref: '#/components/parameters/timespan_VI02'
      - $ref: '#/components/parameters/days_last_signal_VI02'
      - $ref: '#/components/parameters/fromdate_VI02'
      - $ref: '#/components/parameters/todate_VI02'
      - $ref: '#/components/parameters/fromportid_VI02'
      - $ref: '#/components/parameters/shiptype_VI02'
      - $ref: '#/components/parameters/dwt_min_VI02'
      - $ref: '#/components/parameters/dwt_max_VI02'
      - $ref: '#/components/parameters/gt_min_VI02'
      - $ref: '#/components/parameters/gt_max_VI02'
      - $ref: '#/components/parameters/msgtype_VI02'
      - $ref: '#/components/parameters/protocol_new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_vi02_default'
                - $ref: '#/components/schemas/200_vi02_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_vi02_default'
                - $ref: '#/components/schemas/200_vi02_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<ETA>\n    <VESSEL_ETA MMSI=\"229001000\"\
                    \ IMO=\"7827213\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.938690\" LON=\"23.634480\" SPEED=\"0\" COURSE=\"\
                    129\" STATUS=\"5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"\
                    GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\"\
                    \ ETA=\"2021-03-14T05:40:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:58:08\"/>\n   \
                    \ <VESSEL_ETA MMSI=\"201100129\" IMO=\"\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.943630\" LON=\"23.631900\"\
                    \ SPEED=\"0\" COURSE=\"0\" STATUS=\"5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\"\
                    \ CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\
                    \" ETA=\"2020-10-26T08:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:57:24\"/>\n  \
                    \  <VESSEL_ETA MMSI=\"636092659\" IMO=\"\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.949450\" LON=\"23.601120\"\
                    \ SPEED=\"0\" COURSE=\"0\" STATUS=\"5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\"\
                    \ CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\"\
                    \ NEXT_PORT_COUNTRY=\"GR\" ETA=\"2020-10-18T10:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:55:08\"\
                    />\n    <VESSEL_ETA MMSI=\"241683000\" IMO=\"\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.949330\" LON=\"23.599670\"\
                    \ SPEED=\"0\" COURSE=\"333\" STATUS=\"5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\"\
                    \ CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\"\
                    \ NEXT_PORT_COUNTRY=\"GR\" ETA=\"2020-09-08T12:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T09:00:03\"\
                    />\n    <VESSEL_ETA MMSI=\"241654000\" IMO=\"\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.952920\" LON=\"23.581480\"\
                    \ SPEED=\"0\" COURSE=\"106\" STATUS=\"5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\"\
                    \ CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\"\
                    \ NEXT_PORT_COUNTRY=\"GR\" ETA=\"2020-05-07T11:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:57:57\"\
                    />\n</ETA>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<ETA>\n    <VESSEL_ETA IMO=\"7827213\"\
                    \ MMSI=\"229001000\" SHIPNAME=\"CELESTYAL CRYSTAL\" SHIP_ID=\"\" TYPE_NAME=\"Passenger Ship\" SHIPTYPE=\"\
                    36\" CALLSIGN=\"9HA2978\" FLAG=\"MT\" LENGTH=\"162\" WIDTH=\"24\" DRAUGHT=\"61\" GRT=\"25611\" DWT=\"\
                    1703\" YEAR_BUILT=\"1980\" LAT=\"37.938690\" LON=\"23.634480\" SPEED=\"0\" COURSE=\"129\" STATUS=\"5\"\
                    \ ETA=\"2021-03-14T05:40:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"17208\" LAST_PORT=\"KUSADASI\"\
                    \ LAST_PORT_UNLOCODE=\"TRKUS\" LAST_PORT_COUNTRY=\"TR\" LAST_PORT_TIME=\"2020-03-13T17:38:00\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T08:58:08\"/>\n    <VESSEL_ETA\
                    \ IMO=\"8843886\" MMSI=\"201100129\" SHIPNAME=\"EDRO IV\" SHIP_ID=\"\" TYPE_NAME=\"General Cargo\" SHIPTYPE=\"\
                    0\" CALLSIGN=\"ZADL2\" FLAG=\"AL\" LENGTH=\"89.97\" WIDTH=\"12.37\" DRAUGHT=\"34\" GRT=\"2138\" DWT=\"\
                    2850\" YEAR_BUILT=\"1983\" LAT=\"37.943630\" LON=\"23.631900\" SPEED=\"0\" COURSE=\"0\" STATUS=\"5\" ETA=\"\
                    2020-10-26T08:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"118\" LAST_PORT=\"VALLETTA\" LAST_PORT_UNLOCODE=\"\
                    MTMLA\" LAST_PORT_COUNTRY=\"MT\" LAST_PORT_TIME=\"2020-10-21T16:41:00\" PORT_ID=\"1\" PORT_UNLOCODE=\"\
                    GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\"\
                    \ NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" TIMESTAMP=\"2020-10-30T08:57:24\"/>\n    <VESSEL_ETA IMO=\"\
                    9394040\" MMSI=\"636092659\" SHIPNAME=\"NORIENT SATURN\" SHIP_ID=\"\" TYPE_NAME=\"Oil/Chemical Tanker\"\
                    \ SHIPTYPE=\"80\" CALLSIGN=\"D5JP2\" FLAG=\"LR\" LENGTH=\"180\" WIDTH=\"32.24\" DRAUGHT=\"68\" GRT=\"\
                    25864\" DWT=\"40435\" YEAR_BUILT=\"2007\" LAT=\"37.949450\" LON=\"23.601120\" SPEED=\"0\" COURSE=\"0\"\
                    \ STATUS=\"5\" ETA=\"2020-10-18T10:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"1351\" LAST_PORT=\"\
                    ALGER\" LAST_PORT_UNLOCODE=\"DZALG\" LAST_PORT_COUNTRY=\"DZ\" LAST_PORT_TIME=\"2020-10-14T11:28:00\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T08:55:08\"/>\n    <VESSEL_ETA\
                    \ IMO=\"9087867\" MMSI=\"241683000\" SHIPNAME=\"AITENS\" SHIP_ID=\"\" TYPE_NAME=\"Oil Products Tanker\"\
                    \ SHIPTYPE=\"80\" CALLSIGN=\"SVCU7\" FLAG=\"GR\" LENGTH=\"104.7\" WIDTH=\"15.4\" DRAUGHT=\"50\" GRT=\"\
                    3586\" DWT=\"5196\" YEAR_BUILT=\"1993\" LAT=\"37.949330\" LON=\"23.599670\" SPEED=\"0\" COURSE=\"333\"\
                    \ STATUS=\"5\" ETA=\"2020-09-08T12:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"23935\" LAST_PORT=\"\
                    KALI LIMENES ANCH\" LAST_PORT_UNLOCODE=\"\" LAST_PORT_COUNTRY=\"GR\" LAST_PORT_TIME=\"2020-09-07T15:11:00\"\
                    \ PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\
                    1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T09:00:03\"\
                    />\n    <VESSEL_ETA IMO=\"9036868\" MMSI=\"241654000\" SHIPNAME=\"APTERA\" SHIP_ID=\"\" TYPE_NAME=\"Oil\
                    \ Products Tanker\" SHIPTYPE=\"80\" CALLSIGN=\"SVDE7\" FLAG=\"GR\" LENGTH=\"105.02\" WIDTH=\"15.5\" DRAUGHT=\"\
                    58\" GRT=\"2975\" DWT=\"5260\" YEAR_BUILT=\"1991\" LAT=\"37.952920\" LON=\"23.581480\" SPEED=\"0\" COURSE=\"\
                    106\" STATUS=\"5\" ETA=\"2020-05-07T11:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"1\" LAST_PORT=\"\
                    PIRAEUS\" LAST_PORT_UNLOCODE=\"GRPIR\" LAST_PORT_COUNTRY=\"GR\" LAST_PORT_TIME=\"2020-10-27T18:36:00\"\
                    \ PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\
                    1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T08:57:57\"\
                    />\n</ETA>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_vi02_missing_or_invalid_port_identifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/400_vi02_missing_or_invalid_port_identifier'
              examples:
                Missing or invalid port identifier:
                  summary: Missing or invalid port identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a5\" DESCRIPTION=\"PORT OR COUNTRY MISSING\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/expectedarrivals/{api_key} ':
    get:
      tags:
      - Ports Information
      summary: Expected Country Arrivals
      description: "Get expected arrivals to a specific country. </br></br> <b>Notes</b> <ul>\n    <li>**SPEED** returned\
        \ in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>Use either **TIMESPAN** or **FROMDATE/TODATE** in order to\
        \ look for expected arrivals in a specific date range</li>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and\
        \ is detailed in your contract as a number of successful calls per time period. For example “2 calls per minute”.\
        \ </br>Regardless of this agreed limit, each API key is technically restricted to a maximum of 100 total (including\
        \ successful and unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: expectedarrivals_
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_VI02'
      - $ref: '#/components/parameters/country_VI02'
      - $ref: '#/components/parameters/timespan_VI02'
      - $ref: '#/components/parameters/days_last_signal_VI02'
      - $ref: '#/components/parameters/fromdate_VI02'
      - $ref: '#/components/parameters/todate_VI02'
      - $ref: '#/components/parameters/fromportid_VI02'
      - $ref: '#/components/parameters/shiptype_VI02'
      - $ref: '#/components/parameters/dwt_min_VI02'
      - $ref: '#/components/parameters/dwt_max_VI02'
      - $ref: '#/components/parameters/gt_min_VI02'
      - $ref: '#/components/parameters/gt_max_VI02'
      - $ref: '#/components/parameters/msgtype_VI02'
      - $ref: '#/components/parameters/protocol_new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_vi02_default'
                - $ref: '#/components/schemas/200_vi02_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_vi02_default'
                - $ref: '#/components/schemas/200_vi02_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<ETA>\n    <VESSEL_ETA MMSI=\"229001000\"\
                    \ IMO=\"\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.938690\" LON=\"23.634480\" SPEED=\"0\" COURSE=\"129\" STATUS=\"\
                    5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\
                    1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" ETA=\"2021-03-14T05:40:00\"\
                    \ ETA_CALC=\"\" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:58:08\"/>\n    <VESSEL_ETA MMSI=\"201100129\"\
                    \ IMO=\"\" SHIP_ID=\"\" SHIPNAME=\"\" LAT=\"37.943630\" LON=\"23.631900\" SPEED=\"0\" COURSE=\"0\" STATUS=\"\
                    5\" PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\
                    \" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" ETA=\"2020-10-26T08:00:00\" ETA_CALC=\"\
                    \" ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:57:24\"/>\n    <VESSEL_ETA MMSI=\"636092659\" IMO=\"\" SHIP_ID=\"\
                    \" SHIPNAME=\"\" LAT=\"37.949450\" LON=\"23.601120\" SPEED=\"0\" COURSE=\"0\" STATUS=\"5\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" ETA=\"2020-10-18T10:00:00\" ETA_CALC=\"\"\
                    \ ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:55:08\"/>\n    <VESSEL_ETA MMSI=\"241683000\" IMO=\"\" SHIP_ID=\"\
                    \" SHIPNAME=\"\" =\"37.949330\" LON=\"23.599670\" SPEED=\"0\" COURSE=\"333\" STATUS=\"5\" PORT_ID=\"1\"\
                    \ PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" ETA=\"2020-09-08T12:00:00\" ETA_CALC=\"\"\
                    \ ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T09:00:03\"/>\n    <VESSEL_ETA MMSI=\"241654000\" IMO=\"\" SHIP_ID=\"\
                    \" SHIPNAME=\"\" LAT=\"37.952920\" LON=\"23.581480\" SPEED=\"0\" COURSE=\"106\" STATUS=\"5\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" ETA=\"2020-05-07T11:00:00\" ETA_CALC=\"\"\
                    \ ETA_UPDATED=\"\" TIMESTAMP=\"2020-10-30T08:57:57\"/>\n</ETA>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<ETA>\n    <VESSEL_ETA IMO=\"7827213\"\
                    \ MMSI=\"229001000\" SHIPNAME=\"CELESTYAL CRYSTAL\" SHIP_ID=\"\" TYPE_NAME=\"Passenger Ship\" SHIPTYPE=\"\
                    36\" CALLSIGN=\"9HA2978\" FLAG=\"MT\" LENGTH=\"162\" WIDTH=\"24\" DRAUGHT=\"61\" GRT=\"25611\" DWT=\"\
                    1703\" YEAR_BUILT=\"1980\" LAT=\"37.938690\" LON=\"23.634480\" SPEED=\"0\" COURSE=\"129\" STATUS=\"5\"\
                    \ ETA=\"2021-03-14T05:40:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"17208\" LAST_PORT=\"KUSADASI\"\
                    \ LAST_PORT_UNLOCODE=\"TRKUS\" LAST_PORT_COUNTRY=\"TR\" LAST_PORT_TIME=\"2020-03-13T17:38:00\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T08:58:08\"/>\n    <VESSEL_ETA\
                    \ IMO=\"8843886\" MMSI=\"201100129\" SHIPNAME=\"EDRO IV\" SHIP_ID=\"\" TYPE_NAME=\"General Cargo\" SHIPTYPE=\"\
                    0\" CALLSIGN=\"ZADL2\" FLAG=\"AL\" LENGTH=\"89.97\" WIDTH=\"12.37\" DRAUGHT=\"34\" GRT=\"2138\" DWT=\"\
                    2850\" YEAR_BUILT=\"1983\" LAT=\"37.943630\" LON=\"23.631900\" SPEED=\"0\" COURSE=\"0\" STATUS=\"5\" ETA=\"\
                    2020-10-26T08:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"118\" LAST_PORT=\"VALLETTA\" LAST_PORT_UNLOCODE=\"\
                    MTMLA\" LAST_PORT_COUNTRY=\"MT\" LAST_PORT_TIME=\"2020-10-21T16:41:00\" PORT_ID=\"1\" PORT_UNLOCODE=\"\
                    GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\"\
                    \ NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" TIMESTAMP=\"2020-10-30T08:57:24\"/>\n    <VESSEL_ETA IMO=\"\
                    9394040\" MMSI=\"636092659\" SHIPNAME=\"NORIENT SATURN\" SHIP_ID=\"\" TYPE_NAME=\"Oil/Chemical Tanker\"\
                    \ SHIPTYPE=\"80\" CALLSIGN=\"D5JP2\" FLAG=\"LR\" LENGTH=\"180\" WIDTH=\"32.24\" DRAUGHT=\"68\" GRT=\"\
                    25864\" DWT=\"40435\" YEAR_BUILT=\"2007\" LAT=\"37.949450\" LON=\"23.601120\" SPEED=\"0\" COURSE=\"0\"\
                    \ STATUS=\"5\" ETA=\"2020-10-18T10:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"1351\" LAST_PORT=\"\
                    ALGER\" LAST_PORT_UNLOCODE=\"DZALG\" LAST_PORT_COUNTRY=\"DZ\" LAST_PORT_TIME=\"2020-10-14T11:28:00\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T08:55:08\"/>\n    <VESSEL_ETA\
                    \ IMO=\"9087867\" MMSI=\"241683000\" SHIPNAME=\"AITENS\" SHIP_ID=\"\" =\"Oil Products Tanker\" SHIPTYPE=\"\
                    80\" CALLSIGN=\"SVCU7\" FLAG=\"GR\" LENGTH=\"104.7\" WIDTH=\"15.4\" DRAUGHT=\"50\" GRT=\"3586\" DWT=\"\
                    5196\" YEAR_BUILT=\"1993\" LAT=\"37.949330\" LON=\"23.599670\" SPEED=\"0\" COURSE=\"333\" STATUS=\"5\"\
                    \ ETA=\"2020-09-08T12:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"23935\" LAST_PORT=\"KALI LIMENES\
                    \ ANCH\" LAST_PORT_UNLOCODE=\"\" LAST_PORT_COUNTRY=\"GR\" LAST_PORT_TIME=\"2020-09-07T15:11:00\" PORT_ID=\"\
                    1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T09:00:03\"/>\n    <VESSEL_ETA\
                    \ IMO=\"9036868\" MMSI=\"241654000\" SHIPNAME=\"APTERA\" SHIP_ID=\"\" TYPE_NAME=\"Oil Products Tanker\"\
                    \ SHIPTYPE=\"80\" CALLSIGN=\"SVDE7\" FLAG=\"GR\" LENGTH=\"105.02\" WIDTH=\"15.5\" DRAUGHT=\"58\" GRT=\"\
                    2975\" DWT=\"5260\" YEAR_BUILT=\"1991\" LAT=\"37.952920\" LON=\"23.581480\" SPEED=\"0\" COURSE=\"106\"\
                    \ STATUS=\"5\" ETA=\"2020-05-07T11:00:00\" ETA_CALC=\"\" ETA_UPDATED=\"\" LAST_PORT_ID=\"1\" LAST_PORT=\"\
                    PIRAEUS\" LAST_PORT_UNLOCODE=\"GRPIR\" LAST_PORT_COUNTRY=\"GR\" LAST_PORT_TIME=\"2020-10-27T18:36:00\"\
                    \ PORT_ID=\"1\" PORT_UNLOCODE=\"GRPIR\" CURRENT_PORT=\"PIRAEUS\" CURRENT_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\
                    1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" TIMESTAMP=\"2020-10-30T08:57:57\"\
                    />\n</ETA>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_vi02_missing_or_invalid_port_identifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/400_vi02_missing_or_invalid_port_identifier'
              examples:
                Missing or invalid port identifier:
                  summary: Missing or invalid port identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a5\" DESCRIPTION=\"PORT OR COUNTRY MISSING\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /predictive-arrivals/{api_key}:
    get:
      tags:
      - Ports Information
      summary: Predictive Port Arrivals
      description: "Receive a prediction of the vessels likely to arrive to a specific port. </br></br> <b>Notes</b> <ul>\n\
        \    <li>More information about input parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >MARKET</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >SHIPCLASS</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: predictive-arrivals
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/portid_VI05'
      - $ref: '#/components/parameters/market_VI05'
      - $ref: '#/components/parameters/shipclass_VI05'
      - $ref: '#/components/parameters/probability_VI05'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_vi05_default'
            application/xml:
              schema:
                $ref: '#/components/schemas/200_vi05_default'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<PredictiveArrivals>\n    <PredictiveArrival\
                    \ IMO=\"9020340\" SHIP_ID=\"337987\" MMSI=\"271041000\" SHIPNAME=\"MARTINE A\" MARKET=\"CONTAINER SHIPS\"\
                    \ SHIPCLASS=\"FEEDER\" FROM_PORT_ID=\"1379\" FROM_PORT=\"BIZERTE\" NEXT_PORT_ID=\"1\" NEXT_PORT=\"PIRAEUS\"\
                    \ NEXT_AREA=\"EMED\" NEXT_PORT_PROB=\"1.000\" NEXT_AREA_PROB=\"1.000\"/>\n    <PredictiveArrival IMO=\"\
                    9357810\" SHIP_ID=\"712465\" MMSI=\"538003142\" SHIPNAME=\"EF EMIRA\" MARKET=\"CONTAINER SHIPS\" SHIPCLASS=\"\
                    FEEDER\" FROM_PORT_ID=\"528\" FROM_PORT=\"ANCONA\" NEXT_PORT_ID=\"1\" NEXT_PORT=\"PIRAEUS\" NEXT_AREA=\"\
                    EMED\" NEXT_PORT_PROB=\"1.000\" NEXT_AREA_PROB=\"1.000\"/>\n    <PredictiveArrival IMO=\"9213595\" SHIP_ID=\"\
                    362664\" MMSI=\"304927000\" SHIPNAME=\"LUHNAU\" MARKET=\"DRY BREAKBULK\" SHIPCLASS=\"HANDYSIZE\" FROM_PORT_ID=\"\
                    34\" FROM_PORT=\"CORINTH\" NEXT_PORT_ID=\"1\" NEXT_PORT=\"PIRAEUS\" NEXT_AREA=\"EMED\" NEXT_PORT_PROB=\"\
                    1.000\" NEXT_AREA_PROB=\"1.000\"/>\n    <PredictiveArrival IMO=\"9321902\" SHIP_ID=\"124854\" MMSI=\"\
                    255806318\" SHIPNAME=\"NORDSUMMER\" MARKET=\"CONTAINER SHIPS\" SHIPCLASS=\"PANAMAX\" FROM_PORT_ID=\"119\"\
                    \ FROM_PORT=\"MARSAXLOKK\" NEXT_PORT_ID=\"1\" NEXT_PORT=\"PIRAEUS\" NEXT_AREA=\"EMED\" NEXT_PORT_PROB=\"\
                    1.000\" NEXT_AREA_PROB=\"1.000\"/>\n    <PredictiveArrival IMO=\"9004487\" SHIP_ID=\"348156\" MMSI=\"\
                    374732000\" SHIPNAME=\"STARRY M\" MARKET=\"DRY BREAKBULK\" SHIPCLASS=\"HANDYSIZE\" FROM_PORT_ID=\"3321\"\
                    \ FROM_PORT=\"ANTALYA\" NEXT_PORT_ID=\"1\" NEXT_PORT=\"PIRAEUS\" NEXT_AREA=\"EMED\" NEXT_PORT_PROB=\"\
                    1.000\" NEXT_AREA_PROB=\"1.000\"/>\n</PredictiveArrivals>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_vi05_missing_or_invalid_port_identifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/400_vi05_missing_or_invalid_port_identifier'
              examples:
                Missing or invalid port identifier:
                  summary: Missing or invalid port identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1\" DESCRIPTION=\"INCORRECT CALL-CHECK PARAMETERS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /port-congestion/{api_key}:
    get:
      tags:
      - Ports Information
      summary: Port Congestion
      description: "Receive the Port Congestion for a specific period of time. </br></br> <b>Notes</b> <ul>\n    <li>More\
        \ information about input parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >MARKET</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >SHIPCLASS</a></li>\n    <li>**NOT ALLOWED** combinations in request</li>\n      <ul>\n        <li>agg_market:1 **and**\
        \ agg_shipclass:0</li>\n        <li>agg_market:1 **and** agg_port:1</li>\n        <li>agg_shipclass:1 **and** agg_port:1</li>\n\
        \        <li>agg_market:1 **and** shipclass (specific value in shipclass e.g. POST PANAMAX)</li>\n      </ul>\n  \
        \  <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed in your contract as a\
        \ number of successful calls per time period. For example “2 calls per minute”. </br>Regardless of this agreed limit,\
        \ each API key is technically restricted to a maximum of 100 total (including successful and unsuccessful) requests\
        \ per minute to ensure system stability.</li>\n</ul>"
      operationId: port-congestion
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/portid_VI06'
      - $ref: '#/components/parameters/year_VI06'
      - $ref: '#/components/parameters/week_VI06'
      - $ref: '#/components/parameters/market_VI06'
      - $ref: '#/components/parameters/shipclass_VI06'
      - $ref: '#/components/parameters/agg_port_VI06'
      - $ref: '#/components/parameters/agg_market_VI06'
      - $ref: '#/components/parameters/agg_shipclass_VI06'
      - $ref: '#/components/parameters/time_anch_VI06'
      - $ref: '#/components/parameters/time_port_VI06'
      - $ref: '#/components/parameters/vessels_VI06'
      - $ref: '#/components/parameters/calls_VI06'
      - $ref: '#/components/parameters/time_anch_stdev_VI06'
      - $ref: '#/components/parameters/time_anch_diff_VI06'
      - $ref: '#/components/parameters/time_anch_diff_perc_VI06'
      - $ref: '#/components/parameters/time_port_stdev_VI06'
      - $ref: '#/components/parameters/time_port_diff_VI06'
      - $ref: '#/components/parameters/time_port_diff_perc_VI06'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_vi06_default'
            application/xml:
              schema:
                $ref: '#/components/schemas/200_vi06_default'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<PORTCONGESTION>\n    <PORT PORT_ID=\"\
                    1766\" YEAR=\"2020\" WEEK=\"8\" MARKET=\"DRY BULK\" SHIPCLASS=\"HANDYSIZE\" TIME_ANCH=\"\" TIME_PORT=\"\
                    3.4\" VESSELS=\"2\" CALLS=\"2\" TIME_ANCH_STDEV=\"\" TIME_ANCH_DIFF=\"\" TIME_ANCH_DIFF_PERC=\"\" TIME_PORT_STDEV=\"\
                    3.5\" TIME_PORT_DIFF=\"-9.9\" TIME_PORT_DIFF_PERC=\"-74.4\"/>\n</PORTCONGESTION>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_vi06_mandatory_field_missing'
            application/xml:
              schema:
                $ref: '#/components/schemas/400_vi06_mandatory_field_missing'
              examples:
                Mandatory field missing:
                  summary: Mandatory field missing
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2a9\" DESCRIPTION=\"MANDATORY FIELD MISSING portid\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
components:
  parameters:
    api_key:
      name: api_key
      in: path
      description: 'API key: 40-character hexadecimal number'
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      description: The pagination cursor provided in the metadata section of the previous response
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The limit of vessels per page (min=1000, max=5000)
      required: false
      schema:
        type: integer
        default: 2000
    protocol_mandatory:
      name: protocol
      in: query
      description: "Response type. Use one of the following: <ul>\n  <li>jsono</li>\n  <li>csv</li>"
      required: false
      schema:
        type: string
        default: jsono
    protocol_new:
      name: protocol
      in: query
      description: "Response type. Use one of the following: <ul>\n  <li>xml</li>\n  <li>csv</li>\n  <li>jsono</li>"
      required: false
      schema:
        type: string
        default: xml
    v_PS01:
      name: v
      in: query
      description: Version of the service to be executed. Use version 3 to get the latest
      schema:
        type: integer
        default: 1
    shipid_PS01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_PS01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_PS01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    days_PS01:
      name: days
      in: query
      description: The number of days, starting from the time of request and going backwards, for which the response should
        look for position data </br></br> Maximum value is 190 (days)
      required: true
      schema:
        type: integer
    fromdate_PS01:
      name: fromdate
      in: query
      description: Use with todate <b>instead</b> of days to get data for a date period
      required: false
      schema:
        type: string
        format: date-time
    todate_PS01:
      name: todate
      in: query
      description: Use with fromdate <b>instead</b> of days to get data for a date period
      required: false
      schema:
        type: string
        format: date-time
    period_PS01:
      name: period
      in: query
      description: "Limit position per vessel. Omit to get all the available positions </br></br> Values are: <ul>\n  <li>hourly:\
        \ get one position per hour</li>\n  <li>daily: get one position per day</li>\n</ul>"
      required: false
      schema:
        type: string
    msgtype_PS01:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes also weather data"
      required: false
      schema:
        type: string
        default: simple
    protocol:
      name: protocol
      in: query
      description: "Response type. Use one of the following: <ul>\n  <li>xml</li>\n  <li>csv</li>\n  <li>json</li>\n  <li>jsono</li>"
      required: false
      schema:
        type: string
        default: xml
    MINLAT_PS01:
      name: MINLAT
      in: query
      description: Use with MAXLAT, MINLON, MAXLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    MAXLAT_PS01:
      name: MAXLAT
      in: query
      description: Use with MINLAT, MINLON, MAXLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    MINLON_PS01:
      name: MINLON
      in: query
      description: Use with MINLAT, MAXLAT, MAXLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    MAXLON_PS01:
      name: MAXLON
      in: query
      description: Use with MINLAT, MAXLAT, MINLON to define an area for which you wish to either get all the historical vessels'
        positions or historical positions for a specific vessel </br></br> The absolute value of MAXLAT - MINLAT + MAXLON
        - MINLON has to be equal to or less than <b>2</b> </br></br> If you do not define a vessel, the maximum period for
        which you can look back has a maximum period of one day
      required: true
      schema:
        type: number
    shipid_PS01_2:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: false
      schema:
        type: integer
    v_PS02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS02:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions.  </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS02:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS02:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS03:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    vessel_type:
      name: vesseltypeid
      in: query
      description: Filter vessels based on vessel types, comma separated ids supported </br></br><a href="https://support.marinetraffic.com/en/articles/9552888-what-is-the-significance-of-the-marinetraffic-ship-types"
        target='_blank'>more</a>
      required: false
      schema:
        type: integer
    timespan_PS03:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS03:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS03:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS04:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS04:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS04:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS04:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS05:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS05:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions </br></br> Maximum value for terrestrial coverage
        is 60. Maximum value for satellite coverage is 180
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS05:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    msgtype_PS05:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li> full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS06:
      name: v
      in: query
      description: Version of the service to be executed. Use version 8 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    v_MTA030AD_1:
      name: v
      in: query
      description: Use latest version **9**
      required: true
      schema:
        type: integer
    v_MTA030AD_2:
      name: v
      in: query
      description: Use latest version **2**
      required: true
      schema:
        type: integer
    v_MTA030AD_3:
      name: v
      in: query
      description: Use latest version **6**
      required: true
      schema:
        type: integer
    timespan_PS06:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 5
    shiptype_PS06:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    MAXLAT_PS06:
      name: MAXLAT
      in: query
      description: Use with MINLAT, MINLON, MAXLON to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    MINLON_PS06:
      name: MINLON
      in: query
      description: Use with MINLAT, MAXLAT, MAXLON to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    MAXLON_PS06:
      name: MAXLON
      in: query
      description: Use with MINLAT, MINLON, MAXLAT to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    MINLAT_PS06:
      name: MINLAT
      in: query
      description: Use with MAXLAT, MINLON, MAXLON to define an area and retrieve positional information of vessels sailing
        in it
      required: true
      schema:
        type: number
    msgtype_PS06:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS07:
      name: v
      in: query
      description: Version of the service to be executed. Use version 5 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_PS07:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    imo_PS07:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    mmsi_PS07:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_PS07:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 2
    msgtype_PS07:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes scheduled static and voyage related vessel data report (AIS\
        \ Message 5). In this case your request frequency might be limited (depending on your service terms) </br></br> If\
        \ omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    v_PS08:
      name: v
      in: query
      description: Version of the service to be executed. Use version 1 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    timespan_PS08:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned positions. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 5
    shiptype_generic_PS08:
      name: shiptype_generic
      in: query
      description: Filter vessels based on generic vessel types, comma separated values supported </br></br> Vessel type ID
        should be used and not vessel type name (2=Fishing / 4=High Speed Craft / 6=Passenger / 7=Cargo / 8=Tanker) </br></br>
        Should not be combined with shiptype_detailed filter
      required: false
      schema:
        type: integer
    shiptype_detailed_PS08:
      name: shiptype_detailed
      in: query
      description: Filter vessels based on detailed vessel types, comma separated values supported </br></br> Vessel type
        ID should be used and not vessel type name - <a href="https://support.marinetraffic.com/en/articles/9552888-what-is-the-significance-of-the-marinetraffic-ship-types"                                 target='_blank'>more</a>
        </br></br> Should not be combined with shiptype_generic filter
      required: false
      schema:
        type: integer
    msgtype_PS08:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  <li>full</li>\n\
        </ul> If used with the value <b>extended</b> or <b>full</b>, the response includes scheduled static and voyage related\
        \ vessel data report (AIS Message 5). In this case your request frequency might be limited (depending on your service\
        \ terms) </br></br> If omitted, the returned records include only position reports (AIS Messages 1, 2, 3/ 18, 19)"
      required: false
      schema:
        type: string
        default: simple
    timespan_MTA030AD:
      name: timespan
      in: query
      description: Overrides the default timespan
      required: false
      schema:
        type: integer
        default: 5
    v_EV01:
      name: v
      in: query
      description: Version of the service to be executed. Use version 6 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_EV01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_EV01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_EV01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_EV01:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned port calls. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 2
    movetype_EV01:
      name: movetype
      in: query
      description: Use 0 to only receive arrivals or 1 to only receive departures. If not used, the response will include
        both
      required: false
      schema:
        type: integer
    exclude_intransit_EV01:
      name: exclude_intransit
      in: query
      description: Use 1 to exclude vessels in transit
      required: false
      schema:
        type: integer
    fromdate_EV01:
      name: fromdate
      in: query
      description: 'Portcalls between fromdate and todate. Maximum period requested 190 days </br></br> Date format: YYYY-MM-DD
        HH:MM'
      required: false
      schema:
        type: string
        format: date-time
    todate_EV01:
      name: todate
      in: query
      description: 'Portcalls between fromdate and todate. Maximum period requested 190 days </br></br> Date format: YYYY-MM-DD
        HH:MM'
      required: false
      schema:
        type: string
        format: date-time
    dwt_min_EV01:
      name: dwt_min
      in: query
      description: 'Data filter: minimum DWT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    dwt_max_EV01:
      name: dwt_max
      in: query
      description: 'Data filter: maximum DWT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    gt_min_EV01:
      name: gt_min
      in: query
      description: 'Data filter: minimum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    gt_max_EV01:
      name: gt_max
      in: query
      description: 'Data filter: maximum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    market_EV01:
      name: market
      in: query
      description: Define market(s) for which you would like to receive port calls (single or comma separated values) - <a
        href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
      required: false
      schema:
        type: string
    msgtype_EV01:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related data since the previous port call"
      required: false
      schema:
        type: string
        default: simple
    v_EV02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_EV02:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_EV02:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_EV02:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_EV02:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned port calls. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 60
    fromdate_EV02:
      name: fromdate
      in: query
      description: 'Vessel Events between fromdate and todate </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    todate_EV02:
      name: todate
      in: query
      description: 'Vessel Events between fromdate and todate </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    event_type_EV02:
      name: event_type
      in: query
      description: You may use one or more event ids in comma separated format for the events you wish to receive
      required: false
      schema:
        type: integer
    limit_events_EV02:
      name: limit_events
      in: query
      description: Limit the number of results
      required: false
      schema:
        type: integer
    v_EV03:
      name: v
      in: query
      description: Version of the service to be executed. Use version 3 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    shipid_EV03:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use imo
        or mmsi
      required: true
      schema:
        type: integer
    mmsi_EV03:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track
      required: false
      schema:
        type: integer
    imo_EV03:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    timespan_EV03:
      name: timespan
      in: query
      description: The maximum age, in minutes, of the returned port calls. Maximum value is 2880
      required: false
      schema:
        type: integer
        default: 2
    fromdate_EV03:
      name: fromdate
      in: query
      description: 'Return Berth Calls where DOCK_TIMESTAMP_UTC is equal to or greater than provided fromdate. Maximum period
        requested 15 days </br></br> Date format: YYYY-MM-DD HH:MM:SS.'
      required: false
      schema:
        type: string
        format: date-time
    todate_EV03:
      name: todate
      in: query
      description: 'Return Berth Calls where DOCK_TIMESTAMP_UTC is equal to or less than provided todate. Maximum period requested
        15 days </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    market_EV03:
      name: market
      in: query
      description: "Define market for which you would like to receive berth calls - <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >more</a> <ul>\n  <li>if undefined and ship-class is also undefined, then return all</li>\n  <li>if undefined and\
        \ ship-class is defined, return based on ship-class</li>\n  <li>if defined and ship-class is undefined, return all\
        \ ship-classes of the specific market</li>\n</ul>"
      required: false
      schema:
        type: string
    shipclass_EV03:
      name: shipclass
      in: query
      description: Define ship class of interest - <a href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
      required: false
      schema:
        type: integer
    dwt_min_EV03:
      name: dwt_min
      in: query
      description: 'Data filter: minimum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8)'
      required: false
      schema:
        type: integer
    dwt_max_EV03:
      name: dwt_max
      in: query
      description: 'Data filter: maximum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8)'
      required: false
      schema:
        type: integer
    gt_min_EV03:
      name: gt_min
      in: query
      description: 'Data filter: minimum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    gt_max_EV03:
      name: gt_max
      in: query
      description: 'Data filter: maximum GT </br></br> Applicable to IMO-having vessels'
      required: false
      schema:
        type: integer
    movetype_EV03:
      name: movetype
      in: query
      description: Use 0 to include both, 1 to only receive dockings or 2 for only undockings within the defined period. If
        not used, only dockings are returned </br></br> <b>Available only from version 2 of the service</b>
      required: false
      schema:
        type: integer
    msgtype_EV03:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related data since the previous port call"
      required: false
      schema:
        type: string
        default: simple
    portid_EV01:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to monitor (found on the URL of the respective Port page) or
        port UN/LOCODE
      required: true
      schema:
        type: integer
    portid_EV03:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to monitor (found on the URL of the respective Port page) </br></br>
        You can <b>instead</b> use port_unlocode, berthid or terminalid
      required: true
      schema:
        type: integer
    port_unlocode_EV03:
      name: port_unlocode
      in: query
      description: Port UN LOCODE (without gaps or spaces)
      required: false
      schema:
        type: integer
    berthid_EV03:
      name: berthid
      in: query
      description: 'The MarineTraffic ID of the berth you wish to monitor (list to be provided upon request) '
      required: false
      schema:
        type: integer
    terminalid_EV03:
      name: terminalid
      in: query
      description: The MarineTraffic ID of the terminal you wish to monitor (list to be provided upon request)
      required: false
      schema:
        type: integer
    vessel_id_VD01:
      name: vessel_id
      in: query
      description: The Maritime Mobile Service Identity (MMSI) or the IMO number of the vessel </br></br> You can <b>instead</b>
        use shipid
      required: true
      schema:
        type: integer
    shipid_VD01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    v_VD02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 5 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    msgtype_VD02:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n  </ul>"
      required: false
      schema:
        type: string
        default: simple
    mmsi_VD02:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track (single or comma separated
        values) </br></br> You can <b>instead</b> use imo or shipid
      required: true
      schema:
        type: integer
    imo_VD02:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track (single or comma separated
        values)
      required: false
      schema:
        type: integer
    shipid_VD02:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel (single or comma separated values)
      required: false
      schema:
        type: integer
    timespan_VD02:
      name: timespan
      in: query
      description: The timespan parameter defines the period of time, during which we want to receive the change in a vessel's
        details </br></br> The maximum value can be either 5 when the interval parameter is set to days or 2880 when the interval
        is set to minutes
      required: false
      schema:
        type: integer
    interval_VD02:
      name: interval
      in: query
      description: The interval parameter can be either minutes or days
      required: false
      schema:
        type: string
        default: minutes
    page_VD02:
      name: page
      in: query
      description: Page number of the results to be returned
      required: false
      schema:
        type: integer
        default: 1
    shipid_VD03:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel </br></br> You can <b>instead</b> use  mmsi
        or imo
      required: true
      schema:
        type: integer
    mmsi_VD03:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> <b>NOTE:</b> Using
        MMSI may potentially return multiple records as multiple vessels might have transponded the same MMSI
      required: false
      schema:
        type: integer
    imo_VD03:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track </br></br> <b>NOTE:</b>
        Using IMO may potentially return multiple records as multiple vessels might have transponded the same IMO
      required: false
      schema:
        type: integer
    shiptype_VD03:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    type_name_id_VD03:
      name: type_name_id
      in: query
      description: 'Data filter: AIS Shiptype </br></br> Find more information <a href="https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number">here</a>'
      required: false
      schema:
        type: integer
    shipname_VD03:
      name: shipname
      in: query
      description: The vessel name. The results will contain all vessels whose name is like the given words
      required: true
      schema:
        type: string
    v_VI01:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    mmsi_VI01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    msgtype_VI01:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related information (eg. distance travelled and to-go,\
        \ load condition) and the estimated route to the vessel's destination"
      required: false
      schema:
        type: string
        default: simple
    fleet_id_VI01:
      name: fleet_id
      in: query
      description: The fleet id you wish to receive voyage forecast for
      required: true
      schema:
        type: integer
    mmsi_VI04:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI04:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI04:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    fromportid_VI04:
      name: fromportid
      in: query
      description: The MarineTraffic ID of the port you wish to receive a prediction (found on the URL of the respective Port
        page)
      required: false
      schema:
        type: integer
    fleet_id_VI04:
      name: fleet_id
      in: query
      description: The MarineTraffic ID of the fleet you wish to track
      required: true
      schema:
        type: integer
    v_VI07:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    portid_VI07:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to receive ETA info </br></br> You can <b>instead</b> use unlocode
      required: true
      schema:
        type: integer
    unlocode_VI07:
      name: unlocode
      in: query
      description: The UN LOCODE (without gaps or spaces) of the port you wish to receive ETA info
      required: false
      schema:
        type: string
    mmsi_VI07:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI07:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI07:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    speed_calc_VI07:
      name: speed_calc
      in: query
      description: "The Speed of the Vessel that MarineTraffic will use to produce the ETA value <ul>\n  <li>if not defined\
        \ the last average speed of the Vessel will be used</li>\n  <li>if no average speed exists then a default value of\
        \ 12(kn) will be used</li>\n</ul>"
      required: false
      schema:
        type: integer
    msgtype_VI07:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes voyage related data"
      required: false
      schema:
        type: string
        default: simple
    v_VI02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 4 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    portid_VI02:
      name: portid
      in: query
      description: The MarineTraffic ID of the port (found on the URL of the respective Port page)
      required: true
      schema:
        type: integer
    timespan_VI02:
      name: timespan
      in: query
      description: Number of days in the future to look for expected arrivals, starting from the time the API call is requested
        </br></br> Maximum value is 40 days </br></br> If neither this nor the fromdate/todate parameters are used, the response
        only includes vessels currently in port (or the country’s ports) and the last vessel's signal is received during the
        last 2 days
      required: false
      schema:
        type: integer
    days_last_signal_VI02:
      name: days_last_signal
      in: query
      description: Include vessels currently in port that have transmitted a position within the last x days (based on their
        last signal timestamp). </br></br> This parameter only works when no other timeframe is defined.
      required: false
      schema:
        type: integer
    fromdate_VI02:
      name: fromdate
      in: query
      description: 'Timestamp in the future to start looking for expected arrivals. If used, then you should also define the
        todate parameter </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    todate_VI02:
      name: todate
      in: query
      description: 'Timestamp in the future to start looking for expected arrivals. If used, then you should also define the
        fromdate parameter </br></br> Date format: YYYY-MM-DD HH:MM:SS'
      required: false
      schema:
        type: string
        format: date-time
    fromportid_VI02:
      name: fromportid
      in: query
      description: The MarineTraffic ID of the previous port (found on the URL of the respective Port page) or previous port
        UNLOCODE
      required: false
      schema:
        type: integer
    shiptype_VI02:
      name: shiptype
      in: query
      description: "Filter data by vessel type: <ul>\n  <li>2: Fishing</li>\n  <li>4: High Speed Craf</li>\n  <li>6: Passenger</li>\n\
        \  <li>7: Cargo</li>\n  <li>8: Tanker</li>"
      required: false
      schema:
        type: integer
    dwt_min_VI02:
      name: dwt_min
      in: query
      description: 'Data filter: minimum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8). If used, then you should also define the dwt_max parameter'
      required: false
      schema:
        type: integer
    dwt_max_VI02:
      name: dwt_max
      in: query
      description: 'Data filter: maximum DWT </br></br> Use it to filter by size Cargo and Tanker IMO-having vessels (shiptype
        = 7,8). If used, then you should also define the dwt_min parameter'
      required: false
      schema:
        type: integer
    gt_min_VI02:
      name: gt_min
      in: query
      description: 'Data filter: minimum GT </br></br> Applicable to IMO-having vessels. If used, then you should also define
        the gt_max parameter'
      required: false
      schema:
        type: integer
    gt_max_VI02:
      name: gt_max
      in: query
      description: 'Data filter: maximum GT </br></br> Applicable to IMO-having vessels. If used, then you should also define
        the gt_min parameter'
      required: false
      schema:
        type: integer
    msgtype_VI02:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, apart from the ETA information, the response includes main vessel particulars. If\
        \ omitted, the returned records include only position and ETA reports"
      required: false
      schema:
        type: string
        default: simple
    country_VI02:
      name: country
      in: query
      description: The Country code of interest. Response includes all ports within the Country
      required: true
      schema:
        type: integer
    portid_VI05:
      name: portid
      in: query
      description: The MarineTraffic ID of the port you wish to receive probable visits (found on the URL of the respective
        Port page)
      required: true
      schema:
        type: integer
    market_VI05:
      name: market
      in: query
      description: "Define market for which you would like to receive probable visits - <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >more</a> <ul>\n  <li>if undefined and ship-class is also undefined, then return all </li>\n  <li>if undefined and\
        \ ship-class is defined, return based on ship-class</li>\n  <li>If defined and ship-class is undefined, return all\
        \ ship-classes of the specific market</li>\n</ul>"
      required: false
      schema:
        type: integer
    shipclass_VI05:
      name: shipclass
      in: query
      description: Define ship class of interest - <a href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
      required: false
      schema:
        type: integer
    probability_VI05:
      name: probability
      in: query
      description: Define probability over which you would like to receive probable visits (accepted > 0.3)
      required: false
      schema:
        type: integer
    portid_VI06:
      name: portid
      in: query
      description: The MarineTraffic ID of the port for which you wish to retrieve congestion metrics (found on the URL of
        the respective Port page). </br></br> If you wish to retrieve congestion metrics for all ports, instead of <b>portid</b>
        use <b>agg_port=1</b>
      required: true
      schema:
        type: integer
    year_VI06:
      name: year
      in: query
      description: Year of interest (data available back to 1 year). Information further back can be requested ad-hoc
      required: true
      schema:
        type: integer
    week_VI06:
      name: week
      in: query
      description: Week of Year that is of interest (e.g. for week 18/2018 input 18). For range of weeks use comma e.g. for
        weeks 30 to 35 (30,35)
      required: true
      schema:
        type: integer
    market_VI06:
      name: market
      in: query
      description: "Define market for which you would like to receive port congestion - <a href=\"https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class\"\
        >more</a> <ul>\n  <li>if undefined and ship-class is also undefined, then figures for ALL markets/ship-class</li>\n\
        \  <li>if undefined and ship-class is defined, returns based on ship-class for ALL applicable to size class markets</li>\n\
        \  <li>if defined and ship-class is undefined, returns figures for the specific market (no size class breakdown)</li>\n\
        </ul> </br></br> If you wish to retrieve congestion metrics for all markets, instead of <b>market</b> use <b>agg_market</b>\
        \ query parameter (=0 or =1)"
      required: true
      schema:
        type: integer
    shipclass_VI06:
      name: shipclass
      in: query
      description: Define ship class of interest - <a href="https://support.marinetraffic.com/en/articles/9552918-how-does-marinetraffic-categorise-commercial-market-and-commercial-size-class">more</a>
        </br></br> If you wish to retrieve congestion metrics for all ship classes, instead of <b>shipclass</b> use <b>agg_shipclass</b>
        query parameter (=0 or =1)
      required: true
      schema:
        type: integer
    agg_port_VI06:
      name: agg_port
      in: query
      description: "**If used, portid should not be in request** <ul>\n  <li>when agg_port = 1 is used, aggregation result\
        \ of all ports are returned</li>\n  <li>when agg_port = 1 is used, agg_market cannot be 1</li>\n</ul>"
      required: false
      schema:
        type: integer
    agg_market_VI06:
      name: agg_market
      in: query
      description: "**If used, market should not be in request** <ul>\n  <li>if agg_market = 1, aggregation result of all\
        \ markets will be returned</li>\n  <li>if 0, a breakdown of markets will be returned</li>\n</ul>"
      required: false
      schema:
        type: integer
    agg_shipclass_VI06:
      name: agg_shipclass
      in: query
      description: "**If used, shipclass should not be in request** <ul>\n  <li>if agg_shipclass = 1, aggregation result of\
        \ all classes will be returned</li>\n  <li>if 0, a breakdown of classes will be returned</li>\n</ul>"
      required: false
      schema:
        type: integer
    time_anch_VI06:
      name: time_anch
      in: query
      description: 'The median number of days spent at anchorage by the selected market/shipclass.

        Values indicate in between set to be returned </br></br> Comma separated float

        numbers (one decimal)

        </br></br><b>Available only if extended version of the API is used</b>'
      required: false
      schema:
        type: string
    time_port_VI06:
      name: time_port
      in: query
      description: The median number of days spent at port by the selected market/shipclass. Values indicate in between set
        to be returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if extended version
        of the API is used</b>
      required: false
      schema:
        type: string
    vessels_VI06:
      name: vessels
      in: query
      description: Number of vessels that were used in the median calculations. Value of parameter indicates greater than
        relation </br></br><b>Available only if extended version of the API is used</b>
      required: false
      schema:
        type: integer
    calls_VI06:
      name: calls
      in: query
      description: Number of individual calls that were used in the median calculations (e.g. if the same vessel has called
        twice within the same week, it will count twice in calls and once in vessels. Value of parameter indicates greater
        than relation </br></br><b>Available only if extended version of the API is used</b>
      required: false
      schema:
        type: integer
    time_anch_stdev_VI06:
      name: time_anch_stdev
      in: query
      description: The standard deviation of days spent at anchorage the previous week. Values indicate in between set to
        be returned (time_anch_stdev:0.5,1.5) </br></br> Comma separated float numbers (one decimal) </br></br><b>Available
        only if full version of the API is used</b>
      required: false
      schema:
        type: string
    time_anch_diff_VI06:
      name: time_anch_diff
      in: query
      description: The week-to-week difference of number of days spent at anchorage. Values indicate in between set to be
        returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version of the
        API is used</b>
      required: false
      schema:
        type: string
    time_anch_diff_perc_VI06:
      name: time_anch_diff_perc
      in: query
      description: The week-to-week difference of number of days spent at anchorage as a percentage. Values indicate in between
        set to be returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version
        of the API is used</b>
      required: false
      schema:
        type: string
    time_port_stdev_VI06:
      name: time_port_stdev
      in: query
      description: The standard deviation of days spent at port the previous week. Values indicate in between set to be returned
        (time_port_stdev:0.5,1.5) </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full
        version of the API is used</b>
      required: false
      schema:
        type: string
    time_port_diff_VI06:
      name: time_port_diff
      in: query
      description: The week-to-week difference of number of days spent at port. Values indicate in between set to be returned
        </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version of the API is used</b>
      required: false
      schema:
        type: string
    time_port_diff_perc_VI06:
      name: time_port_diff_perc
      in: query
      description: The week-to-week difference of number of days spent at port as a percentage. Values indicate in between
        set to be returned </br></br> Comma separated float numbers (one decimal) </br></br><b>Available only if full version
        of the API is used</b>
      required: false
      schema:
        type: string
    mmsi_VI03:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to track </br></br> You can <b>instead</b>
        use imo or shipid
      required: true
      schema:
        type: integer
    imo_VI03:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to track
      required: false
      schema:
        type: integer
    shipid_VI03:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel
      required: false
      schema:
        type: integer
    port_target_id_VI03:
      name: port_target_id
      in: query
      description: The MarineTraffic ID of the port you wish to put as target port (found on the URL of the respective Port
        page) or port UN/LOCODE
      required: true
      schema:
        type: integer
    includealternatives_VI03:
      name: includealternatives
      in: query
      description: Use 1 to search for all available routes regarding the specific journey or 0 to not include alternative
        routes
      required: false
      schema:
        type: integer
    includeinland_VI03:
      name: includeinland
      in: query
      description: Use 1 in order to receive routes which include inland waterways or 0 to not include alternative routes
      required: false
      schema:
        type: integer
    msgtype_VI03:
      name: msgtype
      in: query
      description: "Resolution of the response. Available values: <ul>\n  <li>simple</li>\n  <li>extended</li>\n</ul> If used\
        \ with the value <b>extended</b>, the response includes also route/waypoints as Linestring Geometry in WKT - Well-Known\
        \ Text"
      required: false
      schema:
        type: string
        default: simple
    port_start_id_VI03:
      name: port_start_id
      in: query
      description: The MarineTraffic ID of the port you wish to put as starting point (found on the URL of the respective
        Port page) or port UN/LOCODE
      required: true
      schema:
        type: integer
    LAT_VI03:
      name: LAT
      in: query
      description: The latitude of the starting point </br></br> It can be used together with LON <b>instead</b> of port_start_id
      required: false
      schema:
        type: number
    LON_VI03:
      name: LON
      in: query
      description: The longitude of the starting point </br></br> It can be used together with LAT <b>instead</b> of port_start_id
      required: false
      schema:
        type: integer
    coordinates_GI01:
      name: coordinates
      in: query
      description: A latitude/longitude pair that you wish to receive the MarineTraffic areas/assets that intersects with
      required: true
      schema:
        type: string
    radius_GI01:
      name: radius
      in: query
      description: Maximum distance (in NM) from the given point that should be searched for nearby areas/assets </br></br>
        Cannot be greater than 10NM
      required: false
      schema:
        type: number
    exclude_ports_GI01:
      name: exclude_ports
      in: query
      description: Flag that indicates if Ports information will be excluded from response in case given point intersects
        with them (0:no, 1:yes)
      required: false
      schema:
        type: integer
    exclude_berths_GI01:
      name: exclude_berths
      in: query
      description: Flag that indicates if Berths information will be excluded from response in case given point intersects
        with them (0:no, 1:yes)
      required: false
      schema:
        type: integer
    exclude_terminals_GI01:
      name: exclude_terminals
      in: query
      description: Flag that indicates if Terminals information will be excluded from response in case given point intersects
        with them (0:no, 1:yes)
      required: false
      schema:
        type: integer
    exclude_standard_areas_GI01:
      name: exclude_standard_areas
      in: query
      description: Flag that indicates if Standard Areas information will be excluded from response in case given point intersects
        with them (0:no, 1:yes)
      required: false
      schema:
        type: integer
    exclude_custom_areas_GI01:
      name: exclude_custom_areas
      in: query
      description: Flag that indicates if Custom Areas information will be excluded from response in case given point intersects
        with them (0:no, 1:yes)
      required: false
      schema:
        type: integer
    mmsi_PU01:
      name: mmsi
      in: query
      description: The Maritime Mobile Service Identity (MMSI) of the vessel you wish to handle, comma separated values supported
        </br></br> You can <b>instead</b> use imo or shipid
      required: true
      schema:
        type: integer
    imo_PU01:
      name: imo
      in: query
      description: The International Maritime Organization (IMO) number of the vessel you wish to handle, comma separated
        values supported
      required: false
      schema:
        type: integer
    shipid_PU01:
      name: shipid
      in: query
      description: A uniquely assigned ID by MarineTraffic for the subject vessel, comma separated values supported
      required: false
      schema:
        type: integer
    fleet_id_PU01:
      name: fleet_id
      in: query
      description: If used, vessel will be added to the specific fleet, otherwise default fleet is used
      required: false
      schema:
        type: integer
    active_PU01:
      name: active
      in: query
      description: "Possible values are:  <ul>\n  <li>0 to set to inactive</li>\n  <li>1 to activate</li>\n  <li>2 to enable\
        \ satellite coverage</li>\n</ul>"
      required: false
      schema:
        type: integer
    delete_PU01:
      name: delete
      in: query
      description: Set this parameter to 1 to delete a vessel from your fleet
      required: false
      schema:
        type: integer
    v_PU02:
      name: v
      in: query
      description: Version of the service to be executed. Use version 2 to get the latest
      required: true
      schema:
        type: integer
        default: 1
    fleet_id_PU02:
      name: fleet_id
      in: query
      description: If used, will return specific fleet otherwise default fleet is used
      required: false
      schema:
        type: integer
    page_PU02:
      name: page
      in: query
      description: Specifies the number of the results page to return. Use this parameter to navigate through paginated results
        (with version 2) when the fleet contains more than 100 vessels.
      required: false
      schema:
        type: integer
    fleet_id_PU05:
      name: fleet_id
      in: query
      description: The fleet id you wish to clear
      required: true
      schema:
        type: integer
    content_type_pu06:
      name: Content-Type
      in: header
      description: Request's Content-Type
      required: true
      schema:
        type: string
        default: multipart/form-data
  schemas:
    429_too_many_requests:
      title: Too many requests
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Error code
              detail:
                type: string
                description: Error message
      example:
        errors:
        - code: 1r
          detail: TOO MANY REQUESTS
    200_vi02_default:
      title: Simple
      type: array
      items:
        type: object
        properties:
          MMSI:
            type: string
            description: Maritime Mobile Service Identity - a nine-digit number sent in digital form over a radio frequency
              that identifies the vessel's transmitter station
          IMO:
            type: string
            description: International Maritime Organisation number - a seven-digit number that uniquely identifies vessels
          SHIP_ID:
            type: string
            description: A uniquely assigned ID by MarineTraffic for the subject vessel
          SHIPNAME:
            type: string
            description: The Shipname of the subject vessel
          LAT:
            type: string
            description: Latitude - a geographic coordinate that specifies the north-south position of the vessel on the Earth's
              surface
          LON:
            type: string
            description: Longitude - a geographic coordinate that specifies the east-west position of the vessel on the Earth's
              surface
          SPEED:
            type: string
            description: The speed (in knots x10) that the subject vessel is reporting according to AIS transmissions
          COURSE:
            type: string
            description: The course (in degrees) that the subject vessel is reporting according to AIS transmissions
          STATUS:
            type: string
            description: The AIS Navigational Status of the subject vessel as input by the vessel's crew. There might be discrepancies
              with the vessel's detail page when vessel speed is near zero (0) knots
          PORT_ID:
            type: string
            description: A uniquely assigned ID by MarineTraffic for the Current Port
          PORT_UNLOCODE:
            type: string
            description: A uniquely assigned ID by United Nations for the Current Port
          CURRENT_PORT:
            type: string
            description: The name of the Port the subject vessel is currently in (NULL if the vessel is underway)
          CURRENT_PORT_COUNTRY:
            type: string
            description: The Country that the Current Port is located at
          NEXT_PORT_ID:
            type: string
            description: A uniquely assigned ID by MarineTraffic for the Next Port
          NEXT_PORT_UNLOCODE:
            type: string
            description: A uniquely assigned ID by United Nations for the Next Port
          NEXT_PORT_NAME:
            type: string
            description: The Name of the Next Port as derived by MarineTraffic based on the subject vessel's reported Destination
          NEXT_PORT_COUNTRY:
            type: string
            description: The Country that the Next Port is located at
          ETA:
            type: string
            description: The Estimated Time of Arrival to Destination of the subject vessel according to the AIS transmissions
            format: date-time
          ETA_CALC:
            type: string
            description: The Estimated Time of Arrival to Destination of the subject vessel according to the MarineTraffic
              calculations
            format: date-time
          ETA_UPDATED:
            type: string
            description: The date and time (in UTC) that the ETA was calculated by MarineTraffic
            format: date-time
          TIMESTAMP:
            type: string
            description: The date and time (in UTC) that the subject vessel's position or event was recorded by MarineTraffic
            format: date-time
      example:
      - MMSI: '229001000'
        IMO: ''
        SHIP_ID: ''
        SHIPNAME: ''
        LAT: '37.938690'
        LON: '23.634480'
        SPEED: '0'
        COURSE: '129'
        STATUS: '5'
        PORT_ID: '1'
        PORT_UNLOCODE: GRPIR
        CURRENT_PORT: PIRAEUS
        CURRENT_PORT_COUNTRY: GR
        NEXT_PORT_ID: '1'
        NEXT_PORT_UNLOCODE: GRPIR
        NEXT_PORT_NAME: PIRAEUS
        NEXT_PORT_COUNTRY: GR
        ETA: '2021-03-14T05:40:00.000Z'
        ETA_CALC: ''
        ETA_UPDATED: ''
        TIMESTAMP: '2020-10-30T08:58:08.000Z'
      - MMSI: '201100129'
        IMO: ''
        SHIP_ID: ''
        SHIPNAME: ''
        LAT: '37.943630'
        LON: '23.631900'
        SPEED: '0'
        COURSE: '0'
        STATUS: '5'
        PORT_ID: '1'
        PORT_UNLOCODE: GRPIR
        CURRENT_PORT: PIRAEUS
        CURRENT_PORT_COUNTRY: GR
        NEXT_PORT_ID: ''
        NEXT_PORT_UNLOCODE: ''
        NEXT_PORT_NAME: ''
        NEXT_PORT_COUNTRY: ''
        ETA: '2020-10-26T08:00:00.000Z'
        ETA_CALC: ''
        ETA_UPDATED: ''
        TIMESTAMP: '2020-10-30T08:57:24.000Z'
    200_vi02_extended:
      title: Extended
      type: array
      items:
        type: object
        properties:
          MMSI:
            type: string
            description: Maritime Mobile Service Identity - a nine-digit number sent in digital form over a radio frequency
              that identifies the vessel's transmitter station
          IMO:
            type: string
            description: International Maritime Organisation number - a seven-digit number that uniquely identifies vessels
          SHIP_ID:
            type: string
            description: A uniquely assigned ID by MarineTraffic for the subject vessel
          SHIPNAME:
            type: string
            description: The Shipname of the subject vessel
          TYPE_NAME:
            type: string
            description: The Type of the subject vessel
          SHIPTYPE:
            type: string
            description: The Shiptype of the subject vessel according to AIS transmissions
          CALLSIGN:
            type: string
            description: A uniquely designated identifier for the vessel's transmitter station
          FLAG:
            type: string
            description: The flag of the subject vessel according to AIS transmissions
          LENGTH:
            type: string
            description: The overall Length (in metres) of the subject vessel
          WIDTH:
            type: string
            description: The Breadth (in metres) of the subject vessel
          DRAUGHT:
            type: string
            description: The Draught (in metres x10) of the subject vessel according to the AIS transmissions
          GRT:
            type: string
            description: Gross Tonnage - unitless measure that calculates the moulded volume of all enclosed spaces of a ship
          DWT:
            type: string
            description: Deadweight - a measure (in metric tons) of how much weight a vessel can safely carry (excluding the
              vessel's own weight)
          YEAR_BUILT:
            type: string
            description: The year that the subject vessel was built
          LAT:
            type: string
[...]
