openapi: 3.0.2
info:
  title: MarineTraffic Vessel Positions API
  version: 1.0.0
  description: Retrieve current and historical AIS vessel positions for single vessels, fleets, areas of interest, ports,
    and bounding boxes. Includes the modern AIS API and the Legacy Vessel Positions API plus the Vessel Historical Track endpoints.
  contact:
    name: MarineTraffic
    url: https://www.marinetraffic.com/
servers:
- url: https://services.marinetraffic.com/api
tags:
- name: AIS API
- name: Vessel Positions (Legacy API)
- name: Vessel Historical Track
paths:
  /exportvesseltrack/{api_key}:
    get:
      tags:
      - Vessel Historical Track
      summary: Single Vessel Historical Positions
      description: "Get all historical positions of a single vessel for a specific period of time. </br></br> <b>Notes</b>\
        \ <ul>\n    <li>Default resolution for returned positions is up to 2 minutes. Use \"period\" parameter to limit the\
        \ frequency of positions</li>\n    <li>Weather data is returned once within each hour's results</li>\n    <li>Information\
        \ about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** speed over ground returned in (knots x10)</li>\n    <li>**TIMESTAMP**\
        \ UTC second when the report was generated (0-59)</li>\n    <li>Historical positions are available since January 2015</li>\n\
        \    <li>**Hourly** and **daily** records are the first records received during the hour or the day respectively</li>\n\
        \    <li>When the **period** is **hourly**, the data field **HEADING** is not available for positions older than 2017-11-17</li>\n\
        \    <li>**Hourly** records are available for dates after 2014-08-28</li>\n    <li>Weather data for **winds** are\
        \ available for dates after 2015-05-27</li>\n    <li>Weather data for **waves**, **swells** and **currents** are available\
        \ for dates after 2021-01-21</li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and\
        \ is detailed in your contract as a number of successful calls per time period. For example “2 calls per minute”.\
        \ </br>Regardless of this agreed limit, each API key is technically restricted to a maximum of 100 total (including\
        \ successful and unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvesseltrack
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS01'
      - $ref: '#/components/parameters/shipid_PS01'
      - $ref: '#/components/parameters/mmsi_PS01'
      - $ref: '#/components/parameters/imo_PS01'
      - $ref: '#/components/parameters/days_PS01'
      - $ref: '#/components/parameters/fromdate_PS01'
      - $ref: '#/components/parameters/todate_PS01'
      - $ref: '#/components/parameters/period_PS01'
      - $ref: '#/components/parameters/msgtype_PS01'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps01_default'
                - $ref: '#/components/schemas/200_ps01_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps01_default'
                - $ref: '#/components/schemas/200_ps01_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<VESSELTRACK>\n    <POSITION MMSI=\"\
                    311000092\" IMO=\"9515228\" STATUS=\"1\" SPEED=\"1\" LON=\"-71.702930\" LAT=\"-33.621820\" COURSE=\"16\"\
                    \ HEADING=\"217\" TIMESTAMP=\"2021-02-07T12:57:34\" SHIP_ID=\"372044\"/>\n    <POSITION MMSI=\"311000092\"\
                    \ IMO=\"9515228\" STATUS=\"1\" SPEED=\"3\" LON=\"-71.703470\" LAT=\"-33.621660\" COURSE=\"174\" HEADING=\"\
                    204\" TIMESTAMP=\"2021-02-07T13:39:31\" SHIP_ID=\"372044\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"\
                    9515228\" STATUS=\"1\" SPEED=\"2\" LON=\"-71.703610\" LAT=\"-33.621490\" COURSE=\"243\" HEADING=\"199\"\
                    \ TIMESTAMP=\"2021-02-07T14:00:34\" SHIP_ID=\"372044\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\"\
                    \ STATUS=\"1\" SPEED=\"6\" LON=\"-71.703650\" LAT=\"-33.621570\" COURSE=\"179\" HEADING=\"195\" TIMESTAMP=\"\
                    2021-02-07T14:06:36\" SHIP_ID=\"372044\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"\
                    1\" SPEED=\"2\" LON=\"-71.703600\" LAT=\"-33.621640\" COURSE=\"73\" HEADING=\"199\" TIMESTAMP=\"2021-02-07T14:09:36\"\
                    \ SHIP_ID=\"372044\"/>\n</VESSELTRACK>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<VESSELTRACK>\n    <POSITION MMSI=\"\
                    311000092\" IMO=\"9515228\" STATUS=\"1\" SPEED=\"1\" LON=\"-71.702930\" LAT=\"-33.621820\" COURSE=\"16\"\
                    \ HEADING=\"217\" TIMESTAMP=\"2021-02-07T12:57:34\" SHIP_ID=\"372044\" WIND_ANGLE=\"\" WIND_SPEED=\"\"\
                    \ WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\
                    \" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\" CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n\
                    \    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"1\" SPEED=\"2\" LON=\"-71.703370\" LAT=\"-33.621650\"\
                    \ COURSE=\"282\" HEADING=\"209\" TIMESTAMP=\"2021-02-07T13:34:00\" SHIP_ID=\"372044\" WIND_ANGLE=\"280\"\
                    \ WIND_SPEED=\"7\" WIND_TEMP=\"15\" SIGNIFICANT_WAVE_HEIGHT=\"13\" WIND_WAVE_DIRECTION=\"251\" WIND_WAVE_HEIGHT=\"\
                    0\" WIND_WAVE_PERIOD=\"10\" SWELL_HEIGHT=\"13\" SWELL_PERIOD=\"109\" CURRENTS_ANGLE=\"236\" CURRENTS_SPEED=\"\
                    31\" SWELL_DIRECTION=\"251\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"1\" SPEED=\"\
                    3\" LON=\"-71.703470\" LAT=\"-33.621660\" COURSE=\"174\" HEADING=\"204\" TIMESTAMP=\"2021-02-07T13:39:31\"\
                    \ SHIP_ID=\"372044\" WIND_ANGLE=\"\" WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\
                    \" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\"\
                    \ CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"\
                    1\" SPEED=\"2\" LON=\"-71.703610\" LAT=\"-33.621490\" COURSE=\"243\" HEADING=\"199\" TIMESTAMP=\"2021-02-07T14:00:34\"\
                    \ SHIP_ID=\"372044\" WIND_ANGLE=\"\" WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\
                    \" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\"\
                    \ CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"\
                    1\" SPEED=\"6\" LON=\"-71.703650\" LAT=\"-33.621570\" COURSE=\"179\" HEADING=\"195\" TIMESTAMP=\"2021-02-07T14:06:36\"\
                    \ SHIP_ID=\"372044\" WIND_ANGLE=\"\" WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\
                    \" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\"\
                    \ CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"\
                    1\" SPEED=\"2\" LON=\"-71.703600\" LAT=\"-33.621640\" COURSE=\"73\" HEADING=\"199\" TIMESTAMP=\"2021-02-07T14:09:36\"\
                    \ SHIP_ID=\"372044\" WIND_ANGLE=\"\" WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\
                    \" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\"\
                    \ CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"\
                    1\" SPEED=\"1\" LON=\"-71.703830\" LAT=\"-33.621530\" COURSE=\"170\" HEADING=\"190\" TIMESTAMP=\"2021-02-07T14:34:00\"\
                    \ SHIP_ID=\"372044\" WIND_ANGLE=\"280\" WIND_SPEED=\"7\" WIND_TEMP=\"15\" SIGNIFICANT_WAVE_HEIGHT=\"13\"\
                    \ WIND_WAVE_DIRECTION=\"251\" WIND_WAVE_HEIGHT=\"0\" WIND_WAVE_PERIOD=\"10\" SWELL_HEIGHT=\"13\" SWELL_PERIOD=\"\
                    109\" CURRENTS_ANGLE=\"236\" CURRENTS_SPEED=\"31\" SWELL_DIRECTION=\"251\"/>\n    <POSITION MMSI=\"311000092\"\
                    \ IMO=\"9515228\" STATUS=\"1\" SPEED=\"4\" LON=\"-71.703360\" LAT=\"-33.621710\" COURSE=\"177\" HEADING=\"\
                    205\" TIMESTAMP=\"2021-02-07T15:34:00\" SHIP_ID=\"372044\" WIND_ANGLE=\"280\" WIND_SPEED=\"7\" WIND_TEMP=\"\
                    15\" SIGNIFICANT_WAVE_HEIGHT=\"13\" WIND_WAVE_DIRECTION=\"251\" WIND_WAVE_HEIGHT=\"0\" WIND_WAVE_PERIOD=\"\
                    10\" SWELL_HEIGHT=\"13\" SWELL_PERIOD=\"109\" CURRENTS_ANGLE=\"236\" CURRENTS_SPEED=\"31\" SWELL_DIRECTION=\"\
                    251\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\" STATUS=\"1\" SPEED=\"1\" LON=\"-71.703290\"\
                    \ LAT=\"-33.621750\" COURSE=\"194\" HEADING=\"205\" TIMESTAMP=\"2021-02-07T16:34:00\" SHIP_ID=\"372044\"\
                    \ WIND_ANGLE=\"281\" WIND_SPEED=\"7\" WIND_TEMP=\"15\" SIGNIFICANT_WAVE_HEIGHT=\"12\" WIND_WAVE_DIRECTION=\"\
                    251\" WIND_WAVE_HEIGHT=\"0\" WIND_WAVE_PERIOD=\"10\" SWELL_HEIGHT=\"12\" SWELL_PERIOD=\"108\" CURRENTS_ANGLE=\"\
                    219\" CURRENTS_SPEED=\"40\" SWELL_DIRECTION=\"251\"/>\n    <POSITION MMSI=\"311000092\" IMO=\"9515228\"\
                    \ STATUS=\"1\" SPEED=\"3\" LON=\"-71.703300\" LAT=\"-33.621780\" COURSE=\"199\" HEADING=\"208\" TIMESTAMP=\"\
                    2021-02-07T17:34:00\" SHIP_ID=\"372044\" WIND_ANGLE=\"281\" WIND_SPEED=\"7\" WIND_TEMP=\"15\" SIGNIFICANT_WAVE_HEIGHT=\"\
                    12\" WIND_WAVE_DIRECTION=\"251\" WIND_WAVE_HEIGHT=\"0\" WIND_WAVE_PERIOD=\"10\" SWELL_HEIGHT=\"12\" SWELL_PERIOD=\"\
                    108\" CURRENTS_ANGLE=\"219\" CURRENTS_SPEED=\"40\" SWELL_DIRECTION=\"251\"/>\n</VESSELTRACK>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ps01_days_out_of_limit'
                - $ref: '#/components/schemas/400_ps01_missing_ship_identifier'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/400_ps01_days_out_of_limit'
                - $ref: '#/components/schemas/400_ps01_missing_ship_identifier'
              examples:
                Days out of limit:
                  summary: Days out of limit
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RESPONSE>\n    <STATUS>\n        <ERROR CODE=\"9c\"\
                    \ DESCRIPTION=\"DAYS ABOVE ALLOWED LIMIT\"/>\n    </STATUS>\n</RESPONSE>"
                Missing ship identifier:
                  summary: Missing ship identifier
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID MISSING\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/exportvesseltrack/{api_key} ':
    get:
      tags:
      - Vessel Historical Track
      summary: Vessel Historical Positions in an Area
      description: "Get vessel historical positions for a single or for all vessels inside an area of your preference for\
        \ a specific period of time.\n    </br></br>\n<b>Notes</b> <ul>\n    <li>Default resolution for returned positions\
        \ is up to 2 minutes. Use \"period\" parameter to limit the frequency of positions</li>\n    <li>Weather data is returned\
        \ once within each hour's results</li>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** speed over ground returned in (knots x10)</li>\n    <li>**TIMESTAMP**\
        \ UTC second when the report was generated (0-59)</li>\n    <li>Historical positions are available since January 2015</li>\n\
        \    <li>**Hourly** and **daily** records are the first records received during the hour or the day respectively</li>\n\
        \    <li>When the **period** is **hourly**, the data field **HEADING** is not available for positions older than 2017-11-17</li>\n\
        \    <li>**Hourly** records are available for dates after 2014-08-28</li>\n    <li>Weather data for **winds** are\
        \ available for dates after 2015-05-27</li>\n    <li>Weather data for **waves**, **swells** and **currents** are available\
        \ for dates after 2021-01-21</li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and\
        \ is detailed in your contract as a number of successful calls per time period. For example “2 calls per minute”.\
        \ </br>Regardless of this agreed limit, each API key is technically restricted to a maximum of 100 total (including\
        \ successful and unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvesseltrack_
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS01'
      - $ref: '#/components/parameters/days_PS01'
      - $ref: '#/components/parameters/fromdate_PS01'
      - $ref: '#/components/parameters/todate_PS01'
      - $ref: '#/components/parameters/MINLAT_PS01'
      - $ref: '#/components/parameters/MAXLAT_PS01'
      - $ref: '#/components/parameters/MINLON_PS01'
      - $ref: '#/components/parameters/MAXLON_PS01'
      - $ref: '#/components/parameters/shipid_PS01_2'
      - $ref: '#/components/parameters/mmsi_PS01'
      - $ref: '#/components/parameters/imo_PS01'
      - $ref: '#/components/parameters/period_PS01'
      - $ref: '#/components/parameters/msgtype_PS01'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps01_default'
                - $ref: '#/components/schemas/200_ps01_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps01_default'
                - $ref: '#/components/schemas/200_ps01_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<VESSELTRACK>\n    <POSITION MMSI=\"\
                    239982500\" IMO=\"8348678\" STATUS=\"5\" SPEED=\"0\" LON=\"23.726880\" LAT=\"37.878850\" COURSE=\"0\"\
                    \ HEADING=\"320\" TIMESTAMP=\"2021-02-08T12:57:01\" SHIP_ID=\"4317723\"/>\n    <POSITION MMSI=\"249032000\"\
                    \ IMO=\"9351098\" STATUS=\"15\" SPEED=\"2\" LON=\"23.548990\" LAT=\"37.903030\" COURSE=\"160\" HEADING=\"\
                    160\" TIMESTAMP=\"2021-02-08T12:57:05\" SHIP_ID=\"362849\"/>\n    <POSITION MMSI=\"240000500\" IMO=\"\
                    9822839\" STATUS=\"0\" SPEED=\"0\" LON=\"23.530200\" LAT=\"37.965420\" COURSE=\"51\" HEADING=\"511\" TIMESTAMP=\"\
                    2021-02-08T12:57:11\" SHIP_ID=\"4858425\"/>\n    <POSITION MMSI=\"636011396\" IMO=\"9216901\" STATUS=\"\
                    1\" SPEED=\"3\" LON=\"23.505830\" LAT=\"37.850330\" COURSE=\"186\" HEADING=\"186\" TIMESTAMP=\"2021-02-08T12:57:12\"\
                    \ SHIP_ID=\"753064\"/>\n    <POSITION MMSI=\"240612000\" IMO=\"8008254\" STATUS=\"15\" SPEED=\"11\" LON=\"\
                    23.601030\" LAT=\"37.957200\" COURSE=\"136\" HEADING=\"511\" TIMESTAMP=\"2021-02-08T12:57:13\" SHIP_ID=\"\
                    213328\"/>\n</VESSELTRACK>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VESSELTRACK>\n    <POSITION MMSI=\"239982500\" IMO=\"\
                    8348678\" STATUS=\"5\" SPEED=\"0\" LON=\"23.726880\" LAT=\"37.878850\" COURSE=\"0\" HEADING=\"320\" TIMESTAMP=\"\
                    2021-02-08T12:57:01\" SHIP_ID=\"4317723\" WIND_ANGLE=\"\" WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\
                    \" WIND_WAVE_DIRECTION=\"\" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\
                    \" CURRENTS_ANGLE=\"\" CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n    <POSITION MMSI=\"249032000\" IMO=\"\
                    9351098\" STATUS=\"15\" SPEED=\"2\" LON=\"23.548990\" LAT=\"37.903030\" COURSE=\"160\" HEADING=\"160\"\
                    \ TIMESTAMP=\"2021-02-08T12:57:05\" SHIP_ID=\"362849\" WIND_ANGLE=\"\" WIND_SPEED=\"\" WIND_TEMP=\"\"\
                    \ SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\
                    \" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\" CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n    <POSITION MMSI=\"\
                    240000500\" IMO=\"9822839\" STATUS=\"0\" SPEED=\"0\" LON=\"23.530200\" LAT=\"37.965420\" COURSE=\"51\"\
                    \ HEADING=\"511\" TIMESTAMP=\"2021-02-08T12:57:11\" SHIP_ID=\"4858425\" WIND_ANGLE=\"\" WIND_SPEED=\"\"\
                    \ WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\" WIND_WAVE_HEIGHT=\"\" WIND_WAVE_PERIOD=\"\
                    \" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\" CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\"/>\n\
                    \    <POSITION MMSI=\"636011396\" IMO=\"9216901\" STATUS=\"1\" SPEED=\"3\" LON=\"23.505830\" LAT=\"37.850330\"\
                    \ COURSE=\"186\" HEADING=\"186\" TIMESTAMP=\"2021-02-08T12:57:12\" SHIP_ID=\"753064\" WIND_ANGLE=\"\"\
                    \ WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\" WIND_WAVE_HEIGHT=\"\
                    \" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\" CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\
                    \"/>\n    <POSITION MMSI=\"240612000\" IMO=\"8008254\" STATUS=\"15\" SPEED=\"11\" LON=\"23.601030\" LAT=\"\
                    37.957200\" COURSE=\"136\" HEADING=\"511\" TIMESTAMP=\"2021-02-08T12:57:13\" SHIP_ID=\"213328\" WIND_ANGLE=\"\
                    \" WIND_SPEED=\"\" WIND_TEMP=\"\" SIGNIFICANT_WAVE_HEIGHT=\"\" WIND_WAVE_DIRECTION=\"\" WIND_WAVE_HEIGHT=\"\
                    \" WIND_WAVE_PERIOD=\"\" SWELL_HEIGHT=\"\" SWELL_PERIOD=\"\" CURRENTS_ANGLE=\"\" CURRENTS_SPEED=\"\" SWELL_DIRECTION=\"\
                    \"/>\n    <POSITION MMSI=\"636009659\" IMO=\"1000588\" STATUS=\"0\" SPEED=\"0\" LON=\"23.680940\" LAT=\"\
                    37.930710\" COURSE=\"105\" HEADING=\"191\" TIMESTAMP=\"2021-02-08T12:58:00\" SHIP_ID=\"975029\" WIND_ANGLE=\"\
                    192\" WIND_SPEED=\"19\" WIND_TEMP=\"18\" SIGNIFICANT_WAVE_HEIGHT=\"11\" WIND_WAVE_DIRECTION=\"170\" WIND_WAVE_HEIGHT=\"\
                    4\" WIND_WAVE_PERIOD=\"29\" SWELL_HEIGHT=\"10\" SWELL_PERIOD=\"64\" CURRENTS_ANGLE=\"0\" CURRENTS_SPEED=\"\
                    0\" SWELL_DIRECTION=\"170\"/>\n    <POSITION MMSI=\"240605000\" IMO=\"1003059\" STATUS=\"5\" SPEED=\"\
                    0\" LON=\"23.683410\" LAT=\"37.930550\" COURSE=\"0\" HEADING=\"511\" TIMESTAMP=\"2021-02-08T12:58:00\"\
                    \ SHIP_ID=\"213300\" WIND_ANGLE=\"192\" WIND_SPEED=\"19\" WIND_TEMP=\"18\" SIGNIFICANT_WAVE_HEIGHT=\"\
                    11\" WIND_WAVE_DIRECTION=\"170\" WIND_WAVE_HEIGHT=\"4\" WIND_WAVE_PERIOD=\"29\" SWELL_HEIGHT=\"10\" SWELL_PERIOD=\"\
                    64\" CURRENTS_ANGLE=\"0\" CURRENTS_SPEED=\"0\" SWELL_DIRECTION=\"170\"/>\n    <POSITION MMSI=\"240247800\"\
                    \ IMO=\"0\" STATUS=\"99\" SPEED=\"0\" LON=\"23.728100\" LAT=\"37.878720\" COURSE=\"81\" HEADING=\"511\"\
                    \ TIMESTAMP=\"2021-02-08T12:58:00\" SHIP_ID=\"6280434\" WIND_ANGLE=\"196\" WIND_SPEED=\"21\" WIND_TEMP=\"\
                    19\" SIGNIFICANT_WAVE_HEIGHT=\"20\" WIND_WAVE_DIRECTION=\"172\" WIND_WAVE_HEIGHT=\"18\" WIND_WAVE_PERIOD=\"\
                    56\" SWELL_HEIGHT=\"8\" SWELL_PERIOD=\"72\" CURRENTS_ANGLE=\"0\" CURRENTS_SPEED=\"0\" SWELL_DIRECTION=\"\
                    115\"/>\n    <POSITION MMSI=\"240070200\" IMO=\"0\" STATUS=\"99\" SPEED=\"0\" LON=\"23.706390\" LAT=\"\
                    37.912190\" COURSE=\"47\" HEADING=\"511\" TIMESTAMP=\"2021-02-08T12:58:00\" SHIP_ID=\"5530757\" WIND_ANGLE=\"\
                    196\" WIND_SPEED=\"21\" WIND_TEMP=\"19\" SIGNIFICANT_WAVE_HEIGHT=\"16\" WIND_WAVE_DIRECTION=\"163\" WIND_WAVE_HEIGHT=\"\
                    8\" WIND_WAVE_PERIOD=\"41\" SWELL_HEIGHT=\"13\" SWELL_PERIOD=\"70\" CURRENTS_ANGLE=\"0\" CURRENTS_SPEED=\"\
                    0\" SWELL_DIRECTION=\"156\"/>\n    <POSITION MMSI=\"241113000\" IMO=\"9625499\" STATUS=\"5\" SPEED=\"\
                    0\" LON=\"23.649900\" LAT=\"37.931530\" COURSE=\"0\" HEADING=\"328\" TIMESTAMP=\"2021-02-08T12:58:00\"\
                    \ SHIP_ID=\"214507\" WIND_ANGLE=\"192\" WIND_SPEED=\"19\" WIND_TEMP=\"18\" SIGNIFICANT_WAVE_HEIGHT=\"\
                    11\" WIND_WAVE_DIRECTION=\"170\" WIND_WAVE_HEIGHT=\"4\" WIND_WAVE_PERIOD=\"29\" SWELL_HEIGHT=\"10\" SWELL_PERIOD=\"\
                    64\" CURRENTS_ANGLE=\"0\" CURRENTS_SPEED=\"0\" SWELL_DIRECTION=\"170\"/>\n</VESSELTRACK>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_ps01_area_out_of_bound'
            application/xml:
              schema:
                $ref: '#/components/schemas/400_ps01_area_out_of_bound'
              examples:
                Area out of bound:
                  summary: Area out of bound
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1k\" DESCRIPTION=\"BOX OUT OF BOUNDS\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /exportvessels/{api_key}:
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Vessel Positions of a Static Fleet
      description: "Keep a close eye on the vessel or group of vessels of your interest. </br></br> <b>Notes</b> <ul>\n  \
        \  <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessels
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS02'
      - $ref: '#/components/parameters/timespan_PS02'
      - $ref: '#/components/parameters/shiptype_PS02'
      - $ref: '#/components/parameters/msgtype_PS02'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps02_default'
                - $ref: '#/components/schemas/200_ps02_extended'
                - $ref: '#/components/schemas/200_ps02_full'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps02_default'
                - $ref: '#/components/schemas/200_ps02_extended'
                - $ref: '#/components/schemas/200_ps02_full'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"240389000\"\
                    \ IMO=\"9208679\" SHIP_ID=\"212537\" LAT=\"37.512420\" LON=\"24.913050\" SPEED=\"229\" HEADING=\"294\"\
                    \ COURSE=\"295\" STATUS=\"0\" TIMESTAMP=\"2020-10-13T07:49:57\" DSRC=\"TER\" UTC_SECONDS=\"55\"/>\n  \
                    \  <row MMSI=\"310627000\" IMO=\"9241061\" SHIP_ID=\"371681\" LAT=\"50.510430\" LON=\"-3.453147\" SPEED=\"\
                    4\" HEADING=\"276\" COURSE=\"236\" STATUS=\"1\" TIMESTAMP=\"2020-10-13T07:48:16\" DSRC=\"TER\" UTC_SECONDS=\"\
                    16\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"240389000\"\
                    \ IMO=\"9208679\" SHIP_ID=\"212537\" LAT=\"37.659450\" LON=\"26.497440\" SPEED=\"222\" HEADING=\"205\"\
                    \ COURSE=\"208\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:47:03\" DSRC=\"TER\" UTC_SECONDS=\"0\" SHIPNAME=\"\
                    BLUE STAR MYCONOS\" SHIPTYPE=\"60\" CALLSIGN=\"SYJZ\" FLAG=\"GR\" LENGTH=\"141\" WIDTH=\"21\" GRT=\"8129\"\
                    \ DWT=\"2651\" DRAUGHT=\"52\" YEAR_BUILT=\"2005\" ROT=\"0\" TYPE_NAME=\"Ro-Ro/Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"S-T-M-E-K-V\" ETA=\"2020-10-15T11:35:00\"/>\n    <row MMSI=\"310627000\" IMO=\"\
                    9241061\" SHIP_ID=\"371681\" LAT=\"50.495310\" LON=\"-3.182992\" SPEED=\"111\" HEADING=\"280\" COURSE=\"\
                    274\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:47:17\" DSRC=\"TER\" UTC_SECONDS=\"16\" SHIPNAME=\"QUEEN\
                    \ MARY 2\" SHIPTYPE=\"60\" CALLSIGN=\"ZCEF6\" FLAG=\"BM\" LENGTH=\"345.03\" WIDTH=\"48.7\" GRT=\"149215\"\
                    \ DWT=\"19189\" DRAUGHT=\"101\" YEAR_BUILT=\"2003\" ROT=\"0\" TYPE_NAME=\"Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"TORQUAY\" ETA=\"2020-10-14T13:00:00\"/>\n</POS>"
                Full:
                  summary: Full
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"240389000\"\
                    \ IMO=\"9208679\" SHIP_ID=\"212537\" LAT=\"37.646880\" LON=\"26.488940\" SPEED=\"223\" HEADING=\"205\"\
                    \ COURSE=\"208\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:49:22\" DSRC=\"TER\" UTC_SECONDS=\"18\" SHIPNAME=\"\
                    BLUE STAR MYCONOS\" SHIPTYPE=\"60\" CALLSIGN=\"SYJZ\" FLAG=\"GR\" LENGTH=\"141\" WIDTH=\"21\" GRT=\"8129\"\
                    \ DWT=\"2651\" DRAUGHT=\"52\" YEAR_BUILT=\"2005\" ROT=\"0\" TYPE_NAME=\"Ro-Ro/Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"S-T-M-E-K-V\" ETA=\"2020-10-15T11:35:00\" CURRENT_PORT=\"\" LAST_PORT=\"KARLOVASI\"\
                    \ LAST_PORT_TIME=\"2020-10-15T11:14:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\
                    \" LAST_PORT_ID=\"44\" LAST_PORT_UNLOCODE=\"GRKAR\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"17305\" NEXT_PORT_UNLOCODE=\"\
                    \" NEXT_PORT_NAME=\"FOURNI\" NEXT_PORT_COUNTRY=\"GR\" ETA_CALC=\"2020-10-15T12:04:00\" ETA_UPDATED=\"\
                    2020-10-15T11:42:00\" DISTANCE_TO_GO=\"7\" DISTANCE_TRAVELLED=\"11\" AVG_SPEED=\"22.6\" MAX_SPEED=\"23.1\"\
                    />\n    <row MMSI=\"310627000\" IMO=\"9241061\" SHIP_ID=\"371681\" LAT=\"50.495970\" LON=\"-3.195012\"\
                    \ SPEED=\"110\" HEADING=\"280\" COURSE=\"275\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:49:48\" DSRC=\"\
                    TER\" UTC_SECONDS=\"47\" SHIPNAME=\"QUEEN MARY 2\" SHIPTYPE=\"60\" CALLSIGN=\"ZCEF6\" FLAG=\"BM\" LENGTH=\"\
                    345.03\" WIDTH=\"48.7\" GRT=\"149215\" DWT=\"19189\" DRAUGHT=\"101\" YEAR_BUILT=\"2003\" ROT=\"0\" TYPE_NAME=\"\
                    Passenger Ship\" AIS_TYPE_SUMMARY=\"Passenger\" DESTINATION=\"TORQUAY\" ETA=\"2020-10-14T13:00:00\" CURRENT_PORT=\"\
                    \" LAST_PORT=\"SOUTHAMPTON\" LAST_PORT_TIME=\"2020-10-14T17:00:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\
                    \" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"106\" LAST_PORT_UNLOCODE=\"GBSOU\" LAST_PORT_COUNTRY=\"GB\"\
                    \ NEXT_PORT_ID=\"10379\" NEXT_PORT_UNLOCODE=\"GBTOR\" NEXT_PORT_NAME=\"TORQUAY\" NEXT_PORT_COUNTRY=\"\
                    GB\" ETA_CALC=\"2020-10-15T13:10:00\" ETA_UPDATED=\"2020-10-15T10:48:00\" DISTANCE_TO_GO=\"17\" DISTANCE_TRAVELLED=\"\
                    190\" AVG_SPEED=\"10.6\" MAX_SPEED=\"15.4\"/>\n</POS>"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_ps02_infinite_timespan'
            application/xml:
              schema:
                $ref: '#/components/schemas/403_ps02_infinite_timespan'
              examples:
                Infinite timespan:
                  summary: Infinite timespan
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1d\" DESCRIPTION=\"TIME-UNLIMITED POLLING NOT ALLOWED\"/>\n    </STATUS>\n</RESPONSE>"
  '/exportvessels/{api_key} ':
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Vessel Positions of a Dynamic Fleet
      description: "Monitor vessel activity for your MarineTraffic fleet(s). </br></br> <b>Notes</b> <ul>\n    <li>Information\
        \ about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552867-what-is-the-significance-of-the-ais-navigational-status-values\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessels__
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS03'
      - $ref: '#/components/parameters/timespan_PS03'
      - $ref: '#/components/parameters/shiptype_PS03'
      - $ref: '#/components/parameters/msgtype_PS03'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps03_default'
                - $ref: '#/components/schemas/200_ps03_extended'
                - $ref: '#/components/schemas/200_ps03_full'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps03_default'
                - $ref: '#/components/schemas/200_ps03_extended'
                - $ref: '#/components/schemas/200_ps03_full'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"240389000\"\
                    \ IMO=\"9208679\" SHIP_ID=\"212537\" LAT=\"37.515440\" LON=\"24.904090\" SPEED=\"229\" HEADING=\"290\"\
                    \ COURSE=\"292\" STATUS=\"0\" TIMESTAMP=\"2020-10-13T07:51:09\" DSRC=\"TER\" UTC_SECONDS=\"7\"/>\n   \
                    \ <row MMSI=\"241159000\" IMO=\"9565041\" SHIP_ID=\"214617\" LAT=\"37.941010\" LON=\"23.624440\" SPEED=\"\
                    1\" HEADING=\"154\" COURSE=\"154\" STATUS=\"0\" TIMESTAMP=\"2020-10-13T07:46:32\" DSRC=\"TER\" UTC_SECONDS=\"\
                    30\"/>\n    <row MMSI=\"310627000\" IMO=\"9241061\" SHIP_ID=\"371681\" LAT=\"50.510350\" LON=\"-3.453522\"\
                    \ SPEED=\"1\" HEADING=\"285\" COURSE=\"245\" STATUS=\"1\" TIMESTAMP=\"2020-10-13T07:51:17\" DSRC=\"TER\"\
                    \ UTC_SECONDS=\"16\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"240389000\"\
                    \ IMO=\"9208679\" SHIP_ID=\"212537\" LAT=\"37.659450\" LON=\"26.497440\" SPEED=\"222\" HEADING=\"205\"\
                    \ COURSE=\"208\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:47:03\" DSRC=\"TER\" UTC_SECONDS=\"0\" SHIPNAME=\"\
                    BLUE STAR MYCONOS\" SHIPTYPE=\"60\" CALLSIGN=\"SYJZ\" FLAG=\"GR\" LENGTH=\"141\" WIDTH=\"21\" GRT=\"8129\"\
                    \ DWT=\"2651\" DRAUGHT=\"52\" YEAR_BUILT=\"2005\" ROT=\"0\" TYPE_NAME=\"Ro-Ro/Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"S-T-M-E-K-V\" ETA=\"2020-10-15T11:35:00\"/>\n    <row MMSI=\"310627000\" IMO=\"\
                    9241061\" SHIP_ID=\"371681\" LAT=\"50.495310\" LON=\"-3.182992\" SPEED=\"111\" HEADING=\"280\" COURSE=\"\
                    274\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:47:17\" DSRC=\"TER\" UTC_SECONDS=\"16\" SHIPNAME=\"QUEEN\
                    \ MARY 2\" SHIPTYPE=\"60\" CALLSIGN=\"ZCEF6\" FLAG=\"BM\" LENGTH=\"345.03\" WIDTH=\"48.7\" GRT=\"149215\"\
                    \ DWT=\"19189\" DRAUGHT=\"101\" YEAR_BUILT=\"2003\" ROT=\"0\" TYPE_NAME=\"Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"TORQUAY\" ETA=\"2020-10-14T13:00:00\"/>\n</POS>"
                Full:
                  summary: Full
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"240389000\"\
                    \ IMO=\"9208679\" SHIP_ID=\"212537\" LAT=\"37.646880\" LON=\"26.488940\" SPEED=\"223\" HEADING=\"205\"\
                    \ COURSE=\"208\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:49:22\" DSRC=\"TER\" UTC_SECONDS=\"18\" SHIPNAME=\"\
                    BLUE STAR MYCONOS\" SHIPTYPE=\"60\" CALLSIGN=\"SYJZ\" FLAG=\"GR\" LENGTH=\"141\" WIDTH=\"21\" GRT=\"8129\"\
                    \ DWT=\"2651\" DRAUGHT=\"52\" YEAR_BUILT=\"2005\" ROT=\"0\" TYPE_NAME=\"Ro-Ro/Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"S-T-M-E-K-V\" ETA=\"2020-10-15T11:35:00\" CURRENT_PORT=\"\" LAST_PORT=\"KARLOVASI\"\
                    \ LAST_PORT_TIME=\"2020-10-15T11:14:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\
                    \" LAST_PORT_ID=\"44\" LAST_PORT_UNLOCODE=\"GRKAR\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"17305\" NEXT_PORT_UNLOCODE=\"\
                    \" NEXT_PORT_NAME=\"FOURNI\" NEXT_PORT_COUNTRY=\"GR\" ETA_CALC=\"2020-10-15T12:04:00\" ETA_UPDATED=\"\
                    2020-10-15T11:42:00\" DISTANCE_TO_GO=\"7\" DISTANCE_TRAVELLED=\"11\" AVG_SPEED=\"22.6\" MAX_SPEED=\"23.1\"\
                    />\n    <row MMSI=\"310627000\" IMO=\"9241061\" SHIP_ID=\"371681\" LAT=\"50.495970\" LON=\"-3.195012\"\
                    \ SPEED=\"110\" HEADING=\"280\" COURSE=\"275\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T11:49:48\" DSRC=\"\
                    TER\" UTC_SECONDS=\"47\" SHIPNAME=\"QUEEN MARY 2\" SHIPTYPE=\"60\" CALLSIGN=\"ZCEF6\" FLAG=\"BM\" LENGTH=\"\
                    345.03\" WIDTH=\"48.7\" GRT=\"149215\" DWT=\"19189\" DRAUGHT=\"101\" YEAR_BUILT=\"2003\" ROT=\"0\" TYPE_NAME=\"\
                    Passenger Ship\" AIS_TYPE_SUMMARY=\"Passenger\" DESTINATION=\"TORQUAY\" ETA=\"2020-10-14T13:00:00\" CURRENT_PORT=\"\
                    \" LAST_PORT=\"SOUTHAMPTON\" LAST_PORT_TIME=\"2020-10-14T17:00:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\
                    \" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"106\" LAST_PORT_UNLOCODE=\"GBSOU\" LAST_PORT_COUNTRY=\"GB\"\
                    \ NEXT_PORT_ID=\"10379\" NEXT_PORT_UNLOCODE=\"GBTOR\" NEXT_PORT_NAME=\"TORQUAY\" NEXT_PORT_COUNTRY=\"\
                    GB\" ETA_CALC=\"2020-10-15T13:10:00\" ETA_UPDATED=\"2020-10-15T10:48:00\" DISTANCE_TO_GO=\"17\" DISTANCE_TRAVELLED=\"\
                    190\" AVG_SPEED=\"10.6\" MAX_SPEED=\"15.4\"/>\n</POS>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/exportvessels/{api_key}  ':
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Vessel Positions Within a Port
      description: "Monitor vessel activity in one or more ports of your interest. </br></br> <b>Notes</b> <ul>\n    <li>Information\
        \ about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552867-what-is-the-significance-of-the-ais-navigational-status-values\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessels___
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS04'
      - $ref: '#/components/parameters/timespan_PS04'
      - $ref: '#/components/parameters/shiptype_PS04'
      - $ref: '#/components/parameters/msgtype_PS04'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps04_default'
                - $ref: '#/components/schemas/200_ps04_extended'
                - $ref: '#/components/schemas/200_ps04_full'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps04_default'
                - $ref: '#/components/schemas/200_ps04_extended'
                - $ref: '#/components/schemas/200_ps04_full'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"244830406\"\
                    \ IMO=\"0\" SHIP_ID=\"253535\" LAT=\"52.371040\" LON=\"4.888482\" SPEED=\"0\" HEADING=\"511\" COURSE=\"\
                    0\" STATUS=\"5\" TIMESTAMP=\"2020-10-13T07:49:59\" DSRC=\"TER\" UTC_SECONDS=\"59\"/>\n    <row MMSI=\"\
                    244780352\" IMO=\"0\" SHIP_ID=\"250936\" LAT=\"52.377110\" LON=\"4.900798\" SPEED=\"2\" HEADING=\"511\"\
                    \ COURSE=\"16\" STATUS=\"7\" TIMESTAMP=\"2020-10-13T07:49:59\" DSRC=\"TER\" UTC_SECONDS=\"59\"/>\n   \
                    \ <row MMSI=\"244184646\" IMO=\"0\" SHIP_ID=\"5791081\" LAT=\"52.386230\" LON=\"4.891230\" SPEED=\"0\"\
                    \ HEADING=\"511\" COURSE=\"0\" STATUS=\"5\" TIMESTAMP=\"2020-10-13T07:49:26\" DSRC=\"TER\" UTC_SECONDS=\"\
                    26\"/>\n    <row MMSI=\"244260499\" IMO=\"0\" SHIP_ID=\"227195\" LAT=\"52.375680\" LON=\"4.897190\" SPEED=\"\
                    0\" HEADING=\"511\" COURSE=\"0\" STATUS=\"15\" TIMESTAMP=\"2020-10-13T07:49:59\" DSRC=\"TER\" UTC_SECONDS=\"\
                    59\"/>\n    <row MMSI=\"244013483\" IMO=\"0\" SHIP_ID=\"5868662\" LAT=\"52.367170\" LON=\"4.895307\" SPEED=\"\
                    0\" HEADING=\"511\" COURSE=\"0\" STATUS=\"0\" TIMESTAMP=\"2020-10-13T07:49:55\" DSRC=\"TER\" UTC_SECONDS=\"\
                    55\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"244750688\"\
                    \ IMO=\"0\" SHIP_ID=\"1496\" LAT=\"52.392240\" LON=\"4.886143\" SPEED=\"0\" HEADING=\"511\" COURSE=\"\
                    244\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:12:20\" DSRC=\"TER\" UTC_SECONDS=\"21\" SHIPNAME=\"IJVEER\
                    \ 52\" SHIPTYPE=\"60\" CALLSIGN=\"PH2792\" FLAG=\"NL\" LENGTH=\"28.6\" WIDTH=\"9\" GRT=\"\" DWT=\"\" DRAUGHT=\"\
                    24\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Inland, Ferry\" AIS_TYPE_SUMMARY=\"Passenger\" DESTINATION=\"\
                    \" ETA=\"\"/>\n    <row MMSI=\"244750690\" IMO=\"0\" SHIP_ID=\"1498\" LAT=\"52.400910\" LON=\"4.891057\"\
                    \ SPEED=\"0\" HEADING=\"511\" COURSE=\"7\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:12:31\" DSRC=\"TER\"\
                    \ UTC_SECONDS=\"22\" SHIPNAME=\"IJVEER 56\" SHIPTYPE=\"60\" CALLSIGN=\"PB7406\" FLAG=\"NL\" LENGTH=\"\
                    28.6\" WIDTH=\"9\" GRT=\"\" DWT=\"\" DRAUGHT=\"24\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Inland, Ferry\"\
                    \ AIS_TYPE_SUMMARY=\"Passenger\" DESTINATION=\"\" ETA=\"\"/>\n    <row MMSI=\"244750692\" IMO=\"0\" SHIP_ID=\"\
                    1500\" LAT=\"52.380720\" LON=\"4.905505\" SPEED=\"69\" HEADING=\"511\" COURSE=\"273\" STATUS=\"0\" TIMESTAMP=\"\
                    2020-10-15T12:13:31\" DSRC=\"TER\" UTC_SECONDS=\"31\" SHIPNAME=\"IJVEER 55\" SHIPTYPE=\"60\" CALLSIGN=\"\
                    PB7405\" FLAG=\"NL\" LENGTH=\"28.6\" WIDTH=\"9\" GRT=\"\" DWT=\"\" DRAUGHT=\"24\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Inland, Ferry\" AIS_TYPE_SUMMARY=\"Passenger\" DESTINATION=\"HEEN EN TERUG\" ETA=\"\"\
                    />\n    <row MMSI=\"229080000\" IMO=\"9583794\" SHIP_ID=\"1706\" LAT=\"52.395670\" LON=\"4.127333\" SPEED=\"\
                    34\" HEADING=\"141\" COURSE=\"135\" STATUS=\"3\" TIMESTAMP=\"2020-10-15T12:13:18\" DSRC=\"TER\" UTC_SECONDS=\"\
                    17\" SHIPNAME=\"BOLD TERN\" SHIPTYPE=\"80\" CALLSIGN=\"9HA3053\" FLAG=\"MT\" LENGTH=\"131.73\" WIDTH=\"\
                    39\" GRT=\"15328\" DWT=\"9033\" DRAUGHT=\"66\" YEAR_BUILT=\"2013\" ROT=\"0\" TYPE_NAME=\"Offshore Construction\
                    \ Jack Up\" AIS_TYPE_SUMMARY=\"Special Craft\" DESTINATION=\"LUCHTERDUINEN OWF\" ETA=\"2020-10-15T10:30:00\"\
                    />\n    <row MMSI=\"355407000\" IMO=\"9165695\" SHIP_ID=\"2805\" LAT=\"37.877570\" LON=\"23.551210\" SPEED=\"\
                    1\" HEADING=\"164\" COURSE=\"289\" STATUS=\"1\" TIMESTAMP=\"2020-10-15T12:13:25\" DSRC=\"TER\" UTC_SECONDS=\"\
                    24\" SHIPNAME=\"SEXTA\" SHIPTYPE=\"70\" CALLSIGN=\"HOOK\" FLAG=\"PA\" LENGTH=\"144.75\" WIDTH=\"24\" GRT=\"\
                    11376\" DWT=\"18367\" DRAUGHT=\"50\" YEAR_BUILT=\"2000\" ROT=\"0\" TYPE_NAME=\"Bulk Carrier\" AIS_TYPE_SUMMARY=\"\
                    Cargo\" DESTINATION=\"PIRAEUS\" ETA=\"2020-08-19T20:00:00\"/>\n</POS>"
                Full:
                  summary: Full
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"244740307\"\
                    \ IMO=\"0\" SHIP_ID=\"538\" LAT=\"52.392770\" LON=\"4.823317\" SPEED=\"0\" HEADING=\"511\" COURSE=\"306\"\
                    \ STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:14:45\" DSRC=\"TER\" UTC_SECONDS=\"45\" SHIPNAME=\"WABO\" SHIPTYPE=\"\
                    70\" CALLSIGN=\"PE6642\" FLAG=\"NL\" LENGTH=\"46\" WIDTH=\"6\" GRT=\"\" DWT=\"\" DRAUGHT=\"26\" YEAR_BUILT=\"\
                    \" ROT=\"0\" TYPE_NAME=\"Inland, Bunkership\" AIS_TYPE_SUMMARY=\"Tanker\" DESTINATION=\"AMSTERDAM\" ETA=\"\
                    2021-02-09T00:00:00\" CURRENT_PORT=\"AMSTERDAM\" LAST_PORT=\"ZAANDAM\" LAST_PORT_TIME=\"2020-08-09T10:27:00\"\
                    \ CURRENT_PORT_ID=\"1766\" CURRENT_PORT_UNLOCODE=\"NLAMS\" CURRENT_PORT_COUNTRY=\"NL\" LAST_PORT_ID=\"\
                    2141\" LAST_PORT_UNLOCODE=\"NLZAA\" LAST_PORT_COUNTRY=\"NL\" NEXT_PORT_ID=\"1766\" NEXT_PORT_UNLOCODE=\"\
                    NLAMS\" NEXT_PORT_NAME=\"AMSTERDAM\" NEXT_PORT_COUNTRY=\"NL\" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"\
                    0\" DISTANCE_TRAVELLED=\"54\" AVG_SPEED=\"6.4\" MAX_SPEED=\"6.8\"/>\n    <row MMSI=\"229001000\" IMO=\"\
                    7827213\" SHIP_ID=\"1448\" LAT=\"37.938670\" LON=\"23.634450\" SPEED=\"0\" HEADING=\"511\" COURSE=\"320\"\
                    \ STATUS=\"5\" TIMESTAMP=\"2020-10-15T12:17:20\" DSRC=\"TER\" UTC_SECONDS=\"20\" SHIPNAME=\"CELESTYAL\
                    \ CRYSTAL\" SHIPTYPE=\"36\" CALLSIGN=\"9HA2978\" FLAG=\"MT\" LENGTH=\"162\" WIDTH=\"24\" GRT=\"25611\"\
                    \ DWT=\"1703\" DRAUGHT=\"61\" YEAR_BUILT=\"1980\" ROT=\"0\" TYPE_NAME=\"Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"PIRAEUS\" ETA=\"2021-03-14T05:40:00\" CURRENT_PORT=\"PIRAEUS\" LAST_PORT=\"\
                    KUSADASI\" LAST_PORT_TIME=\"2020-03-13T17:38:00\" CURRENT_PORT_ID=\"1\" CURRENT_PORT_UNLOCODE=\"GRPIR\"\
                    \ CURRENT_PORT_COUNTRY=\"GR\" LAST_PORT_ID=\"17208\" LAST_PORT_UNLOCODE=\"TRKUS\" LAST_PORT_COUNTRY=\"\
                    TR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\"\
                    \ ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"194\" AVG_SPEED=\"14.6\" MAX_SPEED=\"\
                    16.7\"/>\n    <row MMSI=\"244750688\" IMO=\"0\" SHIP_ID=\"1496\" LAT=\"52.398150\" LON=\"4.889037\" SPEED=\"\
                    86\" HEADING=\"511\" COURSE=\"0\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:18:05\" DSRC=\"TER\" UTC_SECONDS=\"\
                    1\" SHIPNAME=\"IJVEER 52\" SHIPTYPE=\"60\" CALLSIGN=\"PH2792\" FLAG=\"NL\" LENGTH=\"28.6\" WIDTH=\"9\"\
                    \ GRT=\"\" DWT=\"\" DRAUGHT=\"24\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Inland, Ferry\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"\" ETA=\"\" CURRENT_PORT=\"AMSTERDAM\" LAST_PORT=\"AMSTERDAM\" LAST_PORT_TIME=\"\
                    2020-05-31T04:49:00\" CURRENT_PORT_ID=\"1766\" CURRENT_PORT_UNLOCODE=\"NLAMS\" CURRENT_PORT_COUNTRY=\"\
                    NL\" LAST_PORT_ID=\"1766\" LAST_PORT_UNLOCODE=\"NLAMS\" LAST_PORT_COUNTRY=\"NL\" NEXT_PORT_ID=\"1766\"\
                    \ NEXT_PORT_UNLOCODE=\"NLAMS\" NEXT_PORT_NAME=\"AMSTERDAM\" NEXT_PORT_COUNTRY=\"NL\" ETA_CALC=\"\" ETA_UPDATED=\"\
                    \" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"7022\" AVG_SPEED=\"7.6\" MAX_SPEED=\"9.1\"/>\n    <row MMSI=\"\
                    244750690\" IMO=\"0\" SHIP_ID=\"1498\" LAT=\"52.396910\" LON=\"4.890042\" SPEED=\"89\" HEADING=\"511\"\
                    \ COURSE=\"170\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:17:31\" DSRC=\"TER\" UTC_SECONDS=\"32\" SHIPNAME=\"\
                    IJVEER 56\" SHIPTYPE=\"60\" CALLSIGN=\"PB7406\" FLAG=\"NL\" LENGTH=\"28.6\" WIDTH=\"9\" GRT=\"\" DWT=\"\
                    \" DRAUGHT=\"24\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Inland, Ferry\" AIS_TYPE_SUMMARY=\"Passenger\"\
                    \ DESTINATION=\"\" ETA=\"\" CURRENT_PORT=\"AMSTERDAM\" LAST_PORT=\"AMSTERDAM\" LAST_PORT_TIME=\"2020-07-20T08:32:00\"\
                    \ CURRENT_PORT_ID=\"1766\" CURRENT_PORT_UNLOCODE=\"NLAMS\" CURRENT_PORT_COUNTRY=\"NL\" LAST_PORT_ID=\"\
                    1766\" LAST_PORT_UNLOCODE=\"NLAMS\" LAST_PORT_COUNTRY=\"NL\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\"\
                    \ NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"\
                    4643\" AVG_SPEED=\"7.6\" MAX_SPEED=\"9.3\"/>\n    <row MMSI=\"244750692\" IMO=\"0\" SHIP_ID=\"1500\" LAT=\"\
                    52.379590\" LON=\"4.902380\" SPEED=\"0\" HEADING=\"511\" COURSE=\"161\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:16:50\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"50\" SHIPNAME=\"IJVEER 55\" SHIPTYPE=\"60\" CALLSIGN=\"PB7405\" FLAG=\"NL\"\
                    \ LENGTH=\"28.6\" WIDTH=\"9\" GRT=\"\" DWT=\"\" DRAUGHT=\"24\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"\
                    Inland, Ferry\" AIS_TYPE_SUMMARY=\"Passenger\" DESTINATION=\"HEEN EN TERUG\" ETA=\"\" CURRENT_PORT=\"\
                    AMSTERDAM\" LAST_PORT=\"ZAANDAM\" LAST_PORT_TIME=\"2020-08-14T12:34:00\" CURRENT_PORT_ID=\"1766\" CURRENT_PORT_UNLOCODE=\"\
                    NLAMS\" CURRENT_PORT_COUNTRY=\"NL\" LAST_PORT_ID=\"2141\" LAST_PORT_UNLOCODE=\"NLZAA\" LAST_PORT_COUNTRY=\"\
                    NL\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" ETA_CALC=\"\"\
                    \ ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"3397\" AVG_SPEED=\"6.6\" MAX_SPEED=\"9.1\"\
                    />\n</POS>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/exportvessels/{api_key}   ':
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Vessel Positions in a Predefined Bounding Box
      description: "Monitor vessel activity in an area of your interest. </br></br> <b>Notes</b> <ul>\n    <li>Information\
        \ about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552867-what-is-the-significance-of-the-ais-navigational-status-values\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessels____
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS05'
      - $ref: '#/components/parameters/timespan_PS05'
      - $ref: '#/components/parameters/shiptype_PS05'
      - $ref: '#/components/parameters/msgtype_PS05'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps05_default'
                - $ref: '#/components/schemas/200_ps05_extended'
                - $ref: '#/components/schemas/200_ps05_full'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps05_default'
                - $ref: '#/components/schemas/200_ps05_extended'
                - $ref: '#/components/schemas/200_ps05_full'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538003913\"\
                    \ IMO=\"9470959\" SHIP_ID=\"713139\" LAT=\"37.388430\" LON=\"23.871230\" SPEED=\"6\" HEADING=\"104\" COURSE=\"\
                    41\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:44\" DSRC=\"TER\" UTC_SECONDS=\"45\"/>\n    <row MMSI=\"\
                    239885200\" IMO=\"0\" SHIP_ID=\"3463456\" LAT=\"37.390210\" LON=\"24.396990\" SPEED=\"1\" HEADING=\"511\"\
                    \ COURSE=\"0\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:29\" DSRC=\"TER\" UTC_SECONDS=\"29\"/>\n   \
                    \ <row MMSI=\"354520000\" IMO=\"9478573\" SHIP_ID=\"414629\" LAT=\"37.404170\" LON=\"24.025500\" SPEED=\"\
                    137\" HEADING=\"211\" COURSE=\"210\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:23\" DSRC=\"TER\" UTC_SECONDS=\"\
                    18\"/>\n    <row MMSI=\"205400630\" IMO=\"0\" SHIP_ID=\"6168837\" LAT=\"37.418280\" LON=\"24.595280\"\
                    \ SPEED=\"59\" HEADING=\"511\" COURSE=\"256\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:30\" DSRC=\"\
                    TER\" UTC_SECONDS=\"30\"/>\n    <row MMSI=\"240250700\" IMO=\"0\" SHIP_ID=\"6308251\" LAT=\"37.431110\"\
                    \ LON=\"23.544720\" SPEED=\"56\" HEADING=\"511\" COURSE=\"25\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:08\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"7\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538003913\"\
                    \ IMO=\"9470959\" SHIP_ID=\"713139\" LAT=\"37.388430\" LON=\"23.871230\" SPEED=\"6\" HEADING=\"104\" COURSE=\"\
                    41\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:44\" DSRC=\"TER\" UTC_SECONDS=\"45\" SHIPNAME=\"SUNNY STAR\"\
                    \ SHIPTYPE=\"89\" CALLSIGN=\"V7TZ6\" FLAG=\"MH\" LENGTH=\"184\" WIDTH=\"27.43\" GRT=\"23313\" DWT=\"37857\"\
                    \ DRAUGHT=\"95\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"Oil/Chemical Tanker\" AIS_TYPE_SUMMARY=\"Tanker\"\
                    \ DESTINATION=\"FOR ORDERS\" ETA=\"2020-10-14T12:00:00\"/>\n    <row MMSI=\"239885200\" IMO=\"0\" SHIP_ID=\"\
                    3463456\" LAT=\"37.390210\" LON=\"24.396990\" SPEED=\"1\" HEADING=\"511\" COURSE=\"0\" STATUS=\"99\" TIMESTAMP=\"\
                    2020-10-15T12:21:29\" DSRC=\"TER\" UTC_SECONDS=\"29\" SHIPNAME=\"ACHILLES\" SHIPTYPE=\"37\" CALLSIGN=\"\
                    SVA6160\" FLAG=\"GR\" LENGTH=\"15\" WIDTH=\"5\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Pleasure Craft\" AIS_TYPE_SUMMARY=\"Pleasure Craft\" DESTINATION=\"CLASS B\" ETA=\"\"\
                    />\n    <row MMSI=\"354520000\" IMO=\"9478573\" SHIP_ID=\"414629\" LAT=\"37.404170\" LON=\"24.025500\"\
                    \ SPEED=\"137\" HEADING=\"211\" COURSE=\"210\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:23\" DSRC=\"\
                    TER\" UTC_SECONDS=\"18\" SHIPNAME=\"TTM PHOENIX\" SHIPTYPE=\"70\" CALLSIGN=\"3EUB2\" FLAG=\"PA\" LENGTH=\"\
                    190\" WIDTH=\"32.26\" GRT=\"31532\" DWT=\"55947\" DRAUGHT=\"121\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"\
                    Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"MT MLA\" ETA=\"2020-10-17T02:30:00\"/>\n    <row\
                    \ MMSI=\"205400630\" IMO=\"0\" SHIP_ID=\"6168837\" LAT=\"37.418280\" LON=\"24.595280\" SPEED=\"59\" HEADING=\"\
                    511\" COURSE=\"256\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:30\" DSRC=\"TER\" UTC_SECONDS=\"30\" SHIPNAME=\"\
                    QUATRAILE\" SHIPTYPE=\"36\" CALLSIGN=\"OP4006\" FLAG=\"BE\" LENGTH=\"14\" WIDTH=\"4\" GRT=\"\" DWT=\"\"\
                    \ DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Sailing Vessel\" AIS_TYPE_SUMMARY=\"Sailing Vessel\"\
                    \ DESTINATION=\"CLASS B\" ETA=\"\"/>\n    <row MMSI=\"240250700\" IMO=\"0\" SHIP_ID=\"6308251\" LAT=\"\
                    37.431110\" LON=\"23.544720\" SPEED=\"56\" HEADING=\"511\" COURSE=\"25\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:08\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"7\" SHIPNAME=\"ECHO II\" SHIPTYPE=\"36\" CALLSIGN=\"SVA9689\" FLAG=\"GR\"\
                    \ LENGTH=\"13\" WIDTH=\"4\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Sailing\
                    \ Vessel\" AIS_TYPE_SUMMARY=\"Sailing Vessel\" DESTINATION=\"CLASS B\" ETA=\"\"/>\n</POS>"
                Full:
                  summary: Full
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538003913\"\
                    \ IMO=\"9470959\" SHIP_ID=\"713139\" LAT=\"37.388430\" LON=\"23.871230\" SPEED=\"6\" HEADING=\"104\" COURSE=\"\
                    41\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:44\" DSRC=\"TER\" UTC_SECONDS=\"45\" SHIPNAME=\"SUNNY STAR\"\
                    \ SHIPTYPE=\"89\" CALLSIGN=\"V7TZ6\" FLAG=\"MH\" LENGTH=\"184\" WIDTH=\"27.43\" GRT=\"23313\" DWT=\"37857\"\
                    \ DRAUGHT=\"95\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"Oil/Chemical Tanker\" AIS_TYPE_SUMMARY=\"Tanker\"\
                    \ DESTINATION=\"FOR ORDERS\" ETA=\"2020-10-14T12:00:00\" CURRENT_PORT=\"\" LAST_PORT=\"AGIOI THEODOROI\"\
                    \ LAST_PORT_TIME=\"2020-10-13T23:39:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\
                    \" LAST_PORT_ID=\"29\" LAST_PORT_UNLOCODE=\"GRAGT\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\
                    \" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"\
                    74\" AVG_SPEED=\"12.6\" MAX_SPEED=\"13.2\"/>\n    <row MMSI=\"239885200\" IMO=\"0\" SHIP_ID=\"3463456\"\
                    \ LAT=\"37.390210\" LON=\"24.396990\" SPEED=\"1\" HEADING=\"511\" COURSE=\"0\" STATUS=\"99\" TIMESTAMP=\"\
                    2020-10-15T12:21:29\" DSRC=\"TER\" UTC_SECONDS=\"29\" SHIPNAME=\"ACHILLES\" SHIPTYPE=\"37\" CALLSIGN=\"\
                    SVA6160\" FLAG=\"GR\" LENGTH=\"15\" WIDTH=\"5\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Pleasure Craft\" AIS_TYPE_SUMMARY=\"Pleasure Craft\" DESTINATION=\"CLASS B\" ETA=\"\"\
                    \ CURRENT_PORT=\"KYTHNOS\" LAST_PORT=\"SERIFOS\" LAST_PORT_TIME=\"2020-10-15T07:54:00\" CURRENT_PORT_ID=\"\
                    19\" CURRENT_PORT_UNLOCODE=\"GRKYT\" CURRENT_PORT_COUNTRY=\"GR\" LAST_PORT_ID=\"35\" LAST_PORT_UNLOCODE=\"\
                    GRSER\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\
                    \" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"22\" AVG_SPEED=\"5.8\" MAX_SPEED=\"\
                    6.4\"/>\n    <row MMSI=\"354520000\" IMO=\"9478573\" SHIP_ID=\"414629\" LAT=\"37.404170\" LON=\"24.025500\"\
                    \ SPEED=\"137\" HEADING=\"211\" COURSE=\"210\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:23\" DSRC=\"\
                    TER\" UTC_SECONDS=\"18\" SHIPNAME=\"TTM PHOENIX\" SHIPTYPE=\"70\" CALLSIGN=\"3EUB2\" FLAG=\"PA\" LENGTH=\"\
                    190\" WIDTH=\"32.26\" GRT=\"31532\" DWT=\"55947\" DRAUGHT=\"121\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"\
                    Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"MT MLA\" ETA=\"2020-10-17T02:30:00\" CURRENT_PORT=\"\
                    \" LAST_PORT=\"MILAKI\" LAST_PORT_TIME=\"2020-10-15T07:06:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\
                    \" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"17353\" LAST_PORT_UNLOCODE=\"GRMYL\" LAST_PORT_COUNTRY=\"\
                    GR\" NEXT_PORT_ID=\"118\" NEXT_PORT_UNLOCODE=\"MTMLA\" NEXT_PORT_NAME=\"VALLETTA\" NEXT_PORT_COUNTRY=\"\
                    MT\" ETA_CALC=\"2020-10-16T23:11:00\" ETA_UPDATED=\"2020-10-15T12:07:00\" DISTANCE_TO_GO=\"500\" DISTANCE_TRAVELLED=\"\
                    61\" AVG_SPEED=\"14.3\" MAX_SPEED=\"15.1\"/>\n    <row MMSI=\"205400630\" IMO=\"0\" SHIP_ID=\"6168837\"\
                    \ LAT=\"37.418280\" LON=\"24.595280\" SPEED=\"59\" HEADING=\"511\" COURSE=\"256\" STATUS=\"99\" TIMESTAMP=\"\
                    2020-10-15T12:21:30\" DSRC=\"TER\" UTC_SECONDS=\"30\" SHIPNAME=\"QUATRAILE\" SHIPTYPE=\"36\" CALLSIGN=\"\
                    OP4006\" FLAG=\"BE\" LENGTH=\"14\" WIDTH=\"4\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Sailing Vessel\" AIS_TYPE_SUMMARY=\"Sailing Vessel\" DESTINATION=\"CLASS B\" ETA=\"\"\
                    \ CURRENT_PORT=\"\" LAST_PORT=\"OLYMPIC MARINE\" LAST_PORT_TIME=\"2020-10-10T06:52:00\" CURRENT_PORT_ID=\"\
                    \" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"17271\" LAST_PORT_UNLOCODE=\"\"\
                    \ LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\
                    \" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"144\" AVG_SPEED=\"7.6\" MAX_SPEED=\"\
                    9.3\"/>\n    <row MMSI=\"240250700\" IMO=\"0\" SHIP_ID=\"6308251\" LAT=\"37.431110\" LON=\"23.544720\"\
                    \ SPEED=\"56\" HEADING=\"511\" COURSE=\"25\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:08\" DSRC=\"TER\"\
                    \ UTC_SECONDS=\"7\" SHIPNAME=\"ECHO II\" SHIPTYPE=\"36\" CALLSIGN=\"SVA9689\" FLAG=\"GR\" LENGTH=\"13\"\
                    \ WIDTH=\"4\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Sailing Vessel\" AIS_TYPE_SUMMARY=\"\
                    Sailing Vessel\" DESTINATION=\"CLASS B\" ETA=\"\" CURRENT_PORT=\"\" LAST_PORT=\"SPETSES OLD PORT\" LAST_PORT_TIME=\"\
                    2020-10-15T06:06:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"\
                    5873\" LAST_PORT_UNLOCODE=\"\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\
                    \" NEXT_PORT_COUNTRY=\"\" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"19\"\
                    \ AVG_SPEED=\"5.7\" MAX_SPEED=\"6.5\"/>\n</POS>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  '/exportvessels/{api_key}    ':
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Vessel Positions in a Dynamic Bounding Box
      description: "Retrieve positions for vessels sailing in an area that you define each time you call the service. </br></br>\
        \ <b>Notes</b> <ul>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552867-what-is-the-significance-of-the-ais-navigational-status-values\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessels_____
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS06'
      - $ref: '#/components/parameters/timespan_PS06'
      - $ref: '#/components/parameters/shiptype_PS06'
      - $ref: '#/components/parameters/MAXLAT_PS06'
      - $ref: '#/components/parameters/MINLON_PS06'
      - $ref: '#/components/parameters/MAXLON_PS06'
      - $ref: '#/components/parameters/MINLAT_PS06'
      - $ref: '#/components/parameters/protocol'
      - $ref: '#/components/parameters/msgtype_PS06'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps06_default'
                - $ref: '#/components/schemas/200_ps06_extended'
                - $ref: '#/components/schemas/200_ps06_full'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps06_default'
                - $ref: '#/components/schemas/200_ps06_extended'
                - $ref: '#/components/schemas/200_ps06_full'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538006210\"\
                    \ IMO=\"9314105\" SHIP_ID=\"475106\" LAT=\"36.007480\" LON=\"22.291650\" SPEED=\"4\" HEADING=\"273\" COURSE=\"\
                    49\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:26:10\" DSRC=\"TER\" UTC_SECONDS=\"7\"/>\n    <row MMSI=\"\
                    355281000\" IMO=\"9590826\" SHIP_ID=\"416371\" LAT=\"36.008020\" LON=\"22.596420\" SPEED=\"144\" HEADING=\"\
                    95\" COURSE=\"94\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:26:02\" DSRC=\"TER\" UTC_SECONDS=\"59\"/>\n\
                    \    <row MMSI=\"566477000\" IMO=\"9713648\" SHIP_ID=\"3632926\" LAT=\"36.034030\" LON=\"22.819180\" SPEED=\"\
                    125\" HEADING=\"90\" COURSE=\"91\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:25:58\" DSRC=\"TER\" UTC_SECONDS=\"\
                    38\"/>\n    <row MMSI=\"636017030\" IMO=\"9537915\" SHIP_ID=\"758579\" LAT=\"36.044570\" LON=\"23.340330\"\
                    \ SPEED=\"115\" HEADING=\"268\" COURSE=\"268\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:25:52\" DSRC=\"\
                    TER\" UTC_SECONDS=\"29\"/>\n    <row MMSI=\"636019446\" IMO=\"9329564\" SHIP_ID=\"364841\" LAT=\"36.092760\"\
                    \ LON=\"23.143620\" SPEED=\"160\" HEADING=\"60\" COURSE=\"59\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:25:38\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"37\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"249046000\"\
                    \ IMO=\"9192399\" SHIP_ID=\"287622\" LAT=\"37.023900\" LON=\"23.123580\" SPEED=\"6\" HEADING=\"25\" COURSE=\"\
                    304\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:23:22\" DSRC=\"TER\" UTC_SECONDS=\"19\" SHIPNAME=\"CELEBRITY\
                    \ CONSTELLATION\" SHIPTYPE=\"60\" CALLSIGN=\"9HJB9\" FLAG=\"MT\" LENGTH=\"294\" WIDTH=\"37.4\" GRT=\"\
                    90940\" DWT=\"11763\" DRAUGHT=\"83\" YEAR_BUILT=\"2002\" ROT=\"0\" TYPE_NAME=\"Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"PIRAEUS ANCHORAGE\" ETA=\"2020-10-26T06:00:00\"/>\n    <row MMSI=\"271000973\"\
                    \ IMO=\"9458250\" SHIP_ID=\"335299\" LAT=\"37.156790\" LON=\"23.799120\" SPEED=\"116\" HEADING=\"212\"\
                    \ COURSE=\"212\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:22:35\" DSRC=\"TER\" UTC_SECONDS=\"35\" SHIPNAME=\"\
                    ULUSOY 8\" SHIPTYPE=\"70\" CALLSIGN=\"TCSS9\" FLAG=\"TR\" LENGTH=\"159.9\" WIDTH=\"24\" GRT=\"14852\"\
                    \ DWT=\"22303\" DRAUGHT=\"99\" YEAR_BUILT=\"2008\" ROT=\"0\" TYPE_NAME=\"Bulk Carrier\" AIS_TYPE_SUMMARY=\"\
                    Cargo\" DESTINATION=\"GI GIB\" ETA=\"2020-10-20T17:00:00\"/>\n    <row MMSI=\"636018502\" IMO=\"9337030\"\
                    \ SHIP_ID=\"758047\" LAT=\"37.163590\" LON=\"23.664950\" SPEED=\"10\" HEADING=\"126\" COURSE=\"120\" STATUS=\"\
                    0\" TIMESTAMP=\"2020-10-15T12:24:18\" DSRC=\"TER\" UTC_SECONDS=\"15\" SHIPNAME=\"SONGA IRIDIUM\" SHIPTYPE=\"\
                    71\" CALLSIGN=\"A8PN7\" FLAG=\"LR\" LENGTH=\"191.03\" WIDTH=\"28.5\" GRT=\"23633\" DWT=\"27209\" DRAUGHT=\"\
                    100\" YEAR_BUILT=\"2008\" ROT=\"0\" TYPE_NAME=\"Container Ship\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"\
                    GRPIR\" ETA=\"2020-10-15T18:00:00\"/>\n    <row MMSI=\"352910000\" IMO=\"9152571\" SHIP_ID=\"668630\"\
                    \ LAT=\"37.216330\" LON=\"23.652740\" SPEED=\"91\" HEADING=\"8\" COURSE=\"10\" STATUS=\"0\" TIMESTAMP=\"\
                    2020-10-15T12:24:32\" DSRC=\"TER\" UTC_SECONDS=\"30\" SHIPNAME=\"TEAM ACE\" SHIPTYPE=\"79\" CALLSIGN=\"\
                    HOUG\" FLAG=\"PA\" LENGTH=\"79.9\" WIDTH=\"15\" GRT=\"2992\" DWT=\"6662\" DRAUGHT=\"62\" YEAR_BUILT=\"\
                    1996\" ROT=\"0\" TYPE_NAME=\"General Cargo\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"SOUSSAKI\" ETA=\"\
                    2020-10-15T22:00:00\"/>\n    <row MMSI=\"355267000\" IMO=\"9218208\" SHIP_ID=\"362911\" LAT=\"37.223250\"\
                    \ LON=\"23.875820\" SPEED=\"91\" HEADING=\"28\" COURSE=\"29\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:23:37\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"35\" SHIPNAME=\"BASEL DISCOVERY\" SHIPTYPE=\"79\" CALLSIGN=\"3FTD\" FLAG=\"\
                    PA\" LENGTH=\"107.58\" WIDTH=\"18.2\" GRT=\"5381\" DWT=\"7567\" DRAUGHT=\"60\" YEAR_BUILT=\"2001\" ROT=\"\
                    0\" TYPE_NAME=\"Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"GR VOL\" ETA=\"2020-10-16T12:00:00\"\
                    />\n</POS>"
                Full:
                  summary: Full
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"249046000\"\
                    \ IMO=\"9192399\" SHIP_ID=\"287622\" LAT=\"37.023900\" LON=\"23.123580\" SPEED=\"6\" HEADING=\"25\" COURSE=\"\
                    304\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:23:22\" DSRC=\"TER\" UTC_SECONDS=\"19\" SHIPNAME=\"CELEBRITY\
                    \ CONSTELLATION\" SHIPTYPE=\"60\" CALLSIGN=\"9HJB9\" FLAG=\"MT\" LENGTH=\"294\" WIDTH=\"37.4\" GRT=\"\
                    90940\" DWT=\"11763\" DRAUGHT=\"83\" YEAR_BUILT=\"2002\" ROT=\"0\" TYPE_NAME=\"Passenger Ship\" AIS_TYPE_SUMMARY=\"\
                    Passenger\" DESTINATION=\"PIRAEUS ANCHORAGE\" ETA=\"2020-10-26T06:00:00\" CURRENT_PORT=\"\" LAST_PORT=\"\
                    PIRAEUS\" LAST_PORT_TIME=\"2020-07-31T08:56:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\
                    \" LAST_PORT_ID=\"1\" LAST_PORT_UNLOCODE=\"GRPIR\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"\
                    GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\" NEXT_PORT_COUNTRY=\"GR\" ETA_CALC=\"2020-10-14T17:00:00\" ETA_UPDATED=\"\
                    2020-10-14T05:59:00\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"3156\" AVG_SPEED=\"6\" MAX_SPEED=\"6.7\"\
                    />\n    <row MMSI=\"271000973\" IMO=\"9458250\" SHIP_ID=\"335299\" LAT=\"37.156790\" LON=\"23.799120\"\
                    \ SPEED=\"116\" HEADING=\"212\" COURSE=\"212\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:22:35\" DSRC=\"\
                    TER\" UTC_SECONDS=\"35\" SHIPNAME=\"ULUSOY 8\" SHIPTYPE=\"70\" CALLSIGN=\"TCSS9\" FLAG=\"TR\" LENGTH=\"\
                    159.9\" WIDTH=\"24\" GRT=\"14852\" DWT=\"22303\" DRAUGHT=\"99\" YEAR_BUILT=\"2008\" ROT=\"0\" TYPE_NAME=\"\
                    Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"GI GIB\" ETA=\"2020-10-20T17:00:00\" CURRENT_PORT=\"\
                    \" LAST_PORT=\"ODESSA\" LAST_PORT_TIME=\"2020-10-12T05:24:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\
                    \" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"124\" LAST_PORT_UNLOCODE=\"UAODS\" LAST_PORT_COUNTRY=\"UA\"\
                    \ NEXT_PORT_ID=\"186\" NEXT_PORT_UNLOCODE=\"GIGIB\" NEXT_PORT_NAME=\"GIBRALTAR\" NEXT_PORT_COUNTRY=\"\
                    GI\" ETA_CALC=\"2020-10-21T00:39:00\" ETA_UPDATED=\"2020-10-15T12:02:00\" DISTANCE_TO_GO=\"1454\" DISTANCE_TRAVELLED=\"\
                    704\" AVG_SPEED=\"11.3\" MAX_SPEED=\"13\"/>\n    <row MMSI=\"636018502\" IMO=\"9337030\" SHIP_ID=\"758047\"\
                    \ LAT=\"37.163590\" LON=\"23.664950\" SPEED=\"10\" HEADING=\"126\" COURSE=\"120\" STATUS=\"0\" TIMESTAMP=\"\
                    2020-10-15T12:24:18\" DSRC=\"TER\" UTC_SECONDS=\"15\" SHIPNAME=\"SONGA IRIDIUM\" SHIPTYPE=\"71\" CALLSIGN=\"\
                    A8PN7\" FLAG=\"LR\" LENGTH=\"191.03\" WIDTH=\"28.5\" GRT=\"23633\" DWT=\"27209\" DRAUGHT=\"100\" YEAR_BUILT=\"\
                    2008\" ROT=\"0\" TYPE_NAME=\"Container Ship\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"GRPIR\" ETA=\"\
                    2020-10-15T18:00:00\" CURRENT_PORT=\"\" LAST_PORT=\"GIOIA TAURO\" LAST_PORT_TIME=\"2020-10-13T23:04:00\"\
                    \ CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"162\" LAST_PORT_UNLOCODE=\"\
                    ITGIT\" LAST_PORT_COUNTRY=\"IT\" NEXT_PORT_ID=\"1\" NEXT_PORT_UNLOCODE=\"GRPIR\" NEXT_PORT_NAME=\"PIRAEUS\"\
                    \ NEXT_PORT_COUNTRY=\"GR\" ETA_CALC=\"2020-10-15T13:13:00\" ETA_UPDATED=\"2020-10-15T10:12:00\" DISTANCE_TO_GO=\"\
                    14\" DISTANCE_TRAVELLED=\"468\" AVG_SPEED=\"15.1\" MAX_SPEED=\"18.1\"/>\n    <row MMSI=\"352910000\" IMO=\"\
                    9152571\" SHIP_ID=\"668630\" LAT=\"37.216330\" LON=\"23.652740\" SPEED=\"91\" HEADING=\"8\" COURSE=\"\
                    10\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:24:32\" DSRC=\"TER\" UTC_SECONDS=\"30\" SHIPNAME=\"TEAM ACE\"\
                    \ SHIPTYPE=\"79\" CALLSIGN=\"HOUG\" FLAG=\"PA\" LENGTH=\"79.9\" WIDTH=\"15\" GRT=\"2992\" DWT=\"6662\"\
                    \ DRAUGHT=\"62\" YEAR_BUILT=\"1996\" ROT=\"0\" TYPE_NAME=\"General Cargo\" AIS_TYPE_SUMMARY=\"Cargo\"\
                    \ DESTINATION=\"SOUSSAKI\" ETA=\"2020-10-15T22:00:00\" CURRENT_PORT=\"\" LAST_PORT=\"HUELVA\" LAST_PORT_TIME=\"\
                    2020-10-07T14:19:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"\
                    1669\" LAST_PORT_UNLOCODE=\"ESHUV\" LAST_PORT_COUNTRY=\"ES\" NEXT_PORT_ID=\"17264\" NEXT_PORT_UNLOCODE=\"\
                    GRSOU\" NEXT_PORT_NAME=\"SOUSAKI\" NEXT_PORT_COUNTRY=\"GR\" ETA_CALC=\"2020-10-15T20:10:00\" ETA_UPDATED=\"\
                    2020-10-15T12:10:00\" DISTANCE_TO_GO=\"70\" DISTANCE_TRAVELLED=\"1574\" AVG_SPEED=\"9\" MAX_SPEED=\"9.4\"\
                    />\n    <row MMSI=\"355267000\" IMO=\"9218208\" SHIP_ID=\"362911\" LAT=\"37.223250\" LON=\"23.875820\"\
                    \ SPEED=\"91\" HEADING=\"28\" COURSE=\"29\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:23:37\" DSRC=\"TER\"\
                    \ UTC_SECONDS=\"35\" SHIPNAME=\"BASEL DISCOVERY\" SHIPTYPE=\"79\" CALLSIGN=\"3FTD\" FLAG=\"PA\" LENGTH=\"\
                    107.58\" WIDTH=\"18.2\" GRT=\"5381\" DWT=\"7567\" DRAUGHT=\"60\" YEAR_BUILT=\"2001\" ROT=\"0\" TYPE_NAME=\"\
                    Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"GR VOL\" ETA=\"2020-10-16T12:00:00\" CURRENT_PORT=\"\
                    \" LAST_PORT=\"SALERNO\" LAST_PORT_TIME=\"2020-10-12T14:50:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\
                    \" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"524\" LAST_PORT_UNLOCODE=\"ITSAL\" LAST_PORT_COUNTRY=\"IT\"\
                    \ NEXT_PORT_ID=\"591\" NEXT_PORT_UNLOCODE=\"GRVOL\" NEXT_PORT_NAME=\"VOLOS\" NEXT_PORT_COUNTRY=\"GR\"\
                    \ ETA_CALC=\"2020-10-16T09:05:00\" ETA_UPDATED=\"2020-10-15T12:01:00\" DISTANCE_TO_GO=\"186\" DISTANCE_TRAVELLED=\"\
                    612\" AVG_SPEED=\"9\" MAX_SPEED=\"9.4\"/>\n</POS>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /exportvessel/{api_key}:
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Single Vessel Positions
      description: "Get the latest available position and voyage information for a particular vessel. </br></br> <b>Notes</b>\
        \ <ul>\n    <li>Information about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and TIMESTAMP in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552867-what-is-the-significance-of-the-ais-navigational-status-values\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessel
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS07'
      - $ref: '#/components/parameters/shipid_PS07'
      - $ref: '#/components/parameters/imo_PS07'
      - $ref: '#/components/parameters/mmsi_PS07'
      - $ref: '#/components/parameters/timespan_PS07'
      - $ref: '#/components/parameters/msgtype_PS07'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps07_default'
                - $ref: '#/components/schemas/200_ps07_extended'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps07_default'
                - $ref: '#/components/schemas/200_ps07_extended'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"310627000\"\
                    \ LAT=\"50.510560\" LON=\"-3.452753\" SPEED=\"0\" HEADING=\"347\" COURSE=\"321\" STATUS=\"1\" TIMESTAMP=\"\
                    2020-10-13T12:21:16\" DSRC=\"TER\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"310627000\"\
                    \ LAT=\"50.506480\" LON=\"-3.453697\" SPEED=\"42\" HEADING=\"279\" COURSE=\"268\" STATUS=\"0\" TIMESTAMP=\"\
                    2020-10-15T12:48:07\" SHIPNAME=\"QUEEN MARY 2\" SHIPTYPE=\"60\" IMO=\"9241061\" CALLSIGN=\"ZCEF6\" FLAG=\"\
                    BM\" PORT_ID=\"\" PORT_UNLOCODE=\"\" CURRENT_PORT=\"\" LAST_PORT_ID=\"106\" LAST_PORT_UNLOCODE=\"GBSOU\"\
                    \ LAST_PORT=\"SOUTHAMPTON\" LAST_PORT_TIME=\"2020-10-14T17:00:00\" DESTINATION=\"TORQUAY\" ETA=\"2020-10-14T13:00:00\"\
                    \ LENGTH=\"345.03\" WIDTH=\"48.7\" DRAUGHT=\"101\" GRT=\"149215\" DWT=\"19189\" YEAR_BUILT=\"2003\"/>\n\
                    </POS>"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_ps07__missing_ship_identifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/400_ps07__missing_ship_identifier'
              examples:
                ' Missing ship identifier':
                  summary: ' Missing ship identifier'
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"2\" DESCRIPTION=\"VESSEL MMSI OR IMO OR SHIPID MISSING\"/>\n    </STATUS>\n</RESPONSE>"
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
            application/xml:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                Area out of bound:
                  summary: Too Many Requests
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<RESPONSE>\n    <STATUS>\n       \
                    \ <ERROR CODE=\"1r\" DESCRIPTION=\"TOO MANY REQUESTS\"/>\n    </STATUS>\n</RESPONSE>"
  /exportvessels-custom-area/{api_key}:
    get:
      tags:
      - Vessel Positions (Legacy API)
      summary: Vessel Positions in a Custom Area
      description: "Monitor vessel activity in a Custom Area of your interest. </br></br> <b>Notes</b> <ul>\n    <li>Information\
        \ about <a href=\"https://support.marinetraffic.com/en/articles/9552860-what-kind-of-information-is-ais-transmitted\"\
        >AIS-transmitted data</a></li>\n    <li>**SPEED** returned in (knots x10) and **TIMESTAMP** in UTC</li>\n    <li>**HEADING**\
        \ for SAR Aircrafts contains the Altitude of the aircraft (“STATUS” = 97)</li>\n    <li>**HEADING** values -1 or 511\
        \ indicate lack of data</li>\n    <li>**SPEED** and **COURSE** values for base stations are represented by zero (0)</li>\n\
        \    <li>More information about response parameters: <a href=\"https://support.marinetraffic.com/en/articles/9552867-what-is-the-significance-of-the-ais-navigational-status-values\"\
        >STATUS</a>, <a href=\"https://support.marinetraffic.com/en/articles/9552866-what-is-the-significance-of-the-ais-shiptype-number\"\
        >SHIPTYPE</a></li>\n    <li>The <b>frequency of allowed API calls</b> is specific to your API key and is detailed\
        \ in your contract as a number of successful calls per time period. For example “2 calls per minute”. </br>Regardless\
        \ of this agreed limit, each API key is technically restricted to a maximum of 100 total (including successful and\
        \ unsuccessful) requests per minute to ensure system stability.</li>\n</ul>"
      operationId: exportvessels-custom-area
      parameters:
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/v_PS08'
      - $ref: '#/components/parameters/timespan_PS08'
      - $ref: '#/components/parameters/shiptype_generic_PS08'
      - $ref: '#/components/parameters/shiptype_detailed_PS08'
      - $ref: '#/components/parameters/msgtype_PS08'
      - $ref: '#/components/parameters/protocol'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps08_default'
                - $ref: '#/components/schemas/200_ps08_extended'
                - $ref: '#/components/schemas/200_ps08_full'
            application/xml:
              schema:
                oneOf:
                - $ref: '#/components/schemas/200_ps08_default'
                - $ref: '#/components/schemas/200_ps08_extended'
                - $ref: '#/components/schemas/200_ps08_full'
              examples:
                Default:
                  summary: Simple
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538003913\"\
                    \ IMO=\"9470959\" SHIP_ID=\"713139\" LAT=\"37.388430\" LON=\"23.871230\" SPEED=\"6\" HEADING=\"104\" COURSE=\"\
                    41\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:44\" DSRC=\"TER\" UTC_SECONDS=\"45\"/>\n    <row MMSI=\"\
                    239885200\" IMO=\"0\" SHIP_ID=\"3463456\" LAT=\"37.390210\" LON=\"24.396990\" SPEED=\"1\" HEADING=\"511\"\
                    \ COURSE=\"0\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:29\" DSRC=\"TER\" UTC_SECONDS=\"29\"/>\n   \
                    \ <row MMSI=\"354520000\" IMO=\"9478573\" SHIP_ID=\"414629\" LAT=\"37.404170\" LON=\"24.025500\" SPEED=\"\
                    137\" HEADING=\"211\" COURSE=\"210\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:23\" DSRC=\"TER\" UTC_SECONDS=\"\
                    18\"/>\n    <row MMSI=\"205400630\" IMO=\"0\" SHIP_ID=\"6168837\" LAT=\"37.418280\" LON=\"24.595280\"\
                    \ SPEED=\"59\" HEADING=\"511\" COURSE=\"256\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:30\" DSRC=\"\
                    TER\" UTC_SECONDS=\"30\"/>\n    <row MMSI=\"240250700\" IMO=\"0\" SHIP_ID=\"6308251\" LAT=\"37.431110\"\
                    \ LON=\"23.544720\" SPEED=\"56\" HEADING=\"511\" COURSE=\"25\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:08\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"7\"/>\n</POS>"
                Extended:
                  summary: Extended
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538003913\"\
                    \ IMO=\"9470959\" SHIP_ID=\"713139\" LAT=\"37.388430\" LON=\"23.871230\" SPEED=\"6\" HEADING=\"104\" COURSE=\"\
                    41\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:44\" DSRC=\"TER\" UTC_SECONDS=\"45\" SHIPNAME=\"SUNNY STAR\"\
                    \ SHIPTYPE=\"89\" CALLSIGN=\"V7TZ6\" FLAG=\"MH\" LENGTH=\"184\" WIDTH=\"27.43\" GRT=\"23313\" DWT=\"37857\"\
                    \ DRAUGHT=\"95\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"Oil/Chemical Tanker\" AIS_TYPE_SUMMARY=\"Tanker\"\
                    \ DESTINATION=\"FOR ORDERS\" ETA=\"2020-10-14T12:00:00\"/>\n    <row MMSI=\"239885200\" IMO=\"0\" SHIP_ID=\"\
                    3463456\" LAT=\"37.390210\" LON=\"24.396990\" SPEED=\"1\" HEADING=\"511\" COURSE=\"0\" STATUS=\"99\" TIMESTAMP=\"\
                    2020-10-15T12:21:29\" DSRC=\"TER\" UTC_SECONDS=\"29\" SHIPNAME=\"ACHILLES\" SHIPTYPE=\"37\" CALLSIGN=\"\
                    SVA6160\" FLAG=\"GR\" LENGTH=\"15\" WIDTH=\"5\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Pleasure Craft\" AIS_TYPE_SUMMARY=\"Pleasure Craft\" DESTINATION=\"CLASS B\" ETA=\"\"\
                    />\n    <row MMSI=\"354520000\" IMO=\"9478573\" SHIP_ID=\"414629\" LAT=\"37.404170\" LON=\"24.025500\"\
                    \ SPEED=\"137\" HEADING=\"211\" COURSE=\"210\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:23\" DSRC=\"\
                    TER\" UTC_SECONDS=\"18\" SHIPNAME=\"TTM PHOENIX\" SHIPTYPE=\"70\" CALLSIGN=\"3EUB2\" FLAG=\"PA\" LENGTH=\"\
                    190\" WIDTH=\"32.26\" GRT=\"31532\" DWT=\"55947\" DRAUGHT=\"121\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"\
                    Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"MT MLA\" ETA=\"2020-10-17T02:30:00\"/>\n    <row\
                    \ MMSI=\"205400630\" IMO=\"0\" SHIP_ID=\"6168837\" LAT=\"37.418280\" LON=\"24.595280\" SPEED=\"59\" HEADING=\"\
                    511\" COURSE=\"256\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:30\" DSRC=\"TER\" UTC_SECONDS=\"30\" SHIPNAME=\"\
                    QUATRAILE\" SHIPTYPE=\"36\" CALLSIGN=\"OP4006\" FLAG=\"BE\" LENGTH=\"14\" WIDTH=\"4\" GRT=\"\" DWT=\"\"\
                    \ DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Sailing Vessel\" AIS_TYPE_SUMMARY=\"Sailing Vessel\"\
                    \ DESTINATION=\"CLASS B\" ETA=\"\"/>\n    <row MMSI=\"240250700\" IMO=\"0\" SHIP_ID=\"6308251\" LAT=\"\
                    37.431110\" LON=\"23.544720\" SPEED=\"56\" HEADING=\"511\" COURSE=\"25\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:08\"\
                    \ DSRC=\"TER\" UTC_SECONDS=\"7\" SHIPNAME=\"ECHO II\" SHIPTYPE=\"36\" CALLSIGN=\"SVA9689\" FLAG=\"GR\"\
                    \ LENGTH=\"13\" WIDTH=\"4\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Sailing\
                    \ Vessel\" AIS_TYPE_SUMMARY=\"Sailing Vessel\" DESTINATION=\"CLASS B\" ETA=\"\"/>\n</POS>"
                Full:
                  summary: Full
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<POS>\n    <row MMSI=\"538003913\"\
                    \ IMO=\"9470959\" SHIP_ID=\"713139\" LAT=\"37.388430\" LON=\"23.871230\" SPEED=\"6\" HEADING=\"104\" COURSE=\"\
                    41\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:44\" DSRC=\"TER\" UTC_SECONDS=\"45\" SHIPNAME=\"SUNNY STAR\"\
                    \ SHIPTYPE=\"89\" CALLSIGN=\"V7TZ6\" FLAG=\"MH\" LENGTH=\"184\" WIDTH=\"27.43\" GRT=\"23313\" DWT=\"37857\"\
                    \ DRAUGHT=\"95\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"Oil/Chemical Tanker\" AIS_TYPE_SUMMARY=\"Tanker\"\
                    \ DESTINATION=\"FOR ORDERS\" ETA=\"2020-10-14T12:00:00\" CURRENT_PORT=\"\" LAST_PORT=\"AGIOI THEODOROI\"\
                    \ LAST_PORT_TIME=\"2020-10-13T23:39:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\
                    \" LAST_PORT_ID=\"29\" LAST_PORT_UNLOCODE=\"GRAGT\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\
                    \" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"\
                    74\" AVG_SPEED=\"12.6\" MAX_SPEED=\"13.2\"/>\n    <row MMSI=\"239885200\" IMO=\"0\" SHIP_ID=\"3463456\"\
                    \ LAT=\"37.390210\" LON=\"24.396990\" SPEED=\"1\" HEADING=\"511\" COURSE=\"0\" STATUS=\"99\" TIMESTAMP=\"\
                    2020-10-15T12:21:29\" DSRC=\"TER\" UTC_SECONDS=\"29\" SHIPNAME=\"ACHILLES\" SHIPTYPE=\"37\" CALLSIGN=\"\
                    SVA6160\" FLAG=\"GR\" LENGTH=\"15\" WIDTH=\"5\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Pleasure Craft\" AIS_TYPE_SUMMARY=\"Pleasure Craft\" DESTINATION=\"CLASS B\" ETA=\"\"\
                    \ CURRENT_PORT=\"KYTHNOS\" LAST_PORT=\"SERIFOS\" LAST_PORT_TIME=\"2020-10-15T07:54:00\" CURRENT_PORT_ID=\"\
                    19\" CURRENT_PORT_UNLOCODE=\"GRKYT\" CURRENT_PORT_COUNTRY=\"GR\" LAST_PORT_ID=\"35\" LAST_PORT_UNLOCODE=\"\
                    GRSER\" LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\
                    \" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"22\" AVG_SPEED=\"5.8\" MAX_SPEED=\"\
                    6.4\"/>\n    <row MMSI=\"354520000\" IMO=\"9478573\" SHIP_ID=\"414629\" LAT=\"37.404170\" LON=\"24.025500\"\
                    \ SPEED=\"137\" HEADING=\"211\" COURSE=\"210\" STATUS=\"0\" TIMESTAMP=\"2020-10-15T12:21:23\" DSRC=\"\
                    TER\" UTC_SECONDS=\"18\" SHIPNAME=\"TTM PHOENIX\" SHIPTYPE=\"70\" CALLSIGN=\"3EUB2\" FLAG=\"PA\" LENGTH=\"\
                    190\" WIDTH=\"32.26\" GRT=\"31532\" DWT=\"55947\" DRAUGHT=\"121\" YEAR_BUILT=\"2010\" ROT=\"0\" TYPE_NAME=\"\
                    Bulk Carrier\" AIS_TYPE_SUMMARY=\"Cargo\" DESTINATION=\"MT MLA\" ETA=\"2020-10-17T02:30:00\" CURRENT_PORT=\"\
                    \" LAST_PORT=\"MILAKI\" LAST_PORT_TIME=\"2020-10-15T07:06:00\" CURRENT_PORT_ID=\"\" CURRENT_PORT_UNLOCODE=\"\
                    \" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"17353\" LAST_PORT_UNLOCODE=\"GRMYL\" LAST_PORT_COUNTRY=\"\
                    GR\" NEXT_PORT_ID=\"118\" NEXT_PORT_UNLOCODE=\"MTMLA\" NEXT_PORT_NAME=\"VALLETTA\" NEXT_PORT_COUNTRY=\"\
                    MT\" ETA_CALC=\"2020-10-16T23:11:00\" ETA_UPDATED=\"2020-10-15T12:07:00\" DISTANCE_TO_GO=\"500\" DISTANCE_TRAVELLED=\"\
                    61\" AVG_SPEED=\"14.3\" MAX_SPEED=\"15.1\"/>\n    <row MMSI=\"205400630\" IMO=\"0\" SHIP_ID=\"6168837\"\
                    \ LAT=\"37.418280\" LON=\"24.595280\" SPEED=\"59\" HEADING=\"511\" COURSE=\"256\" STATUS=\"99\" TIMESTAMP=\"\
                    2020-10-15T12:21:30\" DSRC=\"TER\" UTC_SECONDS=\"30\" SHIPNAME=\"QUATRAILE\" SHIPTYPE=\"36\" CALLSIGN=\"\
                    OP4006\" FLAG=\"BE\" LENGTH=\"14\" WIDTH=\"4\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"\
                    0\" TYPE_NAME=\"Sailing Vessel\" AIS_TYPE_SUMMARY=\"Sailing Vessel\" DESTINATION=\"CLASS B\" ETA=\"\"\
                    \ CURRENT_PORT=\"\" LAST_PORT=\"OLYMPIC MARINE\" LAST_PORT_TIME=\"2020-10-10T06:52:00\" CURRENT_PORT_ID=\"\
                    \" CURRENT_PORT_UNLOCODE=\"\" CURRENT_PORT_COUNTRY=\"\" LAST_PORT_ID=\"17271\" LAST_PORT_UNLOCODE=\"\"\
                    \ LAST_PORT_COUNTRY=\"GR\" NEXT_PORT_ID=\"\" NEXT_PORT_UNLOCODE=\"\" NEXT_PORT_NAME=\"\" NEXT_PORT_COUNTRY=\"\
                    \" ETA_CALC=\"\" ETA_UPDATED=\"\" DISTANCE_TO_GO=\"0\" DISTANCE_TRAVELLED=\"144\" AVG_SPEED=\"7.6\" MAX_SPEED=\"\
                    9.3\"/>\n    <row MMSI=\"240250700\" IMO=\"0\" SHIP_ID=\"6308251\" LAT=\"37.431110\" LON=\"23.544720\"\
                    \ SPEED=\"56\" HEADING=\"511\" COURSE=\"25\" STATUS=\"99\" TIMESTAMP=\"2020-10-15T12:21:08\" DSRC=\"TER\"\
                    \ UTC_SECONDS=\"7\" SHIPNAME=\"ECHO II\" SHIPTYPE=\"36\" CALLSIGN=\"SVA9689\" FLAG=\"GR\" LENGTH=\"13\"\
                    \ WIDTH=\"4\" GRT=\"\" DWT=\"\" DRAUGHT=\"0\" YEAR_BUILT=\"\" ROT=\"0\" TYPE_NAME=\"Sailing Vessel\" AIS_TYPE_SUMMARY=\"\
                    Sailing Vessel\" DESTINATION=\"CLASS B\" ETA=\"\" CURRENT_PORT=\"\" LAST_PORT=\"SPETSES OLD PORT\" LAST_PORT_TIME=\"\
[...]
